@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideBgTop {
  0% {
    transform: translateY(-100%) translateX(-50%);
    animation-timing-function: cubic-bezier(0.815, 0.090, 0.885, 0.140);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) skewY(-20deg);
  }
  100% {
    animation-timing-function: cubic-bezier(0.815, 0.090, 0.885, 0.140);
    transform: translateY(0%) translateX(-50%);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpVertical {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0) rotate(-90deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownVertical {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0) rotate(-90deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInUpVertical {
  from {
    transform: translate3d(0, 100%, 0) rotate(-90deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(-90deg);
    visibility: visible;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInDownVerticalBig {
  from {
    transform: translate3d(0, -2000px, 0) rotate(-90deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(-90deg);
    visibility: visible;
  }
}

@keyframes slideInLeftVBig {
  from {
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
    visibility: visible;
  }
}
