@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Black/Montserrat-Black.woff2') format('woff2'),
		url('../fonts/Montserrat-Black/Montserrat-Black.woff') format('woff'),
		url('../fonts/Montserrat-Black/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff'),
		url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
		url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
		url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
		url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}