.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	a{
		text-decoration: underline;
		color: #6b75d7;
		&:hover{
			text-decoration: none;
		}
	}
}

.responsive-img{
	position: relative;
	display: block;
	background-position: center;
	&:before{
		content: '';
		display: block;
		width: 100%;
		height: 0;
		padding-bottom: cp(1,1)
	}
	>img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&--2x1:before{ padding-bottom: cp(1,2) }
	&--3x2:before{ padding-bottom: cp(2,3) }
	&--4x3:before{ padding-bottom: cp(3,4) }
	&--14x9:before{ padding-bottom: cp(9,14) }
	&--16x9:before{ padding-bottom: cp(9,16) }
}

img[data-object-fit="contain"] { object-fit: contain }

img[data-object-fit="cover"] { object-fit: cover }

img[data-object-fit="scale-down"] { object-fit: scale-down }

img[data-object-fit="none"] { object-fit: none }

.fit-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	> img {
		opacity: 0;
	}

	&--cover{ background-size: cover; }
	&--contain{ background-size: contain; }
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.fp-prev,
.fp-next {
	display: none;
}

img {
	width: 100%;
	height: auto;
}

.link {
	font-weight: 700;
	text-transform: uppercase;
	color: $color-text;

	svg {
		margin-left: 15px;
		stroke: $color-text;
	}

	&:hover,
	&:focus {
		color: $color-orange;
		text-decoration: none;
		svg {
			stroke: $color-orange;
		}
	}
}

.back {
	svg {
		stroke: currentColor;
	}
	&--white {
		svg {
			stroke: #fff;
		}
	}
}

.page-number {
	position: fixed;
	left: 40px;
	bottom: 30px;
	z-index: 2;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $color-text;
	line-height: 20px;
	&::before {
		content: "";
		display: block;
		margin: 0 10px;
		width: 60px;
		height: 1px;
		background-color: currentColor;
	}
	&__quantity {
		order: -1;
	}
	&.black {
		color: #fff;
	}
	@include media-breakpoint-up(lg) {
		left: 147px;
		bottom: 50px;
	}
}
.simplebar-track.simplebar-vertical {
	width: 6px;
	background-color: #dfdfdf;
	.simplebar-scrollbar::before {
		top: 0;
		bottom: 0;
	}
}
.simplebar-track {
	.simplebar-scrollbar.simplebar-visible::before {
		opacity: 1;
	}
}
.simplebar-scrollbar {
	right: 0;
	width: 6px;
	&::before {
		background-color: $color-orange;
		border-radius: 0;
		opacity: 1;
	}
}
.simplebar-content-wrapper {
	overflow-y: scroll !important;
}

/*Animation classes*/
.fadeInUp {
	animation-name: fadeInUp;
	animation-fill-mode: forwards;
}
.fadeInUpVertical {
	animation-name: fadeInUpVertical;
	animation-fill-mode: forwards;
}
.fadeInDown {
	animation-name: fadeInDown;
	animation-fill-mode: forwards;
}
.fadeInDownVertical {
	animation-name: fadeInDownVertical;
	animation-fill-mode: forwards;
}
.fadeInLeft {
	animation-name: fadeInLeft;
	animation-fill-mode: forwards;
}
.fadeInRight {
	animation-name: fadeInRight;
	animation-fill-mode: forwards;
}
.slideInRight {
	animation-name: slideInRight;
	animation-fill-mode: forwards;
}
.slideInLeft {
	animation-name: slideInLeft;
	animation-fill-mode: forwards;
}
.slideInDown {
	animation-name: slideInDown;
	animation-fill-mode: forwards;
}
.slideInUp {
	animation-name: slideInUp;
	animation-fill-mode: forwards;
}
.slideInUpVertical {
	animation-name: slideInUpVertical;
	animation-fill-mode: forwards;
}
.slideInLeftVBig {
	animation-name: slideInLeftVBig;
	animation-fill-mode: forwards;
}
.slideInDownVerticalBig {
	animation-name: slideInDownVerticalBig;
	animation-fill-mode: forwards;
}
/*Animation classes*/
