input,textarea,button{
	box-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: vertical;
}

a,input,textarea,button {
	&:focus{
		outline: none;
	}
}

ul,ol,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
}
time{display: block;}

a{
	text-decoration: none;
	color: inherit;
	&:hover,
	&:focus{
		color: inherit;
		text-decoration: none;
	}
}

hr,
.hr{
	height: 1px;
	margin: 2em 0;
	border: 0;
	background: #f2f2f2;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
	margin: 0 0 0.5rem;
	line-height: 1.5;
}

h1, .h1,
h2, .h2 {
	font-size: 24px;
	@include media-breakpoint-up(lg) {
		font-size: 33px;
		line-height: 1.2;
	}
}

.content-style{
	font-weight: 300;
	// img, picture {
	// 	display: block;
	// 	max-width: 100%;
	// 	height: auto;
	// 	margin: 1em auto;
	// }
	b {
		font-weight: 500;
		line-height: 22px;
	}
	p{
		line-height: 22px;
		img,
		picture {
			float: right;
			margin: 0 0 0.5em 0.5em;
		}
	}
	ul {
		list-style: none;
	}
	ol {
		margin: 0;
		list-style-position: inside;
		// counter-reset: olList1;
		// li{
		// 	list-style: none;
		// 	padding-left: 17px;
		// 	position: relative;
		// 	&:before{
		// 		position: absolute;
		// 		top: 0px;
		// 		left: -5px;

		// 		counter-increment: olList1;
		// 		content: counter(olList1) ".";
		// 	}
		// }

		// ol{
		// 	margin: 0;
		// 	counter-reset: olList2;
		// 	li {
		// 		padding-left: 27px;
		// 		&:before{
		// 			counter-increment: olList2;
		// 			content: counter(olList1) "." counter(olList2) ".";
		// 		}
		// 	}
		// 	ol{
		// 		margin: 0;
		// 		counter-reset: olList3;
		// 		li {
		// 			padding-left: 37px;
		// 			&:before{
		// 				counter-increment: olList3;
		// 				content: counter(olList1) "." counter(olList2) "." counter(olList3) ".";
		// 			}
		// 		}
		// 	}
		// }
	}

	$black-15: rgba(0, 0, 0, .15);
	table {
		display: inline-block;
		border-spacing: 0;
		border-collapse: collapse;
		overflow-x: auto;
		max-width: 100%;
		// width: 100%;
		text-align: left;
		vertical-align: top;
		background: linear-gradient($black-15 0, $black-15 100%) 0 0, linear-gradient($black-15 0, $black-15 100%) 100% 0;
		background-attachment: scroll, scroll;
		background-size: 1px 100%, 1px 100%;
		background-repeat: no-repeat, no-repeat;
		@include media-breakpoint-up(md) {
			display: table;
			width: 100%;
			background: none;
		}
		caption {
			font-size: .9em;
			background: #fff;
		}
		td ,
		th {
			padding: 1em .75em;
			vertical-align: top;
			border: 1px solid $color-dimmed;
			border-top: 0;
			border-left: 0;
			&:first-child {
				padding-left: 0;
				background-image: linear-gradient(to right, #fff 50%, rgba(255, 255, 255, 0) 100%);
				background-size: 2px 100%;
				background-repeat: no-repeat;
			}
			&:last-child {
				padding-right: 0;
				border-right: 0;
				background-image: linear-gradient(to left, #fff 50%, rgba(255, 255, 255, 0) 100%);
				background-position: 100% 0;
				background-size: 2px 100%;
				background-repeat: no-repeat;
			}
			&:only-child {
				background-image: linear-gradient(to right, #fff 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, #fff 50%, rgba(255, 255, 255, 0) 100%);
				background-position: 0 0, 100% 0;
				background-size: 2px 100%, 2px 100%;
				background-repeat: no-repeat, no-repeat;
			}
		}
		th {
			font-weight: $fw-medium;
			line-height: 1.2;
			// border: solid #DDDDDD;
			// border-width: 0 0 2px;
		}
	}
}