.footer {
	// color: #fff;
	// background-color: $color-text;
	padding-right: 40px;

	@include media-breakpoint-up(lg) {
		padding-left: 147px;
		flex-direction: row;
		align-items: center;
	}

	&__text {
		position: relative;
		z-index: 1;
		margin-bottom: 40px;
		max-width: 587px;
		font-size: 16px;
		line-height: 28px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			padding: 0;
			padding-right: 225px;
		}
	}

	&__link {
		display: inline-block;
		vertical-align: top;
		position: absolute;
		left: 0;
		bottom: -50px;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 130px;
			height: 1px;
			background-color: $color-orange;
			transform: translateY(-50%);
		}

		svg {
			stroke: $color-orange;
		}

		@include media-breakpoint-up(lg) {
			left: auto;
			right: 185px;
			bottom: 0;
		}
	}

	&__copyright {
		position: absolute;
		right: 20px;
		bottom: 20px;
		max-width: 166px;
		font-size: 10px;
		text-align: right;
		text-transform: uppercase;

		@include media-breakpoint-up(lg) {
			max-width: none;
			right: 30px;
			bottom: 50px;
			font-size: 12px;
		}

		@include media-breakpoint-up(xl) {
			right: 50px;
		}
	}

	&__decor {
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
			position: absolute;
			// z-index: -1;
			background-repeat: no-repeat;

			&--f {
				top: 19.53125%;
				left: 6.4453125%;
				width: 166px;
				height: 389px;
				background-image: url("../img/theme/footer-decor-f.svg");
			}

			&--a {
				top: 59.5052083%;
				left: 21.2890625%;
				width: 137px;
				height: 194px;
				background-image: url("../img/theme/footer-decor-a.svg");
			}

			&--c {
				top: 29.1666667%;
				left: 34.0820312%;
				width: 86px;
				height: 146px;
				background-image: url("../img/theme/footer-decor-c.svg");
			}

			&--e {
				top: 59.5052083%;
				left: 43.0664062%;
				width: 97px;
				height: 137px;
				background-image: url("../img/theme/footer-decor-e.svg");
			}

			&--c2 {
				top: 37.3697917%;
				left: 54.9804688%;
				width: 89px;
				height: 153px;
				background-image: url("../img/theme/footer-decor-c2.svg");
			}

			&--o {
				top: 54.5572917%;
				left: 65.234375%;
				width: 168px;
				height: 238px;
				background-image: url("../img/theme/footer-decor-o.svg");
			}

			&--m {
				top: 25%;
				left: 74.5117188%;
				width: 192px;
				height: 199px;
				background-image: url("../img/theme/footer-decor-m.svg");
			}
		}

		@include media-breakpoint-up(xl) {
			&--f {
				width: 233px;
			}

			&--a {
				width: 193px;
			}

			&--c {
				width: 121px;
			}

			&--e {
				width: 137px;
			}

			&--c2 {
				width: 126px;
			}

			&--o {
				width: 237px;
			}

			&--m {
				width: 271px;
			}
		}
	}

	&__scene {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__layer {
		width: 100%;
		height: 100%;
	}

	&__form {
		position: relative;
		z-index: 1;
		width: 100%;
		max-width: 360px;
		color: #a6a6a6;
		transition: all 0.3s ease-out;
		transform: translateY(100px);
		opacity: 0;
		visibility: hidden;

		&.show {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}
}