.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	width: 100%;
	color: $color-text;
	visibility: hidden;
	transform: translate3d(0, -100%, 0);
	animation-duration: 1s;
	animation-timing-function: ease-in-out;

	&.black {
		color: #fff;
		.header__top {
			background-color: rgb(0, 0, 0);
			box-shadow: none;
		}
	}
	&.orange {
		color: #fff;
		.header__top {
			background-color: $color-orange;
			box-shadow: 0px 4px 4px rgba(115, 43, 0, 0.25);
		}
		@include media-breakpoint-up(lg) {
			.header__top {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}
	&.white-black {
		color: #fff;
		.header {
			&__top {
				background-color: rgb(0, 0, 0);
				box-shadow: none;
			}
			@include media-breakpoint-up(lg) {
				&__search,
				&__phone {
					color: $color-text;
				}
				&__top {
					background-color: transparent;
				}
			}
			@include media-breakpoint-up(xl) {
				&__lang {
					color: $color-text;
				}
			}
		}
	}
	&.black-white {
		.header {
			@include media-breakpoint-up(lg) {
				&__search,
				&__phone {
					color: #fff;
				}
			}
			@include media-breakpoint-up(xl) {
				&__lang {
					color: #fff;
				}
			}
		}
	}
	&.orange-white-black {
		color: #fff;
		.header {
			&__top {
				background-color: $color-orange;
				box-shadow: 0px 4px 4px rgba(115, 43, 0, 0.25);
			}
			@include media-breakpoint-up(lg) {

				&__search,
				&__phone {
					color: $color-text;
				}

				&__top {
					background-color: transparent;
					box-shadow: none;
				}
			}
			@include media-breakpoint-up(xl) {
				&__lang {
					color: $color-text;
				}
			}
		}
	}
	&.black-op {
		.header {
			&__top {
				color: #fff;
				background-color: rgba(0, 0, 0, 0.9);
			}
			@include media-breakpoint-up(lg) {
				&__top {
					color: $color-text;
					background-color: transparent;
				}
			}
		}
	}
	&.black-op-white-black {
		color: #fff;
		.header {
			&__top {
				background-color: rgba(0, 0, 0, 0.9);
				box-shadow: none;
			}
			@include media-breakpoint-up(lg) {
				&__search,
				&__phone {
					color: $color-text;
				}

				&__top {
					background-color: transparent;
				}
			}

			@include media-breakpoint-up(xl) {
				&__lang {
					color: $color-text;
				}
			}
		}
	}
	&.absolute {
		position: absolute;
	}

	@include media-breakpoint-up(lg) {
		padding: 45px 50px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		&.black {
			.header__top {
				background-color: transparent;
			}
		}
	}
	&__top,
	&__bottom {
		position: relative;
		z-index: 4;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	&__top {
		padding: 17px 30px;
		background-color: #fff;
		box-shadow: 0 4px 4px rgba(213, 213, 213, 0.25);
		@include media-breakpoint-up(lg) {
			flex-grow: 1;
			padding: 0;
			box-shadow: none;
			background-color: transparent;
		}
	}

	&__bottom {
		flex-shrink: 0;
		padding: 23px 30px;
		display: flex;
		align-items: center;

		@include media-breakpoint-up(lg) {
			padding: 0;
			margin-left: 80px;
		}

		@include media-breakpoint-up(xl) {
			margin-left: 85px;
		}
	}

	&__menu-btn {
		position: relative;
		margin-right: 35px;
		width: 22px;
		height: 20px;
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 22px;
			height: 4px;
			background-color: $color-orange;
			transition: all 0.3s ease-in-out;
		}
		&::before {
			top: 0;
			box-shadow: 0 8px 0 $color-orange;
		}
		&::after {
			bottom: 0;
		}
		&--black {
			&::before,
			&::after {
				background-color: #000;
			}
			&::before {
				box-shadow: 0 8px 0 #000;
			}
		}
		&--white {
			&::before,
			&::after {
				background-color: #fff;
			}

			&::before {
				box-shadow: 0 8px 0 #fff;
			}
			&.active {
				&::before,
				&::after {
					background-color: $color-orange;
				}
			}
		}
		&.active {
			&::before {
				top: 8px;
				box-shadow: none;
				transform: rotate(45deg);
			}
			&::after {
				bottom: 8px;
				transform: rotate(-45deg);
			}
		}
		@include media-breakpoint-up(lg) {
			margin-right: 75px;
		}
	}

	&__logo {
		svg {
			width: 124px;
			height: 26px;
			fill: currentColor;
		}
		@include media-breakpoint-up(lg) {
			// margin-right: 245px;
			svg {
				width: 147px;
				height: 30px;
			}
		}
		@include media-breakpoint-up(xl) {
			// margin-right: 635px;
		}
	}

	&__search {
		position: relative;
		margin-left: auto;
		@include media-breakpoint-up(lg) {
			margin-left: 0;
		}
	}

	&__search-field {
		position: absolute;
		right: 0;
		bottom: -30px;
		padding: 0;
		width: 0;
		height: 30px;
		color: currentColor;
		border: none;
		border-bottom: 1px solid currentColor;
		background-color: transparent;
		&::placeholder {
			color: currentColor;
		}
		@include media-breakpoint-up(lg) {
			position: static;
		}
	}

	&__search-btn {
		display: inline-block;
		vertical-align: top;
		width: 30px;
		height: 30px;
		color: currentColor;

		svg {
			fill: currentColor;
			stroke: currentColor;
		}

		&:hover,
		&:active {
			svg {
				fill: currentColor;
				stroke: currentColor;
			}
		}
	}

	&__phone {
		font-weight: 500;
		svg {
			margin-right: 13px;
			width: 19px;
			height: 20px;
			fill: currentColor;
		}
	}

	&__lang {
		margin-left: auto;
		&--top {
			display: none;
		}
		@include media-breakpoint-up(lg) {
			// margin-left: none;
			&--top {
				display: block;
				margin-right: 130px;
			}
			&--bottom {
				display: none;
			}
		}
	}

	&__lang-link {
		margin-right: 15px;
		text-transform: uppercase;
		&:last-child {
			margin-right: 0;
		}
		&--current {
			font-weight: 700;
		}

		@include media-breakpoint-up(lg) {
			margin-right: 25px;
		}
	}
}

.top-nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	padding-top: 133px;
	color: $color-text;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: -20%;
		left: 50%;
		z-index: -1;
		width: 100%;
		height: 120%;
		transform: translateX(-50%);
		background-color: #fff;
	}

	&.active {
		min-height: 100vh;
		height: 100%;
		opacity: 1;
		visibility: visible;
		overflow-y: auto;
		overflow-x: hidden;

		&::before {
			animation: slideBgTop 1s forwards;
		}

		.top-nav {
			&__item,
			&__social-list {
				animation: slideInDown 0.5s 0.8s forwards;
			}
		}

		@include media-breakpoint-up(lg) {
			display: block;
			padding-top: 120px;

			&.active {
				min-height: auto;
				height: auto;
			}
		}
	}

	&__wrapper {
		position: relative;
		flex-grow: 1;
		@include media-breakpoint-up(lg) {
			display: flex;
			padding: 0 50px 15px 100px;
		}
	}

	&__menu-container {
		@include media-breakpoint-up(lg) {
			flex-shrink: 0;
			width: 30%;
			&:first-child {
				width: 40%;
			}
		}
		@include media-breakpoint-up(xl) {
			width: 30%;
			&:first-child {
				width: 30%;
			}
		}
	}

	&__level {
		margin: 0;
		padding: 0 30px 25px;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		list-style: none;

		&--sub {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in-out;
			font-size: 16px;
			text-transform: none;
			background-color: #fff;
			&.active {
				transform: translateX(0);
			}
		}

		@include media-breakpoint-up(lg) {
			padding-left: 0;
			padding-right: 0;

			&--sub {
				position: static;
				display: none;
				transform: translateX(0);
				& .top-nav__item {
					padding-left: 0;
				}
				&.active {
					.top-nav__item {
						animation-delay: 0;
					}
				}
			}

			&.active {
				display: block;
				animation-name: fadeEffect;
				animation-duration: 0.5s;
				animation-timing-function: ease-in-out;
			}
		}

		@include media-breakpoint-up(xl) {
			&--sub {
				padding-left: 15px;
			}
		}
	}

	&__item {
		position: relative;
		margin-bottom: 5px;
		transform: translateY(40px);
		visibility: hidden;
		transition: all 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
		transition-delay: 0.5s;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 1px;
			background-color: currentColor;
			transform: translate(-100%, -50%);
			transition: transform 0.3s ease-in-out;
		}

		&.active {
			&::before {
				transform: translate(0, -50%);
			}
		}

		@include media-breakpoint-up(lg) {
			padding-left: 30px;
		}
	}

	&__social-list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0;
		padding: 25px 30px 25px 50px;
		list-style: none;
		visibility: hidden;
		transition: opacity 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
		transition-delay: 1s;
		box-shadow: inset 0 4px 4px rgba(213, 213, 213, 0.25);
		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 120px;
			left: 0;
			bottom: 0;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			box-shadow: none;
			background-color: #fff;
		}

		@include media-breakpoint-up(xl) {
			display: none;
		}
	}

	&__social {
		width: 22px;
		height: 22px;
		text-align: center;
		line-height: 22px;
		&:last-child {
			svg {
				fill: $color-orange;
			}
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 45px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__link{
		background-color: #fff;
		&:hover {
			color: $color-text;
			font-weight: 800;
			text-decoration: none;
		}
		@include media-breakpoint-up(lg) {
			padding: 5px 15px;
		}
	}
}
