.wrap{
	position: relative;
	padding-left: 40px;
	@include media-breakpoint-up(lg) {
		padding-left: 105px;
	}
	@include media-breakpoint-up(xl) {
		padding-left: 147px;
	}
}

.page {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 133px 0 50px;
	background-color: #fff;
	overflow: hidden;
	&--black {
		color: #fff;
		background-color: $color-text;
	}
	&--gray {
		background-color: $color-gray;
	}
	&--orange {
		color: #fff;
		background-color: $color-orange;
	}
	&--fullpage {
		padding-bottom: 80px;
	}

	@include media-breakpoint-up(lg) {
		padding: 107px 0 50px;
		&--fullpage {
			padding-bottom: 50px;
		}
	}
}
