.section(block="about-us")
  section.page.page--fullpage
    .wrap
      div(elem="wrapper")
        h2(elem="title") Ещё больше<br>о Facecom
        p(elem="text") Мы — маркетологи, увлеченные решением коммерческих и бизнес задач наших клиентов. Каждый день наши специалисты, работая в команде, создают тренды современного маркетинга, изучают и тестируют новые механики с одной целью — увеличить прибыль наших клиентов.
      div(elem="img")
        .responsive-img
          img.lazyload(data-src="img/media/facecom-team.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
        div(elem="decor") O&nbsp;Facecom
      +link("Узнать больше")
