.section(block="appeal")
  section.page.page--fullpage
    .wrap
      +breadcrumbs(['Главная'], 'О нас')
      h2.d-lg-none(elem="title") Обращение директора
      .row
        div.col-lg-6.col-xl-4(elem="photo")
          div.responsive-img(elem="img")
            img.lazyload(data-src="img/media/appeal-photo.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
        div.col-lg-6.col-xl-8(elem="text")
          h2.d-none.d-lg-block(elem="title") Обращение директора
          p Мы – маркетинговая компания Facecom Marketing & Branding и я ее директор по маркетингу Александр Ильяшенко.
          div(elem="column")
            p С 2011 года наша команда создает крутые проекты в сфере digital, а также разных областях экономики, промышленности, внутренней и внешней торговли.
            p Мы помогаем увеличивать продажи и прибыль, экономическое благосостояние компаний наших клиентов как для регионального, так и для международного бизнеса.
            p До сих пор я, уже имея очень богатый опыт и знания, не перестаю учиться - ведь развитие рынка сегодня движется настолько быстро и порой непредсказуемо, что игнорировать новшества, изменения и рыночные тренды - означает оказаться вне рынка.
            p Мою позицию разделяет наша молодая и талантливая команда, ведь компетентность и искренняя заинтересованность в развитии бизнеса наших заказчиков, дает нам мотивацию постоянно быть на связи, уметь своевременно реагировать на возникающие задачи, точно понимать пожелания клиентов и реализовывать крутые проекты по максимально качественно.
            p Мы рады и благодарны, что наш подход, команду и качество высоко ценят клиенты на протяжении многих лет. Мы дорожим своей репутацией, и стремимся быть лучшими специалистами в своём деле.
