mixin casesSlider(section)
  div(block="cases-slider" mod=section data-section=section)
    div.swiper-container.js-cases-thumb-slider(elem="thumb-slider")
      button.d-none.d-lg-block.btn.js-cases-prev(elem="slider-button" mod="prev, white" type="button" aria-label="Назад")
        +svg('prev')(width="30px" height="14px")
      .swiper-wrapper
        div.swiper-slide(elem="thumb-slide")
        div.swiper-slide(elem="thumb-slide")
        div.swiper-slide(elem="thumb-slide")
        div.swiper-slide(elem="thumb-slide")
      button.d-none.d-lg-block.btn.js-cases-next(elem="slider-button" mod="next, white" type="button" aria-label="Вперед")
        +svg('next')(width="50px" height="14px")
    div.swiper-container.js-cases-slider(elem="slider")
      .swiper-wrapper
        div.swiper-slide(elem="slide")
          div.swiper-container.js-cases-gallery(elem="gallery")
            .swiper-wrapper
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
        div.swiper-slide(elem="slide")
          div.swiper-container.js-cases-gallery(elem="gallery")
            .swiper-wrapper
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
        div.swiper-slide(elem="slide")
          div.swiper-container.js-cases-gallery(elem="gallery")
            .swiper-wrapper
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
        div.swiper-slide(elem="slide")
          div.swiper-container.js-cases-gallery(elem="gallery")
            .swiper-wrapper
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса
              div.swiper-slide(elem="gallery-item")
                a(elem="link" href="#")
                  div.responsive-img(elem="image")
                    img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="name") Название кейса