.section(block="clients" mod="map")
  section.page.page--black.page--fullpage(data-color="black")
    .wrap
      h2(elem="title") Наши клиенты
      div(elem="decor") Наши клиенты
      div.js-map(elem="map")
        +svg('map')(width="974px" height="542px")
        div(elem="points")
          button.btn.js-map-point.active(elem="point" style="top: 33.0845771%; left: 56.0165975%;") Москва
          button.btn.js-map-point(elem="point" style="top: 37.3134328%; left: 56.846473%;") Волгоград
      ul(elem="list")
        li(elem="item" mod="client") Наши клиенты
        li.js-map-city(elem="item" mod="city") Москва
