.section(block="clients" mod="statistic")
  section.page.page--black.page--fullpage(data-color="black")
    .wrap
      h2(elem="title") Наши клиенты
      div(elem="decor") Наши клиенты
      p стратегический подход в продажах и маркетинге, посредством которого организация рассматривает перспективного или существующего покупателя, как отдельный рынок, и соответствующим образом строит свою коммуникацию.
      ul(elem="statistic")
        li(elem="statistic-item")
          div(elem="statistic-value")
            span.js-number(data-from="0" data-to="94") 0
            | %
          span(elem="statistic-text") Информация для графики
        li(elem="statistic-item")
          div(elem="statistic-value")
            span.js-number(data-from="0" data-to="94") 0
            | %
          span(elem="statistic-text") Информация для графики
        li(elem="statistic-item")
          div(elem="statistic-value")
            span.js-number(data-from="0" data-to="94") 0
            | %
          span(elem="statistic-text") Информация для графики
      div(elem="slider")
        div.swiper-container.js-client-slider
          .swiper-wrapper
            div.swiper-slide(elem="slide")
              img(src="img/media/client-1.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-2.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-3.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-4.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-5.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-6.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-7.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-8.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-9.png" alt="")
            div.swiper-slide(elem="slide")
              img(src="img/media/client-10.png" alt="")
        button.btn.btn--slider.js-slider-button-prev(elem="slider-button" mod="prev")
          +svg("prev-2")(width="9px" height="15px")
        button.btn.btn--slider.js-slider-button-next(elem="slider-button" mod="next")
          +svg("next-2")(width="9px" height="15px")
