.section(block="features")
  section.page.page--fullpage.js-feature-page
    .wrap
      div#cursor(elem="cursor")
      input.visuallyhidden.js-toggle-theme(type="checkbox" id="trigger-color")
      label(for="trigger-color" elem="trigger-color")
      div.swiper-container.js-top-slider-thumb(elem="slider-thumb")
        .swiper-wrapper
          div.swiper-slide.js-top-thumb.js-cursor-hovered.active(elem="slide-thumb")
            a(elem="link" href="#") стратегия
          div.swiper-slide.js-top-thumb.js-cursor-hovered(elem="slide-thumb")
            a(elem="link" href="#") дизайн
          div.swiper-slide.js-top-thumb.js-cursor-hovered(elem="slide-thumb")
            a(elem="link" href="#") smm
      div.swiper-container.js-top-slider(elem="slider")
        .swiper-wrapper
          div.swiper-slide.js-top-slide.show(elem="slide")
            ul(elem="images" data-letter="с")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/work.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/photo-2.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/photo-3.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            p(elem="text") Конъюнктура разработанная на основании изучения потребительского спроса, действий конкурентов общее направление деятельности компании на определенный период.
          div.swiper-slide.js-top-slide(elem="slide")
            ul(elem="images" data-letter="д")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/work.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/photo-2.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/photo-3.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            p(elem="text") Конъюнктура разработанная на основании изучения потребительского спроса, действий конкурентов общее направление деятельности компании на определенный период.
          div.swiper-slide.js-top-slide(elem="slide")
            ul(elem="images" data-letter="s")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/work.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/photo-2.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              li.responsive-img(elem="image")
                img.lazyload(data-src="img/media/photo-3.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            p(elem="text") Конъюнктура разработанная на основании изучения потребительского спроса, действий конкурентов общее направление деятельности компании на определенный период.
