.section(block="footer")
  section.page.page--black.page--fullpage(data-color="black")
    .wrap
      p(elem="text") Хотите, чтобы крутая команда маркетологов, дизайнеров, SMM специалистов работала и создавала для вас впечатления, свяжитесь с нами
        a.js-footer-open-modal(elem="link" href=href)
          +svg("next")(width="50px" height="20px")
      form.form-dark.js-footer-form(elem="form" action="" method="")
        .form-group
          label.visuallyhidden(for="name") Имя
          input.form-control(type="text" id="name" name="name" placeholder="Имя")
        .form-group
          label.visuallyhidden(for="phone") Телефон
          input.form-control.js-tel(type="tel" id="phone" name="phone" placeholder="Телефон")
        .form-group
          textarea.form-control(name="message" rows="1" placeholder="Сообщение")
        .text-right
          button.btn.btn--submit(type="submit") Отправить
      span(elem="copyright") Все права защищены &copy; 2019 Фэйском ООО
    ul#scene(elem="scene")
      li(elem="layer" data-depth="1.1")
        div(elem="decor" mod="f")
      li(elem="layer" data-depth="1.2")
        div(elem="decor" mod="a")
      li(elem="layer" data-depth="1.3")
        div(elem="decor" mod="c")
      li(elem="layer" data-depth="1.4")
        div(elem="decor" mod="e")
      li(elem="layer" data-depth="1.5")
        div(elem="decor" mod="c2")
      li(elem="layer" data-depth="1.6")
        div(elem="decor" mod="o")
      li(elem="layer" data-depth="1.7")
        div(elem="decor" mod="m")
