.section(block="news-section")
  section.page.page--black.page--fullpage.js-animate-element(data-color="black")
    .wrap
      h2(elem="title") Новости
      div.swiper-container.js-news-slider(elem="slider")
        .swiper-wrapper
          div.swiper-slide.is-animated(elem="slide" data-animation="slideInDown")
            a(elem="link" mod="slide" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              h3(elem="sub-title") Какие-то инфоповоды
              p(elem="text") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
          div.swiper-slide.is-animated(elem="slide" data-animation="slideInUp")
            a(elem="link" mod="slide" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              h3(elem="sub-title") Открытие типографии
              p(elem="text") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
          div.swiper-slide.is-animated(elem="slide" data-animation="slideInDown")
            a(elem="link" mod="slide" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              h3(elem="sub-title") Digital
              p(elem="text") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
          div.swiper-slide.is-animated(elem="slide" data-animation="slideInUp")
            a(elem="link" mod="slide" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              h3(elem="sub-title") Маркетинг и жизнь
              p(elem="text") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
      +link("Ещё Новости")
