.section
  .slide
    section.page.page--fullpage(block="numbers")
      .wrap
        div(elem="decor")
        +breadcrumbs(['Главная'], 'О нас')
        h2(elem="title") Фейском в цифрах
        p Наша компания разрабатывает стратегии для бизнеса, создает и улучшает репутацию бренда или личности, повышает продажи и увеличивает прибыль, помогает бизнесу во всем мире находить своих довольных клиентов.
        ul.row.justify-content-lg-around.justify-content-lg-start(elem="list")
          li.col-6.col-lg-2(elem="item")
            b.js-number(data-to="500000" data-from="0") 0
            | Довольных<br>клиентов
          li.col-6.col-lg-2(elem="item")
            b.js-number(data-to="6500" data-from="0") 0
            | Выполненных<br>проектов
          li.col-6.col-lg-2(elem="item")
            b на
              span.js-number(data-to="150" data-from="0") 0
              | %
            | Повышение<br>охватов
          li.col-6.col-lg-2(elem="item")
            b
              span.js-number(data-to="1000000" data-from="0") 0
              |  +
            | Нестандартных<br>решений
          li.col-6.col-lg-2(elem="item")
            b.js-number(data-to="2000" data-from="0") 0
            | Реализованных<br>стратегий
          li.col-6.col-lg-12.col-xl-2.text-lg-center.text-xl-left(elem="item")
            button.btn.js-skills(elem="link" type="button")
              | Skills
              +svg("next")(width="45px" height="14px")
  .slide
    include _skills.pug
