.section(block="partners")
  section.page.page--fullpage
    .wrap
      +breadcrumbs(['Главная'], 'О нас')
      h2(elem="title") Мы партнеры
      .row
        div.col-lg-6.col-xl-5(elem="left")
          b My target
          p Компания Facecom Marketing & Branbing является официальным представителем компании Mail.Ru Group и сертифицированным партнером системы My.Target.
          p MyTarget – это рекламная платформа Mail.Ru Group, которая объединяет все крупнейшие в России и СНГ социальные сети и сервисы с общим охватом более 140 млн. человек.
        div.col-lg-6.col-xl-7(elem="right")
          span С помощью данной платформы Мы можем:
          ul
            li Охватить каждого мобильного пользователя в рунете
            li Обратиться к Вашим будущим клиентам
            li Избавиться от ботов и скликиваний
            li Использовать динамический ретаргетинг по посетителям сайтов и CRM
            li Настраивать рекламную кампанию на Целевую Аудиторию
          p И еще огромное количество инструментов, которые помогут сделать рекламу максимально конверсионной
