.section(block="projects")
  section.page.page--gray
    .wrap
      h2(elem="title") Наши проекты
      div.swiper-container.js-projects-thumb-slider(elem="thumb-slider")
        .swiper-wrapper
          div.swiper-slide(elem="thumb-slide")
          div.swiper-slide(elem="thumb-slide")
          div.swiper-slide(elem="thumb-slide")
          div.swiper-slide(elem="thumb-slide")
      div.swiper-container.js-projects-slider(elem="slider")
        .swiper-wrapper
          div.swiper-slide(elem="slide")
            h3(elem="sub-title") Дизайн
            p(elem="text") Команда маркетологов Facecom каждый год создает и реализует более 200 рекламных и маркетинговых проектов.
            div.swiper-container.js-projects-gallery(elem="gallery")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
          div.swiper-slide(elem="slide")
            h3(elem="sub-title") Дизайн
            p(elem="text") Команда маркетологов Facecom каждый год создает и реализует более 200 рекламных и маркетинговых проектов.
            div.swiper-container.js-projects-gallery(elem="gallery")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
          div.swiper-slide(elem="slide")
            h3(elem="sub-title") Дизайн
            p(elem="text") Команда маркетологов Facecom каждый год создает и реализует более 200 рекламных и маркетинговых проектов.
            div.swiper-container.js-projects-gallery(elem="gallery")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
          div.swiper-slide(elem="slide")
            h3(elem="sub-title") Дизайн
            p(elem="text") Команда маркетологов Facecom каждый год создает и реализует более 200 рекламных и маркетинговых проектов.
            div.swiper-container.js-projects-gallery(elem="gallery")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
                div.swiper-slide(elem="gallery-item")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/prj-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="placeholder")
                      div(elem="name") Название проекта
      div.d-flex(elem="actions")
        button.btn.btn--slider-prev.js-projects-prev(elem="prev" type="button" aria-label="Назад")
          +svg('prev')(width="30px" height="14px")
        a.btn.btn--order.js-ajax-modal(href="ajax/modal-connect.html" elem="button-order") Заказать
        button.btn.btn--slider-next.js-projects-next(elem="next" type="button" aria-label="Вперед")
          +svg('next')(width="50px" height="14px")
