.section(block="reviews")
  section.page.page--fullpage
    .wrap
      h2(elem="title") Что говорят о нас наши клиенты!
      p(elem="text") Ключевая задача наших специалистов — создавать и оптимизировать маркетинговую активность с целью увеличить продажи и прибыль каждого нашего клиента
      div.swiper-container.js-review-slider(elem="slider")
        .swiper-wrapper
          div.swiper-slide(elem="slide")
            a(elem="link" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/review.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="review") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
              span(elem="client") Информация о клиенте.<br>От кого отзыв.
          div.swiper-slide(elem="slide")
            a(elem="link" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/review.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="review") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
              span(elem="client") Информация о клиенте.<br>От кого отзыв.
          div.swiper-slide(elem="slide")
            a(elem="link" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/review.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="review") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
              span(elem="client") Информация о клиенте.<br>От кого отзыв.
          div.swiper-slide(elem="slide")
            a(elem="link" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/review.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="review") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
              span(elem="client") Информация о клиенте.<br>От кого отзыв.
          div.swiper-slide(elem="slide")
            a(elem="link" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/review.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="review") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
              span(elem="client") Информация о клиенте.<br>От кого отзыв.
          div.swiper-slide(elem="slide")
            a(elem="link" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/review.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="review") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
              span(elem="client") Информация о клиенте.<br>От кого отзыв.
          div.swiper-slide(elem="slide")
            a(elem="link" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/review.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="review") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
              span(elem="client") Информация о клиенте.<br>От кого отзыв.
          div.swiper-slide(elem="slide")
            a(elem="link" href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/review.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="review") Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
              span(elem="client") Информация о клиенте.<br>От кого отзыв.
      div(elem="slider-actions")
        button.btn.btn--slider-prev.js-review-prev(type="button" aria-label="Назад")
          +svg('prev')(width="30px" height="14px")
        div.js-review-number(elem="slide-number")
        button.btn.btn--slider-next.js-review-next(type="button" aria-label="Вперед")
          +svg('next')(width="50px" height="14px")
