.section(block="services")
  section.page.page--fullpage
    .wrap
      h2(elem="title") Наши компетенции
      div(elem="counter") 01
      div(elem="wrapper")
        div.swiper-container.js-services-slider(elem="slider")
          .swiper-wrapper
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-1.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-2.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-3.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-4.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-5.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-6.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-7.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-8.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide.responsive-img(elem="slide")
              img.lazyload(data-src="img/media/service-9.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
        div.swiper-container.js-services-thumb-slider(elem="thumb-slider")
          .swiper-wrapper
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") Digital-маркетинг
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") SMM-продвижение
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") Управление репутацией
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") PR
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") Стратегический маркетинг
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") Исследование и анализ
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") Разработка фирменного стиля
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") Event-маркетинг
            div.js-services-thumb.swiper-slide(elem="thumb-slide")
              a(elem="link" href="#") Создание визуального контента
      a.btn.btn--order.js-ajax-modal(elem="button" href="ajax/modal-connect.html") Заказать
