section.page.page--fullpage(block="skills")
  .wrap
    +breadcrumbs(['Главная'], 'О нас')
    h2(elem="title") Наши скилы
    ol.row(elem="list")
      li.col-lg-6.col-xl-4(elem="skill")
        p Полный спектр маркетинговых услуг Мы оказываем комплексное эффективное решение поставленных задач и максимальную оптимизацию ресурсов.
      li.col-lg-6.col-xl-4(elem="skill")
        p Экспертная работа с каждым каналом Наша команда экспертных специалистов внедряет оптимизированные решения продвижения эффективной рекламы. Услуги сертифицированы сервисами: Яндекс.Директ, Google AdWords, Google Analytics, Яндекс.Метрика, Таргет@Mail.Ru.
      li.col-lg-6.col-xl-4(elem="skill")
        p Понятные и прозрачные механизмы работы Мы считаем, что наши клиенты имеют право знать, за что они платят. Поэтому вас ждут ежемесячная подробная система отчетности и персональный менеджер, который готов ответить на все вопросы и решить любые задачи.
      li.col-lg-6.col-xl-4(elem="skill")
        p Нестандартные конкретные решения Мы проводим глубокую аналитику проектов и прописываем индивидуальную стратегию, подбирая оптимальный комплекс каналов и инструментов продвижения.
      li.col-lg-6.col-xl-4(elem="skill")
        p Максимальное достижение бизнес – целей Мы закрепляем KPI в договоре.
