.section(block="team")
  section.page.page--fullpage
    .wrap
      div(elem="wrapper")
        h2(elem="title") Наша команда
        p(elem="text") Каждый день наши специалисты достигают высоких результатов для наших клиентов среди российского и международного бизнеса.
        div.swiper-container.js-team-thumb-slider(elem="thumb-slider")
          button.btn.btn--slider-prev.js-team-prev(elem="button" mod="prev" type="button" aria-label="Назад")
            +svg('prev')(width="30px" height="14px")
          .swiper-wrapper
            div.swiper-slide(elem="thumb-slide")
              div(elem="img" mod="small")
                .responsive-img
                  img.lazyload(data-src="img/media/team01.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide(elem="thumb-slide")
              div(elem="img" mod="small")
                .responsive-img
                  img.lazyload(data-src="img/media/team02.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide(elem="thumb-slide")
              div(elem="img" mod="small")
                .responsive-img
                  img.lazyload(data-src="img/media/team03.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide(elem="thumb-slide")
              div(elem="img" mod="small")
                .responsive-img
                  img.lazyload(data-src="img/media/team04.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide(elem="thumb-slide")
              div(elem="img" mod="small")
                .responsive-img
                  img.lazyload(data-src="img/media/team01.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
          button.btn.btn--slider-next.js-team-next(elem="button" mod="next" type="button" aria-label="Вперед")
            +svg('next')(width="50px" height="14px")
      div(elem="slider-wrapper")
        div.swiper-container.js-team-slider(elem="slider")
          .swiper-wrapper
            div.swiper-slide(elem="slide")
              div(elem="description")
                div(elem="name") Имя
                div(elem="surname") Фамилия
                div(elem="position") Директор маркетологов
              div(elem="img" mod="big")
                .responsive-img
                  img.lazyload(data-src="img/media/team01.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide(elem="slide")
              div(elem="description")
                div(elem="name") Анастасия
                div(elem="surname") Харченко
                div(elem="position") Директор маркетинговых маркетологов
              div(elem="img" mod="big")
                .responsive-img
                  img.lazyload(data-src="img/media/team02.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide(elem="slide")
              div(elem="description")
                div(elem="name") Имя
                div(elem="surname") Фамилия
                div(elem="position") Директор маркетологов
              div(elem="img" mod="big")
                .responsive-img
                  img.lazyload(data-src="img/media/team03.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide(elem="slide")
              div(elem="description")
                div(elem="name") Имя
                div(elem="surname") Фамилия
                div(elem="position") Директор маркетинговых маркетологов
              div(elem="img" mod="big")
                .responsive-img
                  img.lazyload(data-src="img/media/team04.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.swiper-slide(elem="slide")
              div(elem="description")
                div(elem="name") Имя
                div(elem="surname") Фамилия
                div(elem="position") Директор маркетологов
              div(elem="img" mod="big")
                .responsive-img
                  img.lazyload(data-src="img/media/team01.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
