.section(block="work")
    section.page.page--fullpage
        .wrap
            h2(elem="title") Работа<br>в Facecom
            div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/work.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
                p
                    span Команда Facecom
                    | состоит из уникальных людей, собранных со всех регионов России. Мы гордимся своей работой и командой профессионалов, с которыми достигаем маленьких и больших побед, и получаем благодарности наших клиентов.
                p Умеете упорно работать, достигая поставленных результатов, являетесь талантливым и увлеченным маркетингом и рекламой человеком, уважаете свой труд - постройте успешную карьеру с нами!
            +link("Вакансии")
            div(elem="decor")
                +svg("fb-bg")
