extends layouts/_default.pug

block title
  title О нас
block content
  h1.visuallyhidden О нас
  div(block="page-number")
    span.js-page-quantity(elem="quantity") 0
    span.js-page-active(elem="active") 0
  #fullpage
    include components/sections/_appeal.pug
    include components/sections/_numbers.pug
    include components/sections/_partners.pug
    include components/sections/_footer.pug