extends layouts/_default.pug
block vars
  - const menuBtnColor = 'white';
block title
  title Архив
block content
  section.page.page--orange.js-orange(block="archive" data-color="orange")
    .wrap
      +breadcrumbs(['Главная', 'Блог'], 'Архив')
      +backlink("white")
      h1(elem="title") Блог / Архив
      .swiper-container.js-archive-slider(elem="slider")
        .swiper-wrapper
          .swiper-slide(elem="slide")
            ul(elem="list")
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
          .swiper-slide(elem="slide")
            ul(elem="list")
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
          .swiper-slide(elem="slide")
            ul(elem="list")
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
          .swiper-slide(elem="slide")
            ul(elem="list")
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
          .swiper-slide(elem="slide")
            ul(elem="list")
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
          .swiper-slide(elem="slide")
            ul(elem="list")
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
              li(elem="item")
                a(elem="link" href="#") Автодилер
              li(elem="item")
                a(elem="link" href="#") Караоке-бар
              li(elem="item")
                a(elem="link" href="#") Клиника косметологии
              li(elem="item")
                a(elem="link" href="#") Бухгалтерские услуги
    div.d-flex.justify-content-end.align-items-lg-start(elem="actions")
      button.btn.btn--slider-prev.js-archive-prev(elem="prev" type="button" aria-label="Назад")
        +svg('prev')(width="30px" height="14px")
      div.js-review-number(elem="slide-number")
      button.btn.btn--slider-next.js-archive-next(elem="next" type="button" aria-label="Вперед")
        +svg('next')(width="50px" height="14px")