extends layouts/_default.pug
block title
  title Статья
block content
  section.page(block="classic-pr" mod="case")
    .wrap
      +breadcrumbs(['Главная', 'Блог'], 'Статья')
      +backlink
      h1(elem="title" mod="small") Тема или название, заголовок статьи, можно в 2 или в 3 строки.
    div(elem="content")
      .wrap
        .content-style
          .row.justify-content-between
            .col-lg-4.mb-lg-5
              b Текстовый блок. 01
              p Крупный производитель сельскохозяйственной техники с представительствами по всему миру. Нами была сгенерирована и продумана PR – концепция с использованием флешмоба – в честь юбилея компании 3500 тысячи людей выстроились в логотип компании
            .col-lg-4.mb-lg-5
              b Текстовый блок. 01
              p Крупный производитель сельскохозяйственной техники с представительствами по всему миру. Нами была сгенерирована и продумана PR – концепция с использованием флешмоба – в честь юбилея компании 3500 тысячи людей выстроились в логотип компании
            .col-lg-4.mb-lg-5
              b Текстовый блок. 01
              p Крупный производитель сельскохозяйственной техники с представительствами по всему миру. Нами была сгенерирована и продумана PR – концепция с использованием флешмоба – в честь юбилея компании 3500 тысячи людей выстроились в логотип компании
            .col-lg-6.col-xl-4
              b Текстовый блок. 01
              p Крупный производитель сельскохозяйственной техники с представительствами по всему миру. Нами была сгенерирована и продумана PR – концепция с использованием флешмоба – в честь юбилея компании 3500 тысячи людей выстроились в логотип компании
            .col-lg-6.col-xl-8
              ul.row(elem="images")
                li.col-xl-6(elem="image")
                  .responsive-img
                    img(src="img/media/pr-case-1.jpg" alt="" data-object-fit="cover")
                li.col-xl-6(elem="image")
                  .responsive-img
                    img(src="img/media/pr-case-2.jpg" alt="" data-object-fit="cover")
                li.col-xl-6(elem="image")
                  .responsive-img
                    img(src="img/media/pr-case-3.jpg" alt="" data-object-fit="cover")
                li.col-xl-6(elem="image")
                  .responsive-img
                    img(src="img/media/pr-case-4.jpg" alt="" data-object-fit="cover")
    .wrap
      +caseActions
