extends layouts/_default.pug
block vars
  - const headerColor = 'black';
  - const sidebarColor = 'black';
block title
  title Блог
block content
  section.page.page--black(block="blog" data-color="black")
    .wrap
      +breadcrumbs(['Главная'], 'Блог')
      h1(elem="title") Блог
    .swiper-container.js-blog-slider(elem="slider")
      .swiper-wrapper
        .swiper-slide.js-animated(elem="slide" data-animation="slideInDown")
          a(elem="link" href="#")
            div.responsive-img(elem="img")
              img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
              b(elem="sub-title") Какие-то инфоповоды
              p Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
        .swiper-slide.js-animated(elem="slide" data-animation="slideInUp")
          a(elem="link" href="#")
            div.responsive-img(elem="img")
              img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
              b(elem="sub-title") Открытие типографии
              p Анонс, текст о статье! Трудно, а очень трудно. Магазины предлагают красную икру на любой вкус и достаток...
        .swiper-slide.js-animated(elem="slide" data-animation="slideInDown")
          a(elem="link" href="#")
            div.responsive-img(elem="img")
              img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
              b(elem="sub-title") DIGITAL
              p Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
        .swiper-slide.js-animated(elem="slide" data-animation="slideInUp")
          a(elem="link" href="#")
            div.responsive-img(elem="img")
              img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
              b(elem="sub-title") МАРКЕТИНГ И ЖИЗНЬ
              p Новогоднем особенно актуальна. Только купить хорошую бывает не просто трудно, а очень труд...
        .swiper-slide.js-animated(elem="slide" data-animation="slideInDown")
          a(elem="link" href="#")
            div.responsive-img(elem="img")
              img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
              b(elem="sub-title") Какие-то инфоповоды
              p Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
        .swiper-slide.js-animated(elem="slide" data-animation="slideInUp")
          a(elem="link" href="#")
            div.responsive-img(elem="img")
              img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
              b(elem="sub-title") Открытие типографии
              p Анонс, текст о статье! Трудно, а очень трудно. Магазины предлагают красную икру на любой вкус и достаток...
        .swiper-slide.js-animated(elem="slide" data-animation="slideInDown")
          a(elem="link" href="#")
            div.responsive-img(elem="img")
              img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
              b(elem="sub-title") DIGITAL
              p Привет всем заглянувшим! Красная икра является неотъемлемым блюдом на праздничном столе, а на Новогоднем особенно актуальна. Только купить хорошую...
        .swiper-slide.js-animated(elem="slide" data-animation="slideInUp")
          a(elem="link" href="#")
            div.responsive-img(elem="img")
              img.lazyload(data-src="img/media/news.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="text")
              b(elem="sub-title") МАРКЕТИНГ И ЖИЗНЬ
              p Новогоднем особенно актуальна. Только купить хорошую бывает не просто трудно, а очень труд...
    div.d-flex.justify-content-between(elem="actions")
      button.d-none.d-lg-block.btn.btn--slider-prev.js-blog-prev(elem="prev" type="button" aria-label="Назад")
        +svg('prev')(width="30px" height="14px")
      a.btn.btn--order(href="#" elem="archive") Архив
      button.btn.btn--slider-next.js-blog-next(elem="next" type="button" aria-label="Вперед")
        | Ещё
        +svg('next')(width="50px" height="14px")
