extends layouts/_default.pug
block title
  title Классический, Взрывной, Вирусный
block content
  section.page(block="classic-pr")
    .wrap
      +breadcrumbs(['Главная', 'PR'], 'Классический, Взрывной, Вирусный')
      +backlink
      h1(elem="title") PR<br>Классический  |  Взрывной  |  Вирусный
    div(elem="description")
      .wrap
        .row
          .col-lg-4
            p Классический PR осуществляется через инструменты редакционных СМИ: мы используем как варианты классических пресс-релизов, интервью и статей, так и авторские тексты, выполненные в стиле издания, для обеспечения гарантированной и быстрой публикации. Основной нашей задачей является достижение максимального количества бесплатных размещений.
          .col-lg-4
            p Для запуска вирусного PR наша команда креативщиков, собранных со всей России, создает информационные поводы, на основании которых создаются статьи, получающие широкое вирусное распространение и публикующиеся в топовых новостных и развлекательных СМИ совершенно бесплатно.
          .col-lg-4
            p Через инструмент взрывного PR осуществляется создание ярких, интересных инфоповодов с использованием нестандартных инструментов, которые получают массовое, а главное быстрое распространение.
    div(elem="features")
      div.js-animated(elem="decor" mod="p" data-animation="fadeInLeft")
      div.js-animated(elem="decor" mod="r" data-animation="fadeInLeft")
      .wrap
        p Работаем с offline и online СМИ
        p Мы умеем интегрировать и выводить новости в ТОП на всех крупных интернет - площадках: Mail.Ru, Google, Yandex.
        p Создаем трендовые инфоповоды и мгновенное анонсирование события через все offline и online площадки.
        p Разрабатываем стратегии личностного пиара, направленный на создание определенной репутации не только среди целевой аудитории, но и конкурентов.
        div.d-flex.justify-content-between(elem="actions")
          a.btn.btn--order(elem="order" href="#") Заказать
          a(elem="cases-link" href="#")
            | Кейсы
            +svg("next")(width="50px" height="14px")

    div(elem="cases")
      .wrap
        div.d-none.d-lg-block.js-animated(elem="decor" mod="cases" data-animation="fadeInDownVertical") Кейсы
        h2.d-lg-none(elem="sub-title") Кейсы
        ul(elem="cases-list")
          li(elem="cases-item")
            a(href="#") Классический пиар
          li(elem="cases-item")
            a(href="#") Взрывной пиар
          li(elem="cases-item")
            a(href="#") Вирусный пиар
