extends layouts/_default.pug
block title
  title Классический PR
block content
  section.page(block="classic-pr" mod="case")
    .wrap
      +breadcrumbs(['Главная', 'PR', 'Классический, Взрывной, Вирусный'], 'Классический PR')
      +backlink
      h1(elem="title") Классический PR<br>для Ростовского Перинатального центра
    div(elem="content")
      .wrap
        .content-style
          .row.justify-content-between
            .col-lg-12
              p
                b Год
                |  / 2019
            .col-lg-4.mb-lg-5
              b Позиционирование компании:
              p Перинатальный центр с прогрессивным техническим оборудованием и всеми условиями для пациентов.
            .col-lg-4.mb-lg-5
              b Цель:
              p Привлечение внимания к центру, повышение количества обращений.
            .col-lg-4.mb-lg-5
              b Задачи:
              ul
                li - Большое анонсирование информации о центре в условиях низкого бюджета.
                li - Привлечение новых пациентов.
                li - Распространение информации об услугах.
            .col-lg-6.col-xl-4
              p Мы организовали массовая серия публикаций с интересными социально-значимыми поводами, а также пул образовательный статей для населения, размещение пресс и пост релизов мероприятий.

              p Статьи имели широкое анонсирование и выход в ТОП на новостных агрегаторах крупных площадок Google, Yandex.

              p Был создан проект с публикацией экспертных мнений для мамочек Ростова-на-Дону, который выходил еженедельно на постоянной основе.

              b Итог:
              ol
                li Проведен масштабный региональный конкурс;
                li Повышена лояльность сотрудников к компании;
                li Популяризация имиджа бренда;
            .col-lg-6.col-xl-8
              ul.row(elem="images")
                li.col-xl-6(elem="image")
                  .responsive-img
                    img(src="img/media/pr-case-1.jpg" alt="" data-object-fit="cover")
                li.col-xl-6(elem="image")
                  .responsive-img
                    img(src="img/media/pr-case-2.jpg" alt="" data-object-fit="cover")
                li.col-xl-6(elem="image")
                  .responsive-img
                    img(src="img/media/pr-case-3.jpg" alt="" data-object-fit="cover")
                li.col-xl-6(elem="image")
                  .responsive-img
                    img(src="img/media/pr-case-4.jpg" alt="" data-object-fit="cover")
    .wrap
      +caseActions
