extends layouts/_default.pug
//- block vars
//-   - const headerColor = 'white-black';
//-   - const sidebarColor = 'black';
block title
  title Контакты
block content
  section.page(block="contacts" data-color="white-black")
    .wrap
      h1(elem="title") Контакты
      div(elem="address")
        p Россия, 344002, г. Ростов-на-Дону, ул.&nbsp;Донская, д. 8
        p
          | Тел: 
          a(href="tel:+78633222725") 8 (863) 322-2725
        p
          | E-mail: 
          a(href="mailto:feedback@facecom.ru") feedback@facecom.ru
        p(elem="time")
          b Время работы: 
          |  Пн - Пт с 10-00 до 19-00
      div(elem="connection")
        h2(elem="sub-title") Пресс-служба
        p Руководитель отдела по связям с общественностью
        p
          b Фамилия Имя специалиста
        p
          | Тел: 
          a(href="tel:+78632000000") 8 (863) 200 00 00
        p
          | E-mail: 
          a(href="mailto:facecom@corp.ru") facecom@corp.ru
      div(elem="press")
        h2(elem="sub-title") Для прессы
        p
          | E-mail: 
          a(href="mailto:press@corp.facecom.ru") press@corp.facecom.ru
    div(elem="map")
      div#map
      //- .responsive-img
      //-   img(src="img/media/map.png" alt="" data-object-fit="cover")
    p(elem="copyright") ВСЕ ПРАВА ЗАЩИЩЕНЫ 	&copy; 2019 ФЭЙСКОМ ООО
