extends layouts/_default.pug
block title
  title Контекстная реклама/Кейсы
block content
  section.page(block="cases" mod="purple")
    .wrap
      +breadcrumbs(['Главная', 'Digital-маркетинг', 'Контекстная реклама'], 'Кейсы')
      +backlink
      h1.visuallyhidden Контекстная реклама/Кейсы
      .row
        .col-lg-4.col-xl-3
          ul(block="tabs")
            li(elem="item")
              a.active(elem="link" mod="purple" href="#") Автодилер
            li(elem="item")
              a(elem="link" mod="purple" href="#") Караоке-бар
            li(elem="item")
              a(elem="link" mod="purple" href="#") Клиника косметологии
            li(elem="item")
              a(elem="link" mod="purple" href="#") Бухгалтерские услуги
        .col-lg-8.col-xl-9
          h2(elem="title") Рекламная кампания для крупного автодилера
          div.content-style(elem="content")
            div(elem="number") 01
            p
              b Год
              |  / 2019
            .row
              .col-lg-6.col-xl-4
                b Позиционирование компании:
                p Крупный автодилер.

                b Тематика:
                p Нишевый автодилер, премиум сегмент.

                b Входные данные:
                p Сайт с описанием услуг и ценами.
              .col-lg-6.col-xl-8
                .row
                  .col-xl-6
                    b Инструменты:
                    p Контекстная реклама - Яндекс.Директ, Google Ads, сквозная аналитика - Roistat, система заказа обратного звонка – Envybox.
                  .col-xl-6
                    p
                      b Цель:
                      |  CPL &lt; 1900 руб.
              .col-xl-8
                b Ход работ:
                p Нами была проанализирована работа предыдущего подрядчика. Выявлены основные эффективные каналы - Яндекс.Директ и Google Ads, а также недостатки, из основных - большое количество нецелевых запросов, отсутствие расширений в объявлениях. Также был доработан сайт и переработано УТП дилера введением новых акций.
                p На протяжении всей рекламной кампании было оптимизированно семантическое ядро (добавлено больше коммерческих запросов, исключены все нецелевые запросы и большая часть информационных)
                b Итоги / Показатели:
                p После 3 месяцев работ стоимость лида стабилизировалась до 886 руб.
      +caseActions('black')
