extends layouts/_default.pug
block title
  title Digital-маркетинг
block content
  #fullpage
    .section
      section.page(block="sections-page")
        .wrap
          +breadcrumbs(['Главная'], 'Digital-маркетинг')
          .row.justify-content-between.justify-content-xl-start
            .col-lg-3.col-xl-4
              h2(elem="title") Digital-маркетинг
              ul(block="tabs")
                li(elem="item")
                  a.js-pjax(elem="link" mod="d-blue" href="dm-section.html") Web-аналитика
                li(elem="item")
                  a(elem="link" mod="d-green" href="#") Brand Lift
                li(elem="item")
                  a(elem="link" mod="red" href="#") Таргетированная реклама
                li(elem="item")
                  a(elem="link" mod="purple" href="#") Контекстная реклама
                li(elem="item")
                  a(elem="link" mod="l-blue" href="#") Медийная реклама
                li(elem="item")
                  a(elem="link" mod="l-green" href="#") SEO-оптимизация
                li(elem="item")
                  a(elem="link" mod="aqua" href="#") Web-разработка
            .col-lg-6.col-xl-5.position-static
              ul#scene(block="images-decor")
                li(elem="layer" data-depth="0.6")
                  div(elem="item" mod="first")
                    div(elem="img" mod="squ")
                      .responsive-img
                        img.lazyload(data-src="img/media/dm-decor-1.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                    div(elem="img" mod="squ-small")
                      .responsive-img
                        img.lazyload(data-src="img/media/dm-decor-3.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                li(elem="layer" data-depth="-0.6")
                  div(elem="item" mod="second" data-letter="D")
                    div(elem="img" mod="squ")
                      .responsive-img
                        img.lazyload(data-src="img/media/dm-decor-2.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                li(elem="layer" data-depth="0.3")
                  div(elem="item" mod="third")
                    div(elem="img" mod="rect")
                      .responsive-img
                        img.lazyload(data-src="img/media/dm-decor-4.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              p(elem="definition") Digital-маркетинг — это совокупность инструментов продвижения, при которых задействуются основные цифровые каналы коммуникации.
          div.mt-lg-auto(elem="actions")
            .d-flex.justify-content-between.mt-lg-auto(elem="arrows")
              a(elem="prev" href="#" title="")
                  +svg("prev")(width="30px" height="14px")
              a(elem="next" href="#" title="")
                  +svg("prev")(width="30px" height="14px")
    include components/sections/_footer.pug
