extends layouts/_default.pug
block title
  title Web-аналитика
block content
  #fullpage
    .section
      section.page(block="sections-page" mod="d-blue")
        .wrap
          +breadcrumbs(['Главная', 'Digital-маркетинг'], 'Web-аналитика')
          div.js-animated(elem="number" data-animation="slideInRight")
              span 01
          .row.justify-content-between.justify-content-xl-start.flex-lg-grow-1
            .col-lg-4
              h2(elem="title") Digital-маркетинг
              ul(block="tabs")
                li(elem="item")
                  a.active(elem="link" mod="d-blue" href="#") Web-аналитика
                li(elem="item")
                  a(elem="link" mod="d-green" href="#") Brand Lift
                li(elem="item")
                  a(elem="link" mod="red" href="#") Таргетированная реклама
                li(elem="item")
                  a(elem="link" mod="purple" href="#") Контекстная реклама
                li(elem="item")
                  a(elem="link" mod="l-blue" href="#") Медийная реклама
                li(elem="item")
                  a(elem="link" mod="l-green" href="#") SEO-оптимизация
                li(elem="item")
                  a(elem="link" mod="aqua" href="#") Web-разработка

            .col-lg-7
              div.content-style(elem="content" mod="digital")
                div
                  p
                      b Сквозная аналитика с контролем эффективности рекламных каналов на всем жизненном цикле клиента.
                div
                  p
                      b Включает весь комплекс работ:<br>
                      |  от аудита, в том числе технический и usability-аудит сайта, до веб-поддержки и контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
                div
                  ul
                      li
                          p
                              b Владеем фундаментальной экспертизой
                      li
                          p
                              b Проводим качественный анализ всех источников трафика
                      li
                          p
                              b Увеличиваем число заказов для ресурсов различных тематик, оказывающих услуги
                      li
                          p
                              b Осуществляем детальный анализ конкурентов
          .row.justify-content-between.flex-shrink-lg-0
              .col-lg-7.col-xl-8.order-lg-2.position-static
                  div(elem="actions")
                      a.btn.btn--order(elem="order" href="#") Заказать
                      a.js-pjax(elem="cases" href="target-adv-cases.html")
                          | Кейсы
                          +svg("next")(width="50px" height="14px")
              .col-lg-3.col-xl-4.order-lg-1
                  div(elem="arrows")
                      a(elem="prev" href="#" title="")
                          +svg("prev")(width="30px" height="14px")
                      a(elem="next" href="#" title="")
                          +svg("prev")(width="30px" height="14px")
    include components/sections/_footer.pug