extends layouts/_default.pug
block title
  title Event-маркетинг
block content
  #fullpage
    .section
      section.page.page--black.js-black(block="ev-marketing" data-color="black")
        div.responsive-img(elem="bg")
          img(src="img/media/smm-bg-tp.png" alt="" data-object-fit="cover")
        .wrap.flex-grow-1
          +breadcrumbs(['Главная'], 'Event-маркетинг')
          div.responsive-img.js-animated(elem="event" data-animation="slideInUp")
            img(src="img/media/event.svg" alt="")
          .d-lg-flex.flex-wrap.justify-content-between
            h1.js-animated(elem="title" data-animation="fadeInLeft") маркетинг
            p.js-animated(elem="text" data-animation="fadeInUp") Реализуем мероприятия любой сложности, в соответствии с поставленной задачей, создавая прямую коммуникацию с аудиторией и возможность обширного распространения информации о бренде в offline и online.
          a.js-animated(elem="cases" href="#" data-animation="fadeInUp") Перейти к кейсам
    include components/sections/_footer.pug