extends layouts/_default.pug
block title
  title Corporative events
block content
  section.page.page--black.js-black(block="ev-marketing" mod="case" data-color="black")
    .wrap
      +breadcrumbs(['Главная','Event-маркетинг'], 'Corporative events')
    div.d-none.d-lg-block.js-animated(elem="decor" data-animation="slideInDownVerticalBig") special
    div.responsive-img(elem="image")
      img(src="img/media/event-case.jpg" alt="" data-object-fit="cover")
    .wrap(elem="content")
      span.js-animated(elem="number" data-animation="fadeInLeft") 01
      div.js-animated(elem="wrapper" data-animation="fadeInUp")
        h1(elem="title" mod="case") Corporative events
        div.content-style
          p Организуем корпоративные события, переплетенные с процессом обучения, технологиями командного построения и другими механиками, направленным на достижение поставленных целей.
          ul
            li
              b Создаем запоминающийся видео контент.
            li
              b Разрабатываем контент под конкретные цели и задачи.
            li
              b Осуществляем полный цикл создания: от генерации идеи до готового результата.
    .wrap.mt-auto
      .d-flex.justify-content-between.flex-shrink-lg-0
        div.d-flex.justify-content-between.order-lg-2.js-animated(elem="actions" data-animation="fadeInUp")
          a.btn.btn--order(elem="order" href="#") Заказать
          a(elem="link" href="#")
            | Наше оборудование
            +svg("next")(width="50px" height="14px")
        div.d-flex.justify-content-around.justify-content-lg-between.order-lg-1.js-animated(elem="arrows" data-animation="fadeInUp")
          a(elem="prev" href="#" title="")
            +svg("prev")(width="30px" height="14px")
          a(elem="next" href="#" title="")
            +svg("prev")(width="30px" height="14px")
