extends layouts/_default.pug
block vars
  - const sidebarColor = 'orange';
  - const menuBtnColor = 'black';
block title
  title Дизайн
block content
  section.page(block="sections-page" mod="style" data-color="orange-white-black")
    .wrap
      +breadcrumbs(['Главная', 'Разработка фирменного стиля'], 'Дизайн')
      div.d-lg-none(elem="decor" mod="rect, orange")
        +svg("rectangle-decor-m")(width="100%" height="100%")
      div.d-none.d-lg-block(elem="decor" mod="rect, orange")
        +svg("rectangle-decor")(width="100%" height="100%")
      .row.justify-content-between
        .col-lg-7.col-xl-5
          h1(elem="title") Разработка фирменного стиля
          ul(block="tabs")
            li(elem="item")
              a.active(elem="link" mod="big" href="#") Design
            li(elem="item")
              a(elem="link" mod="big" href="#") Naming
            li(elem="item")
              a(elem="link" mod="big" href="#") Branding
        .col-lg-5
          .content-style(elem="content")
            p
              b ДИЗАЙН
            p Создание графических элементов в структуре одной концепции, которые полностью отражают миссию и ценности компании.
              ul
                li
                  b Создаем уникальную концепцию дизайна в соответствии с позиционированием компании.
                li
                  b Разрабатываем уникальные графические решения.
                li
                  b Проводим полную адаптацию дизайна с точки зрения психологии влияния и маркетинга.
      .row.justify-content-between.flex-shrink-lg-0.mt-auto
        .col-lg-5.order-lg-2.position-static
          div(elem="actions")
            a.btn.btn--order(elem="order" href="#") Заказать
            a(elem="cases" href="#")
              | Кейсы
              +svg("next")(width="50px" height="14px")
        .col-lg-5.order-lg-1
          div(elem="arrows")
            a(elem="prev" href="#" title="")
              +svg("prev")(width="30px" height="14px")
            a(elem="next" href="#" title="")
              +svg("prev")(width="30px" height="14px")