extends layouts/_default.pug
block title
  title Фтменный стиль
block content
  #fullpage
    .section
      section.page.page--orange(block="sections-page" mod="style, style-index")
        .wrap
          +breadcrumbs(['Главная'], 'Разработка фирменного стиля')
          h1(elem="title") Разработка фирменного стиля
          div.d-lg-none(elem="decor" mod="rect, white")
            +svg("rectangle-decor-m")(width="100%" height="100%")
          div.d-none.d-lg-block(elem="decor" mod="rect, white")
            +svg("rectangle-decor")(width="100%" height="100%")
          .row.justify-content-between
            .col-lg-7.col-xl-5
              ul(block="tabs")
                li(elem="item")
                  a(elem="link" mod="big" href="#") Design
                li(elem="item")
                  a(elem="link" mod="big" href="#") Naming
                li(elem="item")
                  a(elem="link" mod="big" href="#") Branding
            .col-lg-5
              p При разработке фирменного стиля наша команда качественно прорабатывает и создает гармоничное сочетание графических элементов, объединенных общей философией, концепцией и стилистикой, с учетом целевой аудитории, позиционирование торговой марки, ценности и ее обещаний потребителю.
          div.mt-lg-auto(elem="actions")
            .d-flex.justify-content-between(elem="arrows")
              a(elem="prev" href="#" title="")
                  +svg("prev")(width="30px" height="14px")
              a(elem="next" href="#" title="")
                  +svg("prev")(width="30px" height="14px")
    include components/sections/_footer.pug
