extends layouts/_default.pug
block title
  title Кейсы
block content
  section.page.page--black.js-black(block="cases" mod="slider" data-color="black")
    .wrap
      +breadcrumbs(['Главная', 'Разработка фирменного стиля'], 'Кейсы')
      +backlink("white")
      div.d-lg-none(elem="decor" mod="rect, black")
        +svg("rectangle-decor-m")(width="100%" height="100%")
      div.d-none.d-lg-block(elem="decor" mod="rect, black")
        +svg("rectangle-decor")(width="100%" height="100%")
      h1.visuallyhidden Разработка фирменного стиля/Кейсы
    div(block="style-slider")
      .wrap
        .swiper-container.js-style-thumb-slider(elem="thumb-slider")
          .swiper-wrapper
            .swiper-slide(elem="thumb-slide")
            .swiper-slide(elem="thumb-slide")
            .swiper-slide(elem="thumb-slide")
        .swiper-container.js-style-slider(elem="slider")
          .swiper-wrapper
            .swiper-slide(elem="slide")
              b(elem="name") ДИЗАЙН
              .swiper-container.js-style-gallery(elem="gallery")
                .swiper-wrapper
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-1.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-1.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-1.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            .swiper-slide(elem="slide")
              b(elem="name") НЕЙМИНГ
              .swiper-container.js-style-gallery(elem="gallery")
                .swiper-wrapper
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-2.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-2.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-2.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            .swiper-slide(elem="slide")
              b(elem="name") БРЕНДИНГ
              .swiper-container.js-style-gallery(elem="gallery")
                .swiper-wrapper
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-3.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-3.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  .swiper-slide(elem="image")
                    a(href="#")
                      .responsive-img
                        img.lazyload(data-src="img/media/target-cases-3.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
        div.d-none.d-lg-flex.justify-content-between(elem="actions")
          button.btn.btn--slider.js-style-prev(elem="slider-button" mod="prev, white" type="button" aria-label="Назад")
            +svg('prev')(width="30px" height="14px")
          button.btn.btn--slider.js-style-next(elem="slider-button" mod="next, white" type="button" aria-label="Вперед")
            +svg('next')(width="50px" height="14px")
