extends layouts/_default.pug
block title
	title dev - index
block content
	div(block="page-number")
		span.js-page-quantity(elem="quantity") 0
		span.js-page-active(elem="active") 0
	#fullpage
		include components/sections/_features.pug
		include components/sections/_services.pug
		include components/sections/_projects.pug
		include components/sections/_clients--map.pug
		include components/sections/_clients--statistic.pug
		include components/sections/_reviews.pug
		include components/sections/_news-section.pug
		include components/sections/_team.pug
		include components/sections/_work.pug
		include components/sections/_about-us.pug
		include components/sections/_footer.pug
