extends layouts/_default.pug
block vars
  - const menuBtnColor = 'black';
block title
  title Influence Marketing & PR
block content
  section.page.page--orange.js-orange(block="influence-marketing" data-color="orange")
    .wrap
      +breadcrumbs(['Главная', 'PR'], 'Influence Marketing & PR')
      +backlink("white")
      h1.d-none.d-lg-block(elem="title") Influence Marketing & PR
    ul(elem="cases")
      li.js-animated(elem="case" data-animation="slideInUp")
        div(elem="content")
          span(elem="type") Пресс-тур<br>для компании
          div(elem="name") Coca-Cola<br>
          span в честь юбилея завода
        .responsive-img
          img(src="img/media/inter-img-1.jpg" alt="" data-object-fit="cover")
      li.js-animated(elem="case" data-animation="slideInRight")
        div(elem="content")
          span(elem="type") Блог-тур<br>для аквапарка
          div(elem="name" mod="big") H2О
        .responsive-img
          img(src="img/media/inter-img-2.jpg" alt="" data-object-fit="cover")
