extends layouts/_default.pug
block title
  title Вакансии
block content
  section.page(block="job-openings")
    .wrap
      +breadcrumbs(['Главная', 'О нас'], 'Вакансии')
      h1(elem="title") Вакансии
      .row
        .col-lg-5.col-xl-4
          ul(elem="list")
            li(elem="item")
              a.active(href="#") SMM manager
            li(elem="item")
              a(href="#") Account manager
            li(elem="item")
              a(href="#") Маркетолог
            li(elem="item")
              a(href="#") Стажировка
        .col-lg-7.col-xl-8.d-none.d-lg-block(elem="right")
          div.js-scroll-block(block="job-opening" data-simplebar)
            h2(elem="title") SMM manager
            div(elem="description")
              div.js-job-opening-section
                b Обязанности:
                ul
                  li Знать и применять наиболее актуальных стратегий и инструменты SMM, PR, интернет-рекламы;
                  li Разработка и реализация контент-стратегии;
                  li Отчеты о работе по повышению вовлеченности и развития аккаунтов;
                  li Ведение рекламных кампаний Вконтакте/Instagram;
                  li Работа с партнерами и лидерами мнений, блогерами;
                  li Составлять отчет по результатам работы, оценка эффективности и корректировка стратегий;
                  li Анализировать методы продвижения и акций конкурентов (косвенный и прямых);
                  li Проводить мониторинг актуальных трендов соц. сетей;
                  li Ведение аккаунтов в VK:
                    ul
                      li Знать и применять наиболее актуальных стратегий и инструменты SMM, PR, интернет-рекламы;
                      li Разработка и реализация контент-стратегии;
                      li Отчеты о работе по повышению вовлеченности и развития аккаунтов;
                      li Ведение рекламных кампаний Вконтакте/Instagram;
                      li Работа с партнерами и лидерами мнений, блогерами;
                      li Составлять отчет по результатам работы, оценка эффективности и корректировка стратегий;
                      li Анализировать методы продвижения и акций конкурентов (косвенный и прямых);
                      li Проводить мониторинг актуальных трендов соц. сетей;
                      li Ведение аккаунтов в VK:
                  li Ведение аккаунта в Instagram:
                    ul
                      li Проведение интерактивов;
                      li Составление контент-плана;
                      li Написание текста и публикация продающих постов;
                      li Размещение тематических постов (проф. контент от нас);
                      li Взаимодействие с аудиторией;
                      li Публикация сторис. Добавление анимации. Навыки обработки видео;
                      li Формирование актуальных сторис;
                  li Работа с хэштегами
              div.js-job-opening-section
                b Требования к кандидату:
                ul
                  li Опыт работы на аналогичной должности от 1 года;
                  li Наличие портфолио реализованных проектов обязательно;
                  li Умение грамотно и интересно писать информационно-рекламные тексты;
                  li Высокий уровень коммуникативных навыков;
                  li Способность генерировать креативные идеи;
                  li Опыт анализа эффективности рекламных и PR кампаний;
                  li Грамотность, креативность и персонализированный подход к проектам;
                  li Ответственность и самостоятельность в работе;
                  li Умение анализировать и чувствовать аудиторию;
              div.js-job-opening-section
                b Будет плюсом:
                ul
                  li Продвинутое владение google analytics и yandex метрика;
                  li Опыт видеомонтажа;
                  li Опыт работы в продуктах Adobe;
              div.js-job-opening-section
                b Мы предлагаем:
                ul
                  li график — 5/2 с 10:00 до 19:00;
                  li оформление согласно ТК;
                  li вкусные кофе, чай за наш счет;
                  li офис в центре города;
                  li постоянное развитие, бесплатное обучение и повышение квалификации;
                  li Работа с нестандартными, интересными проектами;
            div(elem="actions")
              a.btn.btn--respond.js-ajax-modal(elem="respond" href="ajax/modal-respond.html") Откликнуться
              a(elem="next" href="#")
                | Account manager
                +svg("next")(width="48px" height="14px")
