extends layouts/_default.pug
block title
  title Бизнес - планирование
block content
  section.page.page--black.js-black(block="sections-page" data-color="black")
    .wrap
      +breadcrumbs(['Главная', 'Стратегический маркетинг'], 'Бизнес - планирование')
      div(elem="decor" mod="marketing") strategy
      div.js-animated(elem="number" mod="marketing" data-animation="slideInRight")
          span 01
      h2(elem="title") Стратегический маркетинг
      .row.justify-content-between.justify-content-xl-start.flex-lg-grow-1
        .col-lg-4
          ul(block="tabs")
            li(elem="item")
              a.active(elem="link" mod="orange" href="#") Бизнес - планирование
            li(elem="item")
              a(elem="link" mod="orange" href="#") Медиа – планирование
            li(elem="item")
              a(elem="link" mod="orange" href="#") Аутсорсинг маркетинга
            li(elem="item")
              a(elem="link" mod="orange" href="#") Аудит маркетинга и коммерции
            li(elem="item")
              a(elem="link" mod="orange" href="#") Технико – экономическое<br>обоснование бизнес – направления

        .col-lg-7
          div.content-style(elem="content")
            div
              p Мы создаем обоснование программы улучшений организации бизнеса в четырех областях: конкурентные преимущества, организационные преобразования, финансовая оптимизация и операционные улучшения. Все эти области взаимосвязаны между собой и зависят от того пути развития, который выбирается по результатам проекта разработки стратегии.
            div
              ul
                li
                  p
                    b Приводим анализ инвестиционной привлекательности отрасли
                li
                    p
                        b Разрабатываем сценарный прогноз развития отрасли
                li
                    p
                        b Осуществляем качественный SWOT-анализ и PEST-анализ
                li
                    p
                        b Проводим финансовую оценку стратегических альтернатив
                li
                    p
                        b Формируем образ будущего компании
      .row.justify-content-between.flex-shrink-lg-0
          .col-lg-7.col-xl-8.order-lg-2.position-static
              div(elem="actions")
                  a.btn.btn--order(elem="order" href="#") Заказать
                  a(elem="cases" href="#")
                      | Кейсы
                      +svg("next")(width="50px" height="14px")
          .col-lg-3.col-xl-4.order-lg-1
              div(elem="arrows")
                  a(elem="prev" href="#" title="")
                      +svg("prev")(width="30px" height="14px")
                  a(elem="next" href="#" title="")
                      +svg("prev")(width="30px" height="14px")
