extends layouts/_default.pug
block title
  title Стратегический маркетинг
block content
  section.page.page--black.js-black(block="sections-page" data-color="black")
    .wrap
      +breadcrumbs(['Главная'], 'Стратегический маркетинг')
      div(elem="decor" mod="marketing-white") strategy
      .row.justify-content-between.justify-content-xl-start.flex-lg-grow-1
        .col-lg-4
          h2(elem="title") Стратегический маркетинг
          ul(block="tabs")
            li(elem="item")
              a(elem="link" mod="orange" href="#") Бизнес - планирование
            li(elem="item")
              a(elem="link" mod="orange" href="#") Медиа – планирование
            li(elem="item")
              a(elem="link" mod="orange" href="#") Аутсорсинг маркетинга
            li(elem="item")
              a(elem="link" mod="orange" href="#") Аудит маркетинга и коммерции
            li(elem="item")
              a(elem="link" mod="orange" href="#") Технико – экономическое<br>обоснование бизнес – направления
        .col-lg-7.position-static
          ul#scene(block="images-decor" mod="marketing")
            li(elem="layer" mod="marketing" data-depth="0.4")
              div(elem="item" mod="marketing")
                div(elem="img" mod="squ")
                  .responsive-img
                    img.lazyload(data-src="img/media/dm-decor-1.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                div(elem="img" mod="squ-small, marketing")
                  .responsive-img
                    img.lazyload(data-src="img/media/dm-decor-3.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            li(elem="layer" mod="marketing" data-depth="-0.3")
              div(elem="item" mod="marketing")
                div(elem="img" mod="squ")
                  .responsive-img
                    img.lazyload(data-src="img/media/dm-decor-2.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            li(elem="layer" mod="marketing" data-depth="0.8")
              div(elem="item" mod="marketing")
                div(elem="img" mod="rect")
                  .responsive-img
                    img.lazyload(data-src="img/media/dm-decor-4.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
      div.mt-lg-auto(elem="actions")
        .d-flex.justify-content-between(elem="arrows")
          a(elem="prev" href="#" title="")
              +svg("prev")(width="30px" height="14px")
          a(elem="next" href="#" title="")
              +svg("prev")(width="30px" height="14px")
