extends layouts/_default.pug
block title
  title Новость
block content
  section.page(block="news")
    .wrap
      +breadcrumbs(['Главная', 'О нас', 'Новости'], 'Новость 1')
      h2.d-lg-none(elem="title") Название новости или события, можно прописывать этот заголовок в две или даже в три строки!
      .row
        div.col-lg-6
          div(elem="image")
            div(elem="number") 01
            .responsive-img
              img.lazyload(data-src="img/media/work.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
        div.col-lg-6(elem="description")
          h2.d-none.d-lg-block(elem="title") Название новости или события, можно прописывать этот заголовок в две или даже в три строки!
          p Включает весь комплекс работ от аудита, в том числе технический и usability-аудит сайта, до веб-поддержки и контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
          p Контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
          p Контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
      div.d-flex.justify-content-between(elem="actions")
        a(elem="back" href="#")
          +svg("prev")(width="30px" height="14px")
        a(elem="next" href="#" title="Следующая новость")
          | Следующая новость
          +svg("prev")(width="30px" height="14px")
