extends layouts/_default.pug
block title
  title Новости
block content
  section.page(block="news-list")
    .wrap
      +breadcrumbs(['Главная', 'О нас'], 'Новости')
      .row
        .col-lg-3.col-xl-4
          h1(elem="title") Новости
          ul(elem="list")
            li.active(elem="item")
              a.js-news-link(href="#") Название новости или события
            li(elem="item")
              a.js-news-link(href="#") Новость / событие
            li(elem="item")
              a.js-news-link(href="#") Новость / событие
            li(elem="item")
              a.js-news-link(href="#") Новость / событие
            li(elem="item")
              a.js-news-link(href="#") Новость / событие
            li(elem="item")
              a.js-news-link(href="#") Новость / событие
            li(elem="item")
              a.js-news-link(href="#") Новость / событие
            li(elem="item")
              a.js-news-link(href="#") Новость / событие
        div.d-none.d-lg-block.col-lg-9.col-xl-8(elem="right")
          div(block="news")
            h2.d-lg-none(elem="title") Название новости или события, можно прописывать этот заголовок в две или даже в три строки!
            div(elem="image")
              div(elem="number") 01
              .responsive-img
                img.lazyload(data-src="img/media/work.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div.js-scroll-block(elem="description" data-simplebar)
              h2.d-none.d-lg-block(elem="title") Название новости или события, можно прописывать этот заголовок в две или даже в три строки!
              p Включает весь комплекс работ от аудита, в том числе технический и usability-аудит сайта, до веб-поддержки и контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
              p Контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
              p Контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
              p Контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
              p Контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
              p Контроля внесения доработок (в т. ч. выполняемых на стороне клиента), до выработки рекомендаций по подключению дополнительных каналов, анализа конкурентов, и оценки стратегии коммуникации с пользователями.
            button.btn.js-next-news(elem="next" type="button" aria-label="Следующая новость")
              +svg("prev")(width="30px" height="14px")
