extends layouts/_default.pug
block title
  title PR
block content
  section.page(block="pr")
    div(elem="top")
      .wrap
        +breadcrumbs(['Главная'], 'PR')
        h1.visuallyhidden PR
        div.js-animated(elem="text" data-animation="fadeInDown")
          p Благодаря такому инструменту, как PR, наши специалисты осуществляют создание положительного образа организации в сознании потенциального потребителя, а также других заинтересованных сторон.
      div.js-animated(elem="decor" mod="publick" data-animation="slideInLeft")
      div.js-animated(elem="decor" mod="relations" data-animation="slideInLeft")
    div(elem="bottom")
      div.js-animated(elem="decor" mod="pr" data-animation="slideInRight")
      .wrap
        ul.js-animated(elem="links" data-animation="fadeInUp")
          li(elem="links-item")
            a(href="#") PR - Классический  |  Взрывной  |  Вирусный
          li(elem="links-item")
            a(href="#") Influence Marketing & PR

        div.mt-lg-auto(elem="actions")
          .d-flex.justify-content-between.js-animated(elem="arrows" data-animation="fadeInUp")
            a(elem="prev" href="#" title="")
                +svg("prev")(width="30px" height="14px")
            a(elem="next" href="#" title="")
                +svg("prev")(width="30px" height="14px")
