extends layouts/_default.pug
block title
  title Исследование и анализ
block content
  section.page(block="research" data-color="white-black")
    .wrap(elem="first-screen")
      div(elem="wrapper")
        +breadcrumbs(['Главная'], 'Исследование и анализ')
        h1(elem="title") Исследование и анализ
        p Мы - команда опытных маркетологов и экспертов-аналитиков, обладающих соответствующим уровнем образования и подготовивших более трехсот проектов по исследованию рынков и бизнес аналитике.
        p Нас выбирают крупные компании российского и европейского рынка.
      .responsive-img(elem="image")
        img.lazyload(data-src="img/media/research.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
        div.js-animated(elem="decor" mod="small" data-animation="slideInUpVertical") scroll
      div.js-animated(elem="decor" mod="big" data-animation="slideInUpVertical") Research&nbsp;and&nbsp;analysis
    .wrap(elem="type")
      .row.justify-content-lg-between
        .col-lg-5
          h2(elem="sub-title" mod="small") Услуги
          p Мы проводим маркетинговые исследования собирая данные по различным составляющим коммерческой активности, проводим анализ на основе этой информации, делаем выводы и превращаем их в эффективный инструмент управления.
        .col-lg-6
          h2(elem="sub-title" mod="small") Виды исследований:
          ol(elem="research-list")
            li.js-reserch(elem="research-item")
              span Маркетинговые исследования
              p позволит получить актуальную и полную информацию о ситуации на рынке интересующего Вас продукта или услуги. Вы сможете усилить позиции Вашей компании, выбрать новые пути развития и перспективные рыночные ниши.
            li.js-reserch(elem="research-item")
              span Бизнес-план
              p позволит получить актуальную и полную информацию о ситуации на рынке интересующего Вас продукта или услуги. Вы сможете усилить позиции Вашей компании, выбрать новые пути развития и перспективные рыночные ниши.
            li.js-reserch(elem="research-item")
              span Маркетинговая стратегия
              p позволит получить актуальную и полную информацию о ситуации на рынке интересующего Вас продукта или услуги. Вы сможете усилить позиции Вашей компании, выбрать новые пути развития и перспективные рыночные ниши.
            li.js-reserch(elem="research-item")
              span Опросы
              p позволит получить актуальную и полную информацию о ситуации на рынке интересующего Вас продукта или услуги. Вы сможете усилить позиции Вашей компании, выбрать новые пути развития и перспективные рыночные ниши.
            li.js-reserch(elem="research-item")
              span Фокус-группы
              p позволит получить актуальную и полную информацию о ситуации на рынке интересующего Вас продукта или услуги. Вы сможете усилить позиции Вашей компании, выбрать новые пути развития и перспективные рыночные ниши.
            li.js-reserch(elem="research-item")
              span Глубинные интервью
              p позволит получить актуальную и полную информацию о ситуации на рынке интересующего Вас продукта или услуги. Вы сможете усилить позиции Вашей компании, выбрать новые пути развития и перспективные рыночные ниши.
            li.js-reserch(elem="research-item")
              span Сопровождаемая покупка
              p позволит получить актуальную и полную информацию о ситуации на рынке интересующего Вас продукта или услуги. Вы сможете усилить позиции Вашей компании, выбрать новые пути развития и перспективные рыночные ниши.
    .wrap(elem="services")
      .row
        .col-xl-9
          ol(elem="step-list")
            li.js-animated(elem="step-item" data-animation="fadeInDown") Мы определяем инновационную ценность и перспективы вашей идеи или проекта.
            li.js-animated(elem="step-item" data-animation="fadeInDown") Наша команда специалистов реализует ваш проект начиная от первоначального анализа идеи и заканчивая работающим готовым бизнесом.
            li.js-animated(elem="step-item" data-animation="fadeInDown") Гарантируем конфиденциальность.
            li.js-animated(elem="step-item" data-animation="fadeInDown") Создаем новые неконкурентные рынки в вашей сфере, основываясь на уникальных свойствах вашего продукта или услуги.
        .col-xl-9
          h2(elem="sub-title" mod="orange") В перечень услуг Facecom Marketing&Branding входят:
          ul(elem="services-list")
            li(elem="services-item") проведение маркетинговых исследований;
            li(elem="services-item") разработка бизнес стратегий;
            li(elem="services-item") реализация различных бизнес-планов и технико-экономических обоснований;
            li(elem="services-item") конкурентный анализ и сложный сбор данных
            li(elem="services-item") исследования рынков для b2b, b2c и b2g
            li(elem="services-item") разработка маркетинговой и коммерческой стратегий
            li(elem="services-item") план вывода нового продукта на рынок
            li(elem="services-item") план вхождения в торговые сети
            li(elem="services-item") анализ системы стимулирования сбыта и рекламы
    .wrap(elem="result")
      h2(elem="sub-title") Результат
      ul.row(elem="result-list")
        li.col-lg-4(elem="result-item") Разрабатываем рекомендации по улучшению продуктовых предложений либо услуг.
        li.col-lg-4(elem="result-item") Вносим корректировки в маркетинговую стратегию компании для увеличения продаж исследуемых товаров или услуг.
        li.col-lg-4(elem="result-item") Предоставляем полный анализ общеэкономического пространства, внутренних и внешних экономических, политических факторов, влияющих на целевой рынок.
        li.col-lg-4(elem="result-item") Формируем бизнес-стратегию и бизнес-модель компании на основе проведенных аналитических исследований.
        li.col-lg-4(elem="result-item") Оцениваем финансовые показатели бизнеса и перспективы развития направления в новых нишах бизнеса.
        li.col-lg-4(elem="result-item") Даем рекомендации по экономически-эффективному ведению бизнеса.
      div.d-flex.justify-content-between(elem="actions")
        a.btn.btn--order(elem="order" href="#") Заказать
        a(elem="cases" href="#")
          | Кейсы
          +svg("next")(width="50px" height="14px")
