extends layouts/_default.pug
block title
  title SEO-оптимизация/Кейсы
block content
  section.page(block="cases" mod="l-green")
    .wrap
      +breadcrumbs(['Главная', 'Digital-маркетинг', 'SEO-оптимизация'], 'Кейсы')
      +backlink
      h1.visuallyhidden SEO-оптимизация/Кейсы
      .row
        .col-lg-4.col-xl-3
          ul(block="tabs")
            li(elem="item")
              a.active(elem="link" mod="l-green" href="#") Офтальмологичска клиника
        .col-lg-8.col-xl-7
          h2(elem="title") SEO – продвижение для крупной офтальмологической клиники
          div.content-style(elem="content")
            p
              b Год
              |  / 2019
            b Цель:
            p обеспечить заметный прирост трафика пользователей на официальный сайт компании, рост позиций по конкретным запросам пользователей в поисковых системах Yandex и Google,а также увеличение среднего времени нахождения пользователя на сайте и глубину просмотра страниц сайта заказчика.

            b Задачи:
            ul
              li - Увеличение целевого трафика по высокочастотным запросам;
              li - Увеличение целевого трафика по среднечастотным запросам;
              li - Увеличение целевого трафика по низкочастотным запросам;
              li - Увеличение конверсии (целевых действий посетителя);

            b Процесс работы:
            ul
              li - Была проведена внутренняя и внешняя оптимизация и продвижение сайта;
              li - Привязка сайта к продвигаемому региону;
              li - Проведен анализ поведенческих факторов ранжирования;
              li - Анализ деятельности конкурентов;
              li - Работа с семантическим ядром запросов;
              li - Анализ сайта и внесение коррективов;
              li - Оптимизация структуры сайта и проработка страниц для продвижения;
              li - Размещение ссылок на площадках;
              li - Контент-маркетинг (размещение уникальных статей с ссылками на ресурс);
              li - Веб-аналитика;
              li - Тестирование различных идей, предложений (доработок);

            b Итоги:
            ul
              li - Мы получили из поисковых систем объем целевого трафика с высоким уровнем доверия к бренду заказчика;
              li - Получили обращения новых клиентов;
              li - Увеличили количество повторных продаж;
              li - Уменьшили стоимость посетителя/покупателя;
              li - Создали максимально широкий и качественный охват целевой аудитории;
              li - Получили высокое доверие пользователей к результатам поисковой выдачи;
              li - Повысили конверсию;
              li - Точно оценили результат за счет накапливаемой статистики;
      .row.justify-content-end
        .col-xl-8
          ul(elem="images")
            li(elem="image")
              img.lazyload(data-src="img/media/seo-cases-1.png" src="https://via.placeholder.com/150?text=+" alt="")
            li(elem="image")
              img.lazyload(data-src="img/media/seo-cases-2.png" src="https://via.placeholder.com/150?text=+" alt="")
            li(elem="image")
              img.lazyload(data-src="img/media/seo-cases-3.png" src="https://via.placeholder.com/150?text=+" alt="")
        .col-xl-1

      +caseActions('black')
