extends layouts/_default.pug
block title
  title Управление Репутацией SERM
block content
  section.page.page--black(block="sections-page"  data-color="black")
    .wrap
      +breadcrumbs(['Главная'], 'Управление Репутацией SERM')
      div(elem="decor" mod="serm, serm-orange") serm
      h2(elem="title" mod="small") Управление Репутацией SERM
      .row.justify-content-between
        .col-lg-4.col-xl-5
          ul(block="tabs")
            li(elem="item")
              a(elem="link" mod="orange" href="#") Репутация бренда
            li(elem="item")
              a(elem="link" mod="orange" href="#") Репутация личного бренда
            li(elem="item")
              a(elem="link" mod="orange" href="#") Крауд-маркетинг
            li(elem="item")
              a(elem="link" mod="orange" href="#") Мониторинг информационного поля
        .col-lg-4
          p(elem="definition") Управление репутацией (SERM) мы используем для коррекции, формирования, поддержания или защиты репутации компании, бренда или личности.
      div.mt-lg-auto(elem="actions")
        .d-flex.justify-content-between(elem="arrows")
          a(elem="prev" href="#" title="")
              +svg("prev")(width="30px" height="14px")
          a(elem="next" href="#" title="")
              +svg("prev")(width="30px" height="14px")
