extends layouts/_default.pug
block vars
  - const sidebarColor = 'orange';
  - const menuBtnColor = 'black';
block title
  title Репутация бренд
block content
  section.page(block="serm-case")
    .wrap
      +breadcrumbs(['Главная', 'Управление Репутацией SERM', 'Репутация брендa'], 'Кейс')
      +backlink
      h1(elem="title") Управление репутацией бренда в поисковых системах (SERM)
    div.content-style(elem="content")
      div(elem="top")
        .wrap
          p
            b Год
            |  / 2019
          .row
            .col-lg-5.col-xl-4
              b Позиционирование компании:
              p Крупная региональная компания по предоставлению финансовых займов.
            .col-lg-7
              b Задачи:
              ul
                li - Повышение доверия и увеличение лояльности целевой аудитории.
                li - Увеличение конверсии.
                li - Устранение негатива в поисковых системах.
                li - Развитие и укрепление позиции бренда на рынке.
            .col-lg-5.col-xl-4
              b Цель:
              p Повышение лояльности аудитории к бренду, укрепление имиджа и вытеснение негатива из поисковых систем.
          b Работа над проектом.
          .row
            .col-lg-5.col-xl-4
              p Был проанализирован и составлен список поисковых запросов, по которым посетители попадали на негативные отзывы. Больше всего негатива мы нашли по запросам: бренд, юридическое-название-компании, бренд отзывы.
            .col-lg-5.col-xl-4
              p До начала работ по управлению репутацией в поисковых системах соотношение положительных, нейтральных и негативных отзывов было следующим:
          div(block="diagram")
            .row
              .col-lg-5.col-xl-4
                b Общее соотношение негатива к позитиву на момент аудита.
                ul.d-none.d-lg-block(elem="list")
                  li.d-flex(elem="item" mod="positive") Позитивные отзывы
                    span.ml-auto.js-number(elem="amount" data-to="261" data-from="0") 0
                  li.d-flex(elem="item" mod="negative") Негативные отзывы
                    span.ml-auto.js-number(elem="amount" data-to="321" data-from="0") 0
              .col-lg-7.col-xl-4.d-flex.flex-column.justify-content-center.justify-content-lg-start
                svg.js-diagram(viewBox="0 0 32 32" data-positive="261" data-negative="321")
                  circle(elem="circle" r="15.9" cx="16" cy="16")
                  circle.js-diagram-process(elem="circle" mod="process" r="15.9" cx="16" cy="16")
                ul.d-lg-none(elem="list")
                  li.d-flex(elem="item" mod="positive") Позитивные отзывы
                    span.ml-auto(elem="amount") 261
                  li.d-flex(elem="item" mod="negative") Негативные отзывы
                    span.ml-auto(elem="amount") 321
      div(elem="middle")
        .wrap
          .row
            .col-lg-5
              p После анализа источников негатива стало ясно, что самый высокий процент негатива находится на форумах и площадках. Было принято решение вытеснять площадки с негативными отзывами за пределы топ-20, замещая их позитивными упоминаниями бренда.
            .col-lg-7
              b Для заполнения топа положительными материалами мы использовали следующие подходы:
              ul
                li -Опубликовали пул статей на тематических и новостных ресурсах;
                li -Создали качественно имиджевое видео с положительными, которое начали активно продвигать;
                li -Создали и начали продвижение собственных сателлитов;
                li -Продвигали страницы вакансий данной компании;
                li -Совместно с инструментами управления репутацией были использованы инструменты продвижения через социальные сети и YouTube.
                li -Был проведен анализ форумов и площадок, на основе которого было сделано вытеснение негатива положительными либо нейтральными отзывами о компании.
              p Кроме того, мы внесли правки на стороне клиента, чтобы по целевым запросам и поиску бренд, отзывы в топе ссылались не только на внешние площадки, но и на официальный сайт компании.
              p За все время было создано 6 сателлитов, размещено 45 статей, написано более 1000 положительных или нейтральных отзывов. Большинство публикаций находится в пределах топ-20.
      div(elem="bottom")
        .wrap
          b Итоги:
          p Через 10 месяцев работы мы получили результат:
          div(block="diagram")
            .row
              .col-lg-5.col-xl-4
                b Общее соотношение негатива к позитиву на 7 мая.
                ul.d-none.d-lg-block(elem="list")
                  li.d-flex(elem="item" mod="positive") Позитивные отзывы
                    span.ml-auto.js-number(elem="amount" data-to="949" data-from="0") 0
                  li.d-flex(elem="item" mod="negative") Негативные отзывы
                    span.ml-auto.js-number(elem="amount" data-to="278" data-from="0") 0
              .col-lg-7.d-flex.flex-column.justify-content-center.justify-content-lg-start
                svg.js-diagram(viewBox="0 0 32 32" data-positive="949" data-negative="278")
                  circle(elem="circle" r="15.9" cx="16" cy="16")
                  circle.js-diagram-process(elem="circle" mod="process" r="15.9" cx="16" cy="16")
                ul.d-lg-none(elem="list")
                  li.d-flex(elem="item" mod="positive") Позитивные отзывы
                    span.ml-auto(elem="amount") 949
                  li.d-flex(elem="item" mod="negative") Негативные отзывы
                    span.ml-auto(elem="amount") 278
                ul
                  li - 10 наших статей находятся в топ-10 поисковой выдачи.
                  li - 5 позиций по запросам занимают сателлиты.
                  li - 5 позиций удерживает основной сайт клиента.
                  li - Комплексная работа с Youtube, группами в социальных сетях, страницей на сайте работы так-же дала результат и вытеснила негатив с топ-10.
    .wrap
      +caseActions