extends layouts/_default.pug
block title
  title Репутация бренд
block content
  section.page.page--black(block="sections-page" data-color="black")
    .wrap
      +breadcrumbs(['Главная', 'Управление Репутацией SERM'], 'Репутация бренд')
      div(elem="decor" mod="serm") serm
      div.js-animated(elem="number" mod="serm" data-animation="slideInRight")
        span 01
      .row
        .col-lg-5
          h2(elem="title" mod="small") Управление Репутацией SERM
          ul(block="tabs")
            li(elem="item")
              a.active(elem="link" mod="orange" href="#") Репутация бренда
            li(elem="item")
              a(elem="link" mod="orange" href="#") Репутация личного бренда
            li(elem="item")
              a(elem="link" mod="orange" href="#") Крауд-маркетинг
            li(elem="item")
              a(elem="link" mod="orange" href="#") Мониторинг информационного поля
        .col-lg-6
          div.content-style(elem="content")
            div
            div
              p Через управление репутации бренда мы повышаем узнаваемость и укрепляем лояльность за счет создания повышения положительного имиджа в поисковых системах, форумах и социальных сетях. Ведь прежде, чем совершить какие-либо покупки или воспользоваться новыми предлагаемыми услугами, люди чаще всего изучают их характеристики, отзывы, оставленные потребителями, для того, чтобы учесть все ошибки и избежать неприятностей после приобретения той или иной услуги или товара.
            div
              ul
                li
                  b Создаем уникальную концепцию по управлению или исправлению репутации
                li
                  b Разрабатываем качественные активности с учетом позиционирования игрока на рынке
                li
                  b Осуществляем полный контроль репутации бренда в сети с помощью различных механик
      .row.flex-shrink-lg-0.mt-auto
          .col-lg-6.order-lg-2.position-static
              div(elem="actions")
                  a.btn.btn--order(elem="order" href="#") Заказать
                  a(elem="cases" href="#")
                      | Кейсы
                      +svg("next")(width="50px" height="14px")
          .col-lg-5.order-lg-1
              div(elem="arrows")
                  a(elem="prev" href="#" title="")
                      +svg("prev")(width="30px" height="14px")
                  a(elem="next" href="#" title="")
                      +svg("prev")(width="30px" height="14px")