extends layouts/_default.pug
block title
  title Продвижение коммерческого акаунта/Кейсы
block content
  section.page(block="cases" mod="orange, slider")
    .wrap
      +breadcrumbs(['Главная', 'SMM-продвижение', 'Продвижение коммерческого акаунта'], 'Кейсы')
      +backlink
      h1.visuallyhidden Продвижение коммерческого акаунта / Кейсы
    div(block="cases-slider" mod="smm" data-section="Smm")
      div.swiper-container.js-cases-thumb-slider(elem="thumb-slider")
        button.d-none.d-lg-block.btn.js-cases-prev(elem="slider-button" mod="prev, white" type="button" aria-label="Назад")
          +svg('prev')(width="30px" height="14px")
        .swiper-wrapper
          div.swiper-slide(elem="thumb-slide")
          div.swiper-slide(elem="thumb-slide")
          div.swiper-slide(elem="thumb-slide")
          div.swiper-slide(elem="thumb-slide")
        button.d-none.d-lg-block.btn.js-cases-next(elem="slider-button" mod="next, white" type="button" aria-label="Вперед")
          +svg('next')(width="50px" height="14px")
      div.swiper-container.js-cases-slider(elem="slider")
        .swiper-wrapper
          div.swiper-slide(elem="slide")
            div.swiper-container.js-cases-gallery(elem="gallery")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red, left-30" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red, left-30" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
          div.swiper-slide(elem="slide")
            div.swiper-container.js-cases-gallery(elem="gallery")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red, left-30" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red, left-30" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
          div.swiper-slide(elem="slide")
            div.swiper-container.js-cases-gallery(elem="gallery")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red, left-30" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red, left-30" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
          div.swiper-slide(elem="slide")
            div.swiper-container.js-cases-gallery(elem="gallery")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red, left-30" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red, left-30" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="smm")
                  a(elem="link" mod="red" href="#")
                    div.responsive-img(elem="image")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса