extends layouts/_default.pug
block title
  title Продвижение коммерческого акаунта
block content
  section.page(block="sections-page")
    .wrap
      +breadcrumbs(['Главная', 'SMM-продвижение'], 'Продвижение коммерческого акаунта')
      div.js-animated(elem="number" mod="smm" data-animation="slideInRight")
          span 01
      h2(elem="title") SMM-продвижение
      .row.justify-content-between.justify-content-xl-start.flex-lg-grow-1
        .col-lg-4
          ul(block="tabs")
            li(elem="item")
              a.active(elem="link" href="#") Продвижение коммерческого акаунта
            li(elem="item")
              a(elem="link" href="#") Продвижение личного акаунта
            li(elem="item")
              a(elem="link" href="#") Influencer Marketing & SMM
            li(elem="item")
              a(elem="link" href="#") Таргетированная реклама в SMM
            li(elem="item")
              a(elem="link" href="#") Фото и видео контент для SMM

        .col-lg-7
          div.content-style(elem="content")
            div
            div
              p Продвижение с позиции коммерческого аккаунта предполагает размещение прямых продающих публикаций, каталога продукции, различных рекламных акций, подарков в виде бонусов.
            div
              ul
                  li
                      p
                          b Мы разрабатываем уникальную продающую концепцию
                  li
                      p
                          b Проводим детальный анализ конкурентов в основной и смежной с ней сфере бизнеса
                  li
                      p
                          b Разрабатываем максимально продающий контент
                  li
                      p
                          b Привлекаем только целевую аудиторию
      .row.justify-content-between.flex-shrink-lg-0
          .col-lg-7.col-xl-8.order-lg-2.position-static
              div(elem="actions")
                  a.btn.btn--order(elem="order" href="#") Заказать
                  a(elem="cases" href="#")
                      | Кейсы
                      +svg("next")(width="50px" height="14px")
          .col-lg-3.col-xl-4.order-lg-1
              div(elem="arrows")
                  a(elem="prev" href="#" title="")
                      +svg("prev")(width="30px" height="14px")
                  a(elem="next" href="#" title="")
                      +svg("prev")(width="30px" height="14px")
