extends layouts/_default.pug
block title
  title SMM-продвижение
block content
  section.page(block="sections-page")
    .wrap
      +breadcrumbs(['Главная'], 'SMM-продвижение')
      .row.flex-lg-grow-1
        .col-lg-5.col-xl-4
          h2(elem="title") SMM-продвижение
          ul(block="tabs")
            li(elem="item")
              a(elem="link" href="#") Продвижение коммерческого акаунта
            li(elem="item")
              a(elem="link" href="#") Продвижение личного акаунта
            li(elem="item")
              a(elem="link" href="#") Influencer Marketing & SMM
            li(elem="item")
              a(elem="link" href="#") Таргетированная реклама в SMM
            li(elem="item")
              a(elem="link" href="#") Фото и видео контент для SMM
        .col-lg-6.col-xl-5.position-static
          ul#scene(block="smm-decor")
            li(elem="layer" data-depth="0.6")
              div(elem="item")
                div(elem="img" mod="rect")
                  .responsive-img
                    img.lazyload(data-src="img/media/smm-image-1.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            li(elem="layer" data-depth="0.8")
              div(elem="item")
                ul(elem="letter-list")
                  li(elem="letter" mod="s")
                      img(src="img/media/smm-mask-s.png" alt="")
                  li(elem="letter" mod="m")
                      img(src="img/media/smm-mask-m.png" alt="")
                  li(elem="letter" mod="m, multiply")
                      img(src="img/media/smm-m.svg" alt="")
            li.d-none.d-xl-block(elem="layer" data-depth="0.4")
              div(elem="item")
                div(elem="img" mod="squ")
                  .responsive-img
                    img.lazyload(data-src="img/media/smm-image-2.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            li.d-none.d-lg-block(elem="layer" data-depth="-0.2")
              div(elem="item" mod="fb")
                +svg("icon_FB")(width="43px" height="77px")
            li.d-none.d-lg-block(elem="layer" data-depth="-0.3")
              div(elem="item" mod="vk")
                +svg("icon_VK")(width="62px" height="35px")
            li.d-none.d-lg-block(elem="layer" data-depth="-0.4")
              div(elem="item" mod="od")
                +svg("icon_OK")(width="49px" height="83px")
          p.d-none.d-lg-block(elem="definition") Наша команда специалистов использует SMM как эффективный инструмент, где с помощью социальных сетей достигаются поставленные коммерческие цели.
      div.mt-lg-auto(elem="actions")
        .d-flex.justify-content-between(elem="arrows")
          a(elem="prev" href="#" title="")
              +svg("prev")(width="30px" height="14px")
          a(elem="next" href="#" title="")
              +svg("prev")(width="30px" height="14px")
