extends layouts/_default.pug
block vars
  - const headerPosition = 'absolute';
  - const sidebarPosition = 'absolute';
block title
  title Продвижение коммерческого акаунта/Кейсы
block content
  section.page(block="smm-case" data-color="black")
    div.responsive-img(elem="top-bg")
      img(src="img/media/smm-bg-tp.png" alt="" data-object-fit="cover")
    div.responsive-img(elem="bottom-bg")
      img(src="img/media/smm-bg-bt.png" alt="" data-object-fit="cover")
    div.wrap(elem="top")
      +breadcrumbs(['Главная', 'SMM-продвижение', 'Продвижение коммерческого акаунта'], 'Кейсы')
      a.d-none.d-lg-block(elem="back" href="#" title="")
        +svg("next")(width="50px" height="14px")
      div(elem="case-logo")
        img(src="img/media/smm-logo.svg" alt="")
      h1(elem="title") Ростсельмаш
      a(elem="case-link" href="#") Смотреть соцсеть
    div.wrap(elem="content")
      div.content-style
        p
          b Год
          |  / 2019
        b Позиционирование компании:
        p крупный производитель сельскохозяйственной техники с рынками сбыта по всему миру.
        b Цель:
        p Привлечение качественной целевой аудитории, повышение узнаваемости бренда, повышение входящих hr –обращений.
        b Задачи:
        ul
          li - повышение лояльности пользователей к бренду Ростсельмаш;
          li - увеличение количественных показателей активности пользователей на странице;
          li - повышение охвата аудитории групп в социальных сетях;
          li - увеличение количества подписчиков;
          li - создание встроенного виджета ВК для оптимизации обработки входящих hr-обращений;
      div.js-animated(elem="decor" mod="inst" data-animation="fadeInDownVertical") instagram
      ul(elem="phones" mod="inst")
        li.responsive-img(elem="phone" mod="inst")
          img.lazyload(data-src="img/media/smm-phone.png" src="https://via.placeholder.com/150?text=+" alt="")
        li.responsive-img(elem="phone" mod="inst")
          img.lazyload(data-src="img/media/smm-phone.png" src="https://via.placeholder.com/150?text=+" alt="")
        li.responsive-img(elem="phone" mod="inst")
          img.lazyload(data-src="img/media/smm-phone.png" src="https://via.placeholder.com/150?text=+" alt="")
        li.responsive-img(elem="phone" mod="inst")
          img.lazyload(data-src="img/media/smm-phone.png" src="https://via.placeholder.com/150?text=+" alt="")
    div.wrap(elem="total")
      div.content-style
        b Итоги:
        ul
          li Показатели охвата аудитории превышены более чем в 4 раза
          li Количество комментариев выросло в 20 раз
          li Количество репостов выросло в 10 раз
          li Количество лайков выросло в 14 раз
          li Средняя цена подписчика по трем используемым социальным сетям составила 1,87 рублей
    div(elem="layout")
      .responsive-img
        img.lazyload(data-src="img/media/smm-image.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
    div(elem="bottom")
      div(elem="wrapper")
        div.responsive-img(elem="vk-image")
          img.lazyload(data-src="img/media/smm-vk.png" src="https://via.placeholder.com/150?text=+" alt="")
        div.js-animated(elem="decor" mod="vk" data-animation="fadeInDownVertical") vkontakte
        ul(elem="phones" mod="vk")
          li.responsive-img(elem="phone" mod="vk")
            img.lazyload(data-src="img/media/smm-phone.png" src="https://via.placeholder.com/150?text=+" alt="")
          li.d-none.d-lg-block.responsive-img(elem="phone" mod="vk")
            img.lazyload(data-src="img/media/smm-phone.png" src="https://via.placeholder.com/150?text=+" alt="")
      +caseActions('white')
