extends layouts/_default.pug
block title
  title Таргетированная реклама/Кейсы
block content
  section.page(block="cases" mod="red, slider")
    .wrap
      +breadcrumbs(['Главная', 'Digital-маркетинг', 'Таргетированная реклама'], 'Кейсы')
      +backlink
      h1.visuallyhidden Таргетированная реклама/Кейсы
      div.swiper-container.js-targer-cases(elem="slider" mod="target")
        .swiper-wrapper
          div.swiper-slide(elem="slide")
            a(href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/target-cases-1.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              span(elem="name") Ресторан
          div.swiper-slide(elem="slide")
            a.js-pjax(href="target-adv-case.html")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/target-cases-2.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              span(elem="name") Такси
          div.swiper-slide(elem="slide")
            a(href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/target-cases-3.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              span(elem="name") Авто-дилер
          div.swiper-slide(elem="slide")
            a(href="#")
              div.responsive-img(elem="img")
                img.lazyload(data-src="img/media/target-cases-1.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
              span(elem="name") Ресторан
        button.d-none.d-xl-block.btn.btn--slider-prev.js-target-prev(elem="prev" type="button" aria-label="Назад")
          +svg('prev')(width="30px" height="14px")
        button.d-none.d-xl-block.btn.btn--slider-next.js-target-next(elem="next" type="button" aria-label="Вперед")
          +svg('next')(width="50px" height="14px")
