extends layouts/_default.pug
block title
  title Таргетированная реклама/Кейс
block content
  section.page(block="target-case")
    .wrap
      +breadcrumbs(['Главная', 'Digital-маркетинг', 'Таргетированная реклама'], 'Кейсы')
      +backlink
      h1(elem="title") Привлечение новых посетителей за счет offline to online маркетинга для крупного ресторана.
      div.content-style(elem="content")
        div(elem="decor" mod="info") info
        p
          b Год
          |  / 2019
        .row
          .col-lg-5.col-xl-4
            b Выбор цели РК и формат объявления.
            p Основная задача, которую поставил перед нами клиент составляла в привлечении новых посетителей в ресторан.
            p Было использовано кроссплатформенное мультиформатное размещение и карусель.
            p Было протестировано более 15 креативов за весь период рекламной кампании, посты про ресторан, акции заведения и ежедневными, посты про блюда и сотрудников и пр.
          .col-lg-4.col-xl-4
            b Настройка аудитории.<br>
            p Гео-таргетирование было настроено на близлежащие жилые комплексы на похожую аудиторию, которую предоставили владелец ресторана.
          .col-lg-3.col-xl-4
            b Итоги / Показатели:
            ul
              li Охват - 15 500
              li CR – 0,15 %
              li CPL (приход посетителя)– 65 ₽
            ul
              li CR:
              li IOS – 11,36 %
              li Android – 11,40 %
      span(elem="accomod") Мультиформатное размещение
    ul(elem="list" mod="gray")
      li(elem="item")
        div.responsive-img(elem="img")
          img.lazyload(data-src="img/media/target-1.png" src="https://via.placeholder.com/150?text=+" alt="")
        div.js-animated(elem="decor" mod="visual" data-animation="slideInLeftVBig") visual
      li(elem="item")
        .responsive-img
          img.lazyload(data-src="img/media/target-rest.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
      li(elem="item")
        .responsive-img
          img.lazyload(data-src="img/media/target-rest.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
      li(elem="item")
        .responsive-img
          img.lazyload(data-src="img/media/target-rest.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
      li(elem="item")
        .responsive-img
          img.lazyload(data-src="img/media/target-rest.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
      li(elem="item")
        .responsive-img
          img.lazyload(data-src="img/media/target-rest.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
    .wrap
      +caseActions('black')
