extends layouts/_default.pug
block title
  title Видео-продакшн
block content
  section.page.page--black(block="sections-page" data-color="black")
    .wrap
      +breadcrumbs(['Главная', 'Создание визуального контента'], 'Видео-продакшн')
      div.js-animated(elem="number" mod="visual" data-animation="slideInRight")
          span 01
      .row.justify-content-between.justify-content-xl-start.flex-lg-grow-1
        .col-lg-4
          h2(elem="title") Создание визуального контента
          ul(block="tabs")
            li(elem="item")
              a.active(elem="link" mod="orange" href="#") Видео-продакшн
            li(elem="item")
              a(elem="link" mod="orange" href="#") Фото-съемка

        .col-lg-7
          div.content-style(elem="content")
            div
              p
                b Наш штат специалистов выполнит работу любой сложности в зависимости от поставленных целей и задач.
            div
              p
                b Наша команда проекта:
              ul
                li
                  p -Оператор
                li
                  p -Специалист по свету
                li
                  p -Креативный режиссер
                li
                  p -Раскадровщик
              ul
                li
                  p -Раскадровщик
                li
                  p -Специалист по монтажу
                li
                  p -Ассистенты
                li
                  p -Специалист по цветокоррекции видео
            div
              ul
                li
                  p
                    b Создаем запоминающийся видео контент.
                li
                    p
                        b Разрабатываем контент под конкретные цели и задачи.
                li
                    p
                        b Осуществляем полный цикл создания: от генерации идеи до готового результата.
      .row.justify-content-between.flex-shrink-lg-0
          .col-lg-7.col-xl-8.order-lg-2.position-static
              div(elem="actions")
                  a.btn.btn--order(elem="order" href="#") Заказать
                  a(elem="cases" href="#")
                      | Кейсы
                      +svg("next")(width="50px" height="14px")
          .col-lg-3.col-xl-4.order-lg-1
              div(elem="arrows")
                  a(elem="prev" href="#" title="")
                      +svg("prev")(width="30px" height="14px")
                  a(elem="next" href="#" title="")
                      +svg("prev")(width="30px" height="14px")
