extends layouts/_default.pug
block title
  title Создание визуального контента
block content
  section.page.page--black.js-white-black(block="sections-page" mod="white-black" data-color="black-white")
    .wrap
      +breadcrumbs(['Главная'], 'Создание визуального контента')
      div.d-lg-none(elem="decor" mod="rect, white, visual")
        +svg("rectangle-decor-m")(width="100%" height="100%")
      div.d-none.d-lg-block(elem="decor" mod="rect, white, visual")
        +svg("rectangle-decor")(width="100%" height="100%")
      div.js-animated(elem="decor" mod="visual-video" data-animation="fadeInDownVertical") video
      div.js-animated(elem="decor" mod="visual-photo" data-animation="fadeInDownVertical") photo
      .row.flex-lg-grow-1
        .col-lg-4
          h2(elem="title" mod="black") Создание визуального контента
          ul(block="tabs" mod="black")
            li(elem="item")
              a(elem="link" mod="orange" href="#") Видео-продакшн
            li(elem="item")
              a(elem="link" mod="orange" href="#") Фото-съемка
      ul#scene(block="images-decor" mod="visual")
        li(elem="layer" mod="visual" data-depth="0.6")
          div(elem="item")
            div(elem="img" mod="squ")
              .responsive-img
                img.lazyload(data-src="img/media/dm-decor-1.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
            div(elem="img" mod="squ-small, visual")
              .responsive-img
                img.lazyload(data-src="img/media/dm-decor-3.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
        li(elem="layer" mod="visual" data-depth="-0.3")
          div(elem="item")
            div(elem="img" mod="squ")
              .responsive-img
                img.lazyload(data-src="img/media/dm-decor-2.png" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
        li(elem="layer" mod="visual" data-depth="0.4")
          div(elem="item")
      .row.justify-content-between.flex-shrink-lg-0.mt-auto
        .col-lg-3.col-xl-4
          .d-none.d-lg-flex(elem="arrows")
            a(elem="prev" href="#" title="")
              +svg("prev")(width="30px" height="14px")
            a(elem="next" href="#" title="")
              +svg("prev")(width="30px" height="14px")
