extends layouts/_default.pug
block title
  title Web-разработка/Кейсы
block content
  section.page(block="cases" mod="aqua, slider, web")
    .wrap
      +breadcrumbs(['Главная', 'Digital-маркетинг', 'Web-разработка'], 'Кейсы')
      +backlink
      h1.visuallyhidden Web-разработка/Кейсы
    div(block="cases-slider" mod="web")
      div.swiper-container.js-web-cases-slider(elem="slider" mod="web")
        button.d-none.d-lg-block.btn.js-web-cases-prev(elem="slider-button" mod="prev" type="button" aria-label="Назад")
          +svg('prev')(width="30px" height="14px")
        .swiper-wrapper
          div.swiper-slide(elem="slide")
            div.swiper-container.js-web-cases-gallery(elem="gallery" mod="web")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name" mod="small")
                    span Landing Page для нео-бистро
                    |  Qвентин
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name" mod="red-stroke")
                    span aaa
                    |  моторс
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") ЕВРО ПОЛИ МЕ<br>Р
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name" mod="medium")
                    span Miani
                    | COSMETICS
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name" mod="yellow")
                    span ЯРМАРКА
                    | МЁДА
          div.swiper-slide(elem="slide")
            div.swiper-container.js-web-cases-gallery(elem="gallery" mod="web")
              .swiper-wrapper
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name") Название кейса
                div.swiper-slide(elem="gallery-item" mod="web")
                  a(elem="link" href="#")
                    div.responsive-img(elem="image" mod="web")
                      img.lazyload(data-src="img/media/case-img.jpg" src="https://via.placeholder.com/150?text=+" alt="" data-object-fit="cover")
                  div(elem="name")
                    span Название
                    |  кейса
        button.d-none.d-lg-block.btn.js-web-cases-next(elem="slider-button" mod="next" type="button" aria-label="Вперед")
          +svg('next')(width="50px" height="14px")