extends layouts/_default.pug
block vars
  - var headerPosition = 'absolute';
  - var sidebarPosition = 'absolute';
block title
  title Web-разработка/Кейсы
block content
  section.page(block="web-case" mod="yellow" data-color="black-op")
    ul#scene.d-none.d-lg-block(elem="decor")
      li(elem="layer" mod="figures" data-depth="0.5")
        +svg("ellipse")(width="30" height="30")
      li.d-none.d-xl-block(elem="layer" mod="figures" data-depth="-0.4")
        +svg("ellipse")(width="58" height="58")
      li(elem="layer" mod="figures" data-depth="0.8")
        +svg("ellipse")(width="23" height="23")
      li(elem="layer" mod="figures" data-depth="-0.2")
        +svg("triangle")(width="50" height="50")
    .wrap(elem="first-screen")
      +breadcrumbs(['Главная', 'Digital-маркетинг', 'Web-разработка'], 'Кейсы')
      +backlink
      .d-flex.flex-column.flex-lg-row.flex-lg-wrap.align-items-lg-start.justify-content-xl-between.flex-grow-1
        div(elem="wrapper")
          h1(elem="title" mod="small")
            span Нео-бистро
            | Qвентин
          span(elem="type" mod="white") Landing page
        div.responsive-img(elem="screen")
          img(src="img/media/web-case-screen.jpg" alt="" data-object-fit="cover")
        a.mt-auto.ml-lg-auto(elem="link" href="#") Смотреть сайт
    .wrap(elem="text")
      div.content-style(elem="content")
        .row
          .col-lg-6.col-xl-7
            p
              b Год
              |  / 2019
            b Проект Qвентин:
            p В нашу компанию поступил запрос на разработку продающего Landing Page для необычного арт - нео-бистро, визуальная концепция которого выполнена в стиле фильмов Квентина Тарантино.
        .row.justify-content-lg-between
          .col-lg-6.col-xl-7
            b Решение:
            p Нами был проведен подробный анализ проекта: изучение текущих социальных сетей, брендбук и креативная концепция заведения, особенности меню.

            p На основе данного анализа мы разработали информационный и продающий контент для Landing Page с использованием основных преимуществ заказчика: необычной обстановки, креативность вида блюд, атмосфера.
          .col-lg-5.col-xl-4(elem="total")
            b Итог:
            p Создание визуально привлекательного и необычного, продающего Landing Page с использованием формы обратной связи и Call to action для повышения конверсий.
    .wrap(elem="example")
      div(elem="image")
        img(src="img/media/web-case-site.jpg" alt="")
      +caseActions('black')