extends layouts/_default.pug
block vars
  - const headerPosition = 'absolute';
  - const sidebarPosition = 'absolute';
block title
  title Web-разработка/Кейсы
block content
  section.page(block="web-case" mod="beige" data-color="black-op")
    .wrap(elem="first-screen")
      +breadcrumbs(['Главная', 'Digital-маркетинг', 'Web-разработка'], 'Кейсы')
      +backlink
      .d-flex.flex-column.flex-lg-row.flex-lg-wrap.align-items-lg-start.justify-content-xl-between.flex-grow-1
        div(elem="wrapper")
          h1(elem="title" mod="medium")
            span Miani
            | COSMETICS
          span(elem="type" mod="black") Сайт<br>интернет-магазина
        div.responsive-img(elem="screen")
          img(src="img/media/web-case-screen.jpg" alt="" data-object-fit="cover")
        a.mt-auto.ml-lg-auto(elem="link" href="#") Смотреть сайт
    .wrap(elem="text")
      div.content-style(elem="content")
        .row
          .col-lg-6.col-xl-7
            p
              b Год
              |  / 2019
            b Проект Qвентин:
            p В нашу компанию поступил запрос на разработку продающего Landing Page для необычного арт - нео-бистро, визуальная концепция которого выполнена в стиле фильмов Квентина Тарантино.
        .row.justify-content-lg-between
          .col-lg-6.col-xl-7
            b Решение:
            p Нами был проведен подробный анализ проекта: изучение текущих социальных сетей, брендбук и креативная концепция заведения, особенности меню.

            p На основе данного анализа мы разработали информационный и продающий контент для Landing Page с использованием основных преимуществ заказчика: необычной обстановки, креативность вида блюд, атмосфера.
          .col-lg-5.col-xl-4(elem="total")
            b Итог:
            p Создание визуально привлекательного и необычного, продающего Landing Page с использованием формы обратной связи и Call to action для повышения конверсий.
    .wrap(elem="example")
      div(elem="image")
        img(src="img/media/web-case-site.jpg" alt="")
      +caseActions('black')