/*About us section start*/
.about-us {
    .page {
        display: flex;

        @include media-breakpoint-up(lg) {
            padding-top: 160px;
        }

        @include media-breakpoint-up(xl) {
            padding-top: 120px;
        }
    }

    .wrap {
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 105px;
        }

        @include media-breakpoint-up(xl) {
            padding-left: 147px;
        }
    }

    &__wrapper {
        @include media-breakpoint-up(lg) {
            position: relative;
            width: 39.7170838%;
            &::after {
                content: "";
                position: absolute;
                bottom: 10px;
                left: 40px;
                width: 40px;
                height: 3px;
                background-color: #898989;
            }
        }
        @include media-breakpoint-up(xl) {
            width: 35.5761794%;
            &::after {
                left: 0;
                bottom: 40px;
            }
        }
    }

    &__title {
        margin-bottom: 20px;
        padding: 0 40px;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
            padding: 0;
            max-width: 352px;
            font-size: 50px;
            line-height: 60px;
            font-weight: 800;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 40px;
        }
    }

    &__text {
        padding: 0 20px 0 40px;
        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__img {
        position: relative;
        margin-bottom: 40px;
        padding: 20px 0;
        overflow: hidden;

        .responsive-img {
            overflow: hidden;
            &::before {
                padding-bottom: 65.5555556%;
            }
        }

        @include media-breakpoint-up(lg) {
            width: 57.562568%;
            overflow: visible;
            .responsive-img {
                &::before {
                    padding-bottom: 77.31569%;
                }
            }
        }

        @include media-breakpoint-up(xl) {
            padding: 0;
            width: 62.103635%;
            .responsive-img {
                &::before {
                    padding-bottom: 65.5043587%;
                }
            }
        }
    }

    &__decor {
        position: absolute;
        bottom: 41%;
        right: -165px;
        font-size: 70px;
        font-weight: 800;
        line-height: 1;
        text-transform: uppercase;
        color: $color-orange;
        mix-blend-mode: multiply;
        transform: rotate(-90deg);

        @include media-breakpoint-up(lg) {
            bottom: 66%;
            right: -213px;
            font-size: 180px;
        }

        @include media-breakpoint-up(xl) {
            bottom: 61%;
            right: 90px;
        }
    }

    &__link {
        position: relative;
        display: block;
        padding-right: 20px;
        text-align: right;
        color: $color-orange;
        svg {
            stroke: $color-orange;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 40px;
            width: 40px;
            height: 3px;
            background-color: #898989;
            transform: translateY(-50%);
        }
        &:hover,
        &:focus {
            color: $color-text;
            text-decoration: none;

            svg {
                stroke: $color-text;
            }
        }

        @include media-breakpoint-up(lg) {
            margin-top: auto;
            align-self: flex-start;
            padding-right: 30px;
            flex-grow: 1;
            &::before {
                display: none;
            }
        }
    }
}
/*About us section end*/
