/*Appeal section start*/
.appeal {
    .page {
        position: relative;
        background-color: transparent;
        @include media-breakpoint-up(lg) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 300px;
                width: 166px;
                height: 100%;
                background-color: #F5F5F5;
            }
        }

        @include media-breakpoint-up(xl) {
             padding-top: 107px;
            &::before {
                left: 343px;
            }
        }
    }
    .wrap {
        padding-right: 25px;

        @include media-breakpoint-up(lg) {
            padding-right: 40px;
        }

        @include media-breakpoint-up(xl) {
            padding-right: 147px;
        }
    }
    .breadcrumbs {
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 15px;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 800;
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
    }
    &__photo {
        position: relative;
        margin-bottom: 20px;
        align-self: flex-start;
        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            right: -10px;
            height: 264px;
            width: 78px;
            background-image: url("../img/theme/hello.svg");
            background-repeat: no-repeat;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 70px;
            &::after {
                bottom: -101px;
                right: auto;
                left: 233px;
                width: 109px;
                height: 370px;
            }
        }
    }
    &__img {
        width: 74.4444444vw;
        max-width: 286px;
        &::before {
            padding-bottom: 124.475524%;
        }
    }
    &__text {
        p {
            margin-bottom: 30px;
        }

        & > p {
            margin-bottom: 20px;
            max-width: 530px;
            font-size: 16px;
            font-weight: 500;
            @include media-breakpoint-up(xl) {
                margin-bottom: 30px;
            }
        }
    }
    &__column {
        @include media-breakpoint-up(xl) {
            column-count: 2;
            column-width: 48.0106101%;
            column-gap: 3.97877984%;
        }
    }
}
/*Appeal section end*/
