/*Cases slider compopnent start*/
.cases-slider {
    &::before  {
        content: attr(data-section);
        display: block;
        padding-left: 40px;
        font-size: 60px;
        line-height: 65px;
        font-weight: 900;
        text-transform: uppercase;
        pointer-events: none;
        color: $color-text;
        text-shadow: -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px #fff) {
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px #fff;
        }
    }
    &--smm {
        &::before {
            font-size: 36px;
            text-transform: capitalize;
            color: $color-orange;
            text-shadow: none;
            -webkit-text-fill-color: initial;
            -webkit-text-stroke: initial;
        }
    }
    @include media-breakpoint-up(lg) {
        padding-left: 105px;
        &::before {
            position: absolute;
            top: 328px;
            left: 226px;
            z-index: 2;
            padding: 0;
            font-size: 140px;
            line-height: 1;
            transform: rotate(-90deg);
        }
        &--smm {
            &::before {
                top: 281px;
                left: 204px;
                font-size: 180px;
                color: #fff;
                text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),
                    1px -1px 0 rgba(0, 0, 0, 0.5),
                    -1px 1px 0 rgba(0, 0, 0, 0.5),
                    1px 1px 0 rgba(0, 0, 0, 0.5);
                @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px rgba(0, 0, 0, 0.5)) {
                    text-shadow: none;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
                }
            }
        }
        &--ready {
            padding: 0;
        }
    }
    @include media-breakpoint-up(xl) {
        padding-left: 147px;
        &::before {
            left: 380px;
        }
        &--smm {
            &::before {
                top: 331px;
                left: 338px;
                font-size: 200px;
            }
        }
        &--ready {
            padding: 0;
        }
    }
    &__thumb-slider {
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 15px 30px;
        max-width: 375px;
        counter-reset: myCounter;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 2px;
            height: 15px;
            background-color: $color-orange;
            transform: translateX(-50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            margin: 0;
            padding: 0;
            padding-left: 59.375%;
            padding-right: 33.3007812%;
            padding-bottom: 17px;
            padding-top: 30px;
            width: 100%;
            max-width: none;

            &::before,
            &::after {
                display: none;
            }

            .swiper-wrapper {
                width: 75px;
            }
        }

        @include media-breakpoint-up(xl) {
            padding-left: 64.4444444%;
            padding-right: 30.3472222%;
        }
    }

    &__thumb-slide {
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            display: inline-block;
            vertical-align: top;
            font-size: 60px;
            font-weight: 800;
            line-height: 1;
            transition: all 0.3s ease-in-out;
            transform: scale(0.3);
        }

        &.swiper-slide-thumb-active {
            &::before {
                color: $color-orange;
                transform: scale(1);
            }
        }

        &.swiper-slide-thumb-active+& {
            &::before {
                transform: scale(0.5);
            }
        }

        @include media-breakpoint-up(lg) {
            &::before {
                width: 130px;
                height: 75px;
                font-size: 75px;
                line-height: 1;
                color: $color-orange;
                opacity: 0;
                transform: rotate(-90deg) scale(0.5);
            }

            &.swiper-slide-thumb-active {
                &::before {
                    opacity: 1;
                    transform: rotate(-90deg) scale(1);
                }
            }

            &.swiper-slide-thumb-active+& {
                &::before {
                    transform: rotate(-90deg) scale(0.5);
                    // mix-blend-mode: normal;
                }
            }
        }
    }

    &__slider-button {
        position: absolute;
        bottom: 50px;
        z-index: 1;
        &--prev {
            left: 105px;
        }
        &--next {
            right: 50px;
        }
        svg {
            stroke: currentColor;
        }
        @include media-breakpoint-up(xl) {
            &--prev {
                left: 147px;
            }
        }
    }

    &__name {
        position: absolute;
        left: 15px;
        bottom: 10px;
        z-index: 1;
        font-size: 20px;
        line-height: 34px;
        font-weight: 700;
        color: #fff;
        pointer-events: none;
        &--black-stroke {
            span {
                display: block;
                text-transform: uppercase;
                color: #fff;
                text-shadow: -1px -1px 0 #000,
                    1px -1px 0 #000,
                    -1px 1px 0 #000,
                    1px 1px 0 #000;

                @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 1px #000) {
                    text-shadow: none;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px #000;
                }
            }
        }
        &--red-stroke {
            span {
                display: block;
                text-transform: uppercase;
                color: #fff;
                text-shadow: -1px -1px 0 #C9272E,
                    1px -1px 0 #C9272E,
                    -1px 1px 0 #C9272E,
                    1px 1px 0 #C9272E;
                @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 1px #C9272E) {
                    text-shadow: none;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px #C9272E;
                }
            }
        }
        &--small {
            span {
                display: block;
                font-size: 16px;
                line-height: 26px;
            }
        }
        &--medium {
            span {
                display: block;
                font-size: 22px;
                line-height: 40px;
            }
        }
        &--yellow {
            span {
                display: block;
                color: #FFC700;
            }
        }
    }

    &__slider {
        max-width: 100%;
        @include media-breakpoint-up(lg) {
            margin-top: -60px;
            &--web {
                margin-top: -64px;
                .cases-slider__slider-button {
                    &--prev {
                        left: 0;
                    }
                }
            }
        }
        @include media-breakpoint-up(xl) {
            margin-top: -20px;
            &--web {
                margin-top: -233px;
                counter-reset: myCounter;
                .cases-slider__slider-button {
                    &--prev {
                        left: 0;
                    }
                }
            }
        }
    }

    &__link {
        position: relative;
        display: block;
        height: 100%;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: $color-orange;
            opacity: 0.5;
            transform: translateX(-101%);
            transition: transform 0.3s ease-in;
            @supports (mix-blend-mode: multiply) {
                mix-blend-mode: multiply;
                opacity: 1;
            }
        }

        &:hover {
            &::after {
                transform: translateX(0);
            }
        }

        &--red {
            &::after {
                background-color: #C9272E;
            }
        }

        &--left-30 {
            &::after {
                transform: translateX(-70%);
            }
        }
        &--left-25 {
            &::after {
                transform: translateX(-75%);
            }
        }
        &--right-25 {
            &::after {
                transform: translateX(75%);
            }
        }
        &--right-45 {
            &::after {
                transform: translateX(55%);
            }
        }
    }

    &__gallery {
        padding: 0 40px;
        max-width: 100%;

        @include media-breakpoint-up(lg) {
            order: -1;
            margin: 0;
            padding: 0;
            padding-bottom: 80px;
            padding-top: 30px;
            overflow: visible;

            .swiper-wrapper {
                display: -ms-grid;
                display: grid;
                grid-template-columns: repeat(184, 1fr);
                grid-template-rows: repeat(17, 2.60416667vh);
            }
            &--ready {
                .swiper-wrapper {
                    grid-template-columns: repeat(205, 1fr);
                    grid-template-rows: repeat(36, 1.30208333vh);
                }
            }
            &--web {
                padding: 0;
                .swiper-wrapper {
                    grid-template-columns: repeat(184, 1fr);
                    grid-template-rows: repeat(114, 0.65104167vh);
                }
            }
        }

        @include media-breakpoint-up(xl) {
            padding-bottom: 60px;
            .swiper-wrapper {
                grid-template-columns: repeat(216, 1fr);
                grid-template-rows: repeat(24, 1.953125vh);
            }
            &--ready {
                .swiper-wrapper {
                    grid-template-columns: repeat(288, 1fr);
                }
            }
            &--web {
                padding: 0;
                padding-top: 90px;
                .swiper-wrapper {
                    grid-template-columns: repeat(259, 1fr);
                    grid-template-rows: repeat(130, 0.65104167vh);
                }
            }
        }
    }

    &__gallery-item {
        &:nth-child(1) {
            .cases-slider__name {
                color: $color-orange;
            }
        }

        &--visual {
            &:nth-child(4) {
                .cases-slider__name {
                    color: $color-orange;
                }
            }
            &:nth-child(4),
            &:nth-child(5) {
                text-transform: uppercase;
            }
            &:nth-child(5) {
                text-align: right;
            }
        }

        &--smm {
            .cases-slider__name {
                color: $color-text;
            }
            &:nth-child(1) {
                .cases-slider__name {
                    text-transform: uppercase;
                    color: #C9272E;
                    span {
                        display: block;
                        color: #fff;
                        text-shadow: -1px -1px 0 #000,
                            1px -1px 0 #000,
                            -1px 1px 0 #000,
                            1px 1px 0 #000;
                        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 1px #000) {
                            text-shadow: none;
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke: 1px #000;
                        }
                    }
                }
            }
            &:nth-child(2) {
                .cases-slider__name {
                    @include media-breakpoint-up(lg) {
                        color: #fff;
                    }
                    span {
                        display: block;
                        font-size: 32px;
                        text-transform: uppercase;
                        text-shadow: -1px -1px 0 #C9272E,
                            1px -1px 0 #C9272E,
                            -1px 1px 0 #C9272E,
                            1px 1px 0 #C9272E;
                        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 1px #C9272E) {
                            text-shadow: none;
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke: 1px #C9272E;
                        }
                    }
                }
            }
            &:nth-child(4) {
                .cases-slider__name {
                    font-weight: 800;
                    color: $color-text;
                }
            }
            &:nth-child(5) {
                .cases-slider__name {
                    font-weight: 800;
                    text-transform: uppercase;
                    text-align: right;
                    span {
                        color: #FFC700;
                    }
                }
            }
        }
        &--web {
            .cases-slider__name {
                color: $color-text;
            }
            &:nth-child(1) {
                .cases-slider__name {
                    color: $color-text;
                }
            }
            &:nth-child(3) {
                .cases-slider__name {
                    max-width: 154px;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            width: inherit !important;

            &:nth-child(1) {
                // -ms-grid-row: 3 !important;
                grid-row-start: 3;
                // -ms-grid-column: 1 !important;
                grid-column-start: 1;
                // -ms-grid-row-span: 13 !important;
                grid-row-end: 16;
                // -ms-grid-column-span: 82 !important;
                grid-column-end: 83;

                .cases-slider__name {
                    bottom: -60px;
                    left: 30px;
                    color: $color-orange;
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            &:nth-child(2) {
                // -ms-grid-row: 1 !important;
                grid-row-start: 1;
                // -ms-grid-column: 87 !important;
                grid-column-start: 87;
                // -ms-grid-row-span: 8 !important;
                grid-row-end: 9;
                // -ms-grid-column-span: 40 !important;
                grid-column-end: 127;
                .cases-slider__name {
                    left: 10px;
                    right: 10px;
                    bottom: 35px;
                }
            }

            &:nth-child(3) {
                // -ms-grid-row: 10 !important;
                grid-row-start: 10;
                // -ms-grid-column: 87 !important;
                grid-column-start: 87;
                // -ms-grid-row-span: 8 !important;
                grid-row-end: 18;
                // -ms-grid-column-span: 40 !important;
                grid-column-end: 127;
                .cases-slider__name {
                    left: 10px;
                    right: 10px;
                    bottom: 35px;
                }
            }

            &:nth-child(4) {
                // -ms-grid-row: 1 !important;
                grid-row-start: 1;
                // -ms-grid-column: 131 !important;
                grid-column-start: 131;
                // -ms-grid-row-span: 8 !important;
                grid-row-end: 9;
                // -ms-grid-column-span: 55 !important;
                grid-column-end: 172;
                .cases-slider__name {
                    left: 10px;
                    right: 10px;
                    top: -35px;
                }
            }

            &:nth-child(5) {
                // -ms-grid-row: 10 !important;
                grid-row-start: 10;
                // -ms-grid-column: 131 !important;
                grid-column-start: 131;
                // -ms-grid-row-span: 8 !important;
                grid-row-end: 18;
                // -ms-grid-column-span: 55 !important;
                grid-column-end: 172;
                .cases-slider__name {
                    left: 10px;
                    right: 10px;
                    bottom: -35px;
                }
            }

            &--smm {
                &:nth-child(1) {
                    grid-row-start: 2;
                    grid-column-start: 1;
                    grid-row-end: 16;
                    grid-column-end: 81;
                }

                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-column-start: 85;
                    grid-row-end: 9;
                    grid-column-end: 126;
                }

                &:nth-child(3) {
                    grid-row-start: 10;
                    grid-column-start: 85;
                    grid-row-end: 18;
                    grid-column-end: 126;
                }

                &:nth-child(4) {
                    grid-row-start: 2;
                    grid-column-start: 130;
                    grid-row-end: 9;
                    grid-column-end: 173;
                }

                &:nth-child(5) {
                    grid-row-start: 10;
                    grid-column-start: 130;
                    grid-row-end: 17;
                    grid-column-end: 173;
                }
            }

            &--ready {
                &:nth-child(1) {
                    grid-row-start: 1;
                    grid-column-start: 1;
                    grid-row-end: 37;
                    grid-column-end: 104;
                    .cases-slider__name {
                        left: 105px;
                    }
                }

                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-column-start: 108;
                    grid-row-end: 18;
                    grid-column-end: 151;
                    .cases-slider__name {
                        top: auto;
                        left: 15px;
                        bottom: 10px;
                    }
                }

                &:nth-child(3) {
                    grid-row-start: 20;
                    grid-column-start: 108;
                    grid-row-end: 37;
                    grid-column-end: 151;
                    .cases-slider__name {
                        top: auto;
                        left: 15px;
                        bottom: 10px;
                    }
                }

                &:nth-child(4) {
                    grid-row-start: 1;
                    grid-column-start: 155;
                    grid-row-end: 18;
                    grid-column-end: 201;
                    .cases-slider__name {
                        top: auto;
                        left: 15px;
                        bottom: 10px;
                    }
                }

                &:nth-child(5) {
                    grid-row-start: 20;
                    grid-column-start: 155;
                    grid-row-end: 37;
                    grid-column-end: 201;
                    .cases-slider__name {
                        top: auto;
                        left: 15px;
                        bottom: 10px;
                    }
                }
            }

            &--web {
                .cases-slider__name {
                    font-size: 24px;
                    line-height: 30px;
                }
                &:nth-child(1) {
                    grid-row-start: 21;
                    grid-column-start: 1;
                    grid-row-end: 66;
                    grid-column-end: 71;
                    .cases-slider__name {
                        bottom: -40px;
                        font-size: 40px;
                        color: $color-text;
                    }
                }

                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-column-start: 73;
                    grid-row-end: 40;
                    grid-column-end: 123;
                    .cases-slider__name {
                        left: 80px;
                        bottom: 5px;
                        color: #fff;
                        span {
                            font-size: 40px;
                        }
                    }
                }

                &:nth-child(3) {
                    grid-row-start: 42;
                    grid-column-start: 73;
                    grid-row-end: 116;
                    grid-column-end: 123;
                    .cases-slider__name {
                        left: 90px;
                        bottom: 70px;
                        font-size: 40px;
                        line-height: 35px;
                        font-weight: 800;
                        color: #fff;
                    }
                }

                &:nth-child(4) {
                    grid-row-start: 13;
                    grid-column-start: 125;
                    grid-row-end: 53;
                    grid-column-end: 177;
                    .cases-slider__name {
                        bottom: auto;
                        font-weight: 800;
                    }
                }

                &:nth-child(5) {
                    grid-row-start: 55;
                    grid-column-start: 125;
                    grid-row-end: 92;
                    grid-column-end: 177;
                    .cases-slider__name {
                        bottom: -30px;
                        font-weight: 800;
                    }
                }
            }
        }

        @include media-breakpoint-up(xl) {
            &:nth-child(1) {
                -ms-grid-row: 1 !important;
                grid-row-start: 1;
                -ms-grid-column: 1 !important;
                grid-column-start: 1;
                -ms-grid-row-span: 24 !important;
                grid-row-end: 25;
                -ms-grid-column-span: 93 !important;
                grid-column-end: 94;
                // .cases-slider__name {
                //     top: auto;
                //     bottom: -60px;
                // }
            }

            &:nth-child(2) {
                -ms-grid-row: 1 !important;
                grid-row-start: 1;
                -ms-grid-column: 99 !important;
                grid-column-start: 99;
                -ms-grid-row-span: 11 !important;
                grid-row-end: 12;
                -ms-grid-column-span: 44 !important;
                grid-column-end: 143;
            }

            &:nth-child(3) {
                -ms-grid-row: 14 !important;
                grid-row-start: 14;
                -ms-grid-column: 99 !important;
                grid-column-start: 99;
                -ms-grid-row-span: 11 !important;
                grid-row-end: 25;
                -ms-grid-column-span: 44 !important;
                grid-column-end: 143;
            }

            &:nth-child(4) {
                -ms-grid-row: 1 !important;
                grid-row-start: 1;
                -ms-grid-column: 148 !important;
                grid-column-start: 148;
                -ms-grid-row-span: 11 !important;
                grid-row-end: 12;
                -ms-grid-column-span: 69 !important;
                grid-column-end: 217;
            }

            &:nth-child(5) {
                -ms-grid-row: 14 !important;
                grid-row-start: 14;
                -ms-grid-column: 148 !important;
                grid-column-start: 148;
                -ms-grid-row-span: 11 !important;
                grid-row-end: 25;
                -ms-grid-column-span: 69 !important;
                grid-column-end: 217;
            }

            &--smm {
                &:nth-child(4) {
                    grid-row-start: 1;
                    grid-column-start: 148;
                    grid-row-end: 12;
                    grid-column-end: 192;
                }
                &:nth-child(5) {
                    grid-row-start: 14;
                    grid-column-start: 148;
                    grid-row-end: 25;
                    grid-column-end: 192;
                }
            }

            &--ready {
                &:nth-child(1) {
                    grid-row-start: 1;
                    grid-column-start: 1;
                    grid-row-end: 25;
                    grid-column-end: 142;
                    .cases-slider__name {
                        left: 147px;
                    }
                }
                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-column-start: 148;
                    grid-row-end: 12;
                    grid-column-end: 201;
                }
                &:nth-child(3) {
                    grid-row-start: 14;
                    grid-column-start: 148;
                    grid-row-end: 25;
                    grid-column-end: 201;
                }
                &:nth-child(4) {
                    grid-row-start: 1;
                    grid-column-start: 207;
                    grid-row-end: 12;
                    grid-column-end: 289;
                }
                &:nth-child(5) {
                    grid-row-start: 14;
                    grid-column-start: 207;
                    grid-row-end: 25;
                    grid-column-end: 289;
                }
            }

            &--web {
                &::before {
                    counter-increment: myCounter;
                    content: counter(myCounter, decimal-leading-zero);
                    position: absolute;
                    z-index: 1;
                    width: 135px;
                    height: 90px;
                    font-size: 90px;
                    line-height: 90px;
                    font-weight: 800;
                    color: #fff;
                    text-align: center;
                    text-shadow: -1px -1px $color-page-aqua,
                            1px -1px 0 $color-page-aqua,
                            -1px 1px 0 $color-page-aqua,
                            1px 1px 0 $color-page-aqua;
                        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 1px $color-page-aqua) {
                            text-shadow: none;
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke: 2px $color-page-aqua;
                        }
                }
                &:nth-child(1) {
                    grid-row-start: 36;
                    grid-column-start: 1;
                    grid-row-end: 93;
                    grid-column-end: 113;
                    &::before {
                        top: -45px;
                        left: 160px;
                    }
                }

                &:nth-child(2) {
                    grid-row-start: 1;
                    grid-column-start: 119;
                    grid-row-end: 40;
                    grid-column-end: 172;
                    &::before {
                        top: -70px;
                        left: 0;
                        transform: rotate(-90deg);
                    }
                }

                &:nth-child(3) {
                    grid-row-start: 46;
                    grid-column-start: 119;
                    grid-row-end: 131;
                    grid-column-end: 172;
                    &::before {
                        top: -15px;
                        left: 0;
                        transform: rotate(-90deg);
                    }
                }

                &:nth-child(4) {
                    grid-row-start: 15;
                    grid-column-start: 178;
                    grid-row-end: 55;
                    grid-column-end: 261;
                    &::before {
                        bottom: -26px;
                        right: 128px;
                    }
                }

                &:nth-child(5) {
                    grid-row-start: 61;
                    grid-column-start: 178;
                    grid-row-end: 98;
                    grid-column-end: 261;
                    &::before {
                        bottom: -45px;
                        right: 128px;
                    }
                }
            }
        }
    }
    &__image {
        overflow: hidden;
        &::before {
            padding-bottom: 63.6042403%;
        }
        &--web {
            &::before {
                padding-bottom: 134.965035%;
            }
        }
        @include media-breakpoint-up(lg) {
            height: 100%;
            &::before {
                padding-bottom: 0;
            }
        }
    }

    &__actions {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            right: 30px;
            bottom: 50px;
        }

        @include media-breakpoint-up(xl) {
            right: 50px;
        }
    }
}
/*Cases slider compopnent end*/
