/*Clients section start*/
.clients {
    .page {
        @include media-breakpoint-up(lg) {
            padding-top: 170px;
        }
    }
    .wrap {
        position: static;
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &--map {
        @include media-breakpoint-up(lg) {
            .wrap {
                flex-wrap: nowrap;
                padding-right: 30px;
            }
        }
        @include media-breakpoint-up(xl) {
            .wrap {
                padding-right: 147px;
            }
        }
    }
    &--statistic {
        .wrap {
            padding-right: 40px;
        }
        @include media-breakpoint-up(lg) {
            .page {
                display: flex;
                flex-direction: column;
            }
            .wrap {
                padding-right: 50px;
                flex-grow: 1;
                align-items: flex-start;
            }
        }
        @include media-breakpoint-up(xl) {
            .wrap {
                padding-right: 147px;
            }
        }
    }

    &__title {
        margin-top: -5px;
        margin-bottom: 15px;
        width: 160px;
        font-size: 24px;
        @include media-breakpoint-up(lg) {
            padding-left: 0;
            font-size: 33px;
        }
        @include media-breakpoint-up(xl) {
            // margin-bottom: 35px;
        }
    }
    &__decor {
        position: absolute;
        top: 236px;
        right: -77px;
        max-width: 333px;
        font-size: 40px;
        line-height: 50px;
        font-weight: 800;
        text-align: right;
        text-transform: uppercase;
        color: rgba(#fff, 0.1);
        transform: rotate(-90deg);
        @include media-breakpoint-up(lg) {
            top: 101px;
            right: 1.953125vw;
            // right: 20px;
            font-size: 60px;
            line-height: 60px;
        }
        @include media-breakpoint-up(xl) {
            right: 13.4027778vw;
            // right: 193px;
        }
    }
    &__map {
        position: relative;
        width: 70.6054688vw;
        height: 55.6016598%;
        svg {
            width: 100%;
            height: auto;
        }
        @include media-breakpoint-up(xl) {
            width: 67.6388889vw;
            height: 55.6468172%;
        }
    }
    &__point {
        position: absolute;
        margin-top: -3px;
        margin-left: -3px;
        width: 6px;
        height: 6px;
        font-size: 0;
        border: 3px solid $color-orange;
        border-radius: 50%;
        background-color: transparent;
        transition: all 0.3s ease-in-out;

        &.active {
            margin-top: -7px;
            margin-left: -7px;
            width: 14px;
            height: 14px;
            border-width: 4px;
        }
    }

    &__list {
        list-style: none;
        @include media-breakpoint-up(lg) {
            position: absolute;
            left: 147px;
            bottom: 35.4166667%;
        }
    }
    &__item {
        position: relative;
        margin-bottom: 15px;
        padding-left: 25px;
        font-size: 16px;
        font-weight: 600;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 3px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $color-orange;
            transform: translateY(-50%);
        }
        &--city {
            &::before {
                left: 0;
                width: 15px;
                height: 15px;
                background-color: transparent;
                border: 4px solid $color-orange;
            }
        }
    }
    p {
        @include media-breakpoint-up(lg) {
            margin-left: auto;
            margin-bottom: 25px;
            padding: 0;
            width: 59.9769319%;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 50px;
            width: 57.3053368%;
        }
    }
    &__statistic {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        list-style: none;
        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-around;
            margin: 0;
            margin-left: 40px;
            width: 100%;
            background-image: url("../img/theme/top-left.png"),
                url("../img/theme/top-right.png"),
                url("../img/theme/bottom-right.png"),
                url("../img/theme/bottom-left.png");
            background-repeat: no-repeat;
            background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        }
        @include media-breakpoint-up(xl) {
            margin: 0;
        }
    }
    &__statistic-item {
        padding: 35px 20px 10px;
        width: 225px;
        text-align: center;
        &:nth-child(2) {
            background-image: url("../img/theme/top-left.png"),
                url("../img/theme/top-right.png"),
                url("../img/theme/bottom-right.png"),
                url("../img/theme/bottom-left.png");
            background-repeat: no-repeat;
            background-position: 0 0,
                100% 0,
                100% 100%,
                0 100%;
        }
        @include media-breakpoint-up(md) {
            &:nth-child(2) {
                background-image: none;
            }
        }
    }
    &__statistic-value {
        position: relative;
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
        color: $color-orange;
        &::after {
            content: "";
            position: absolute;
            bottom: -30px;
            left: 50%;
            width: 3px;
            height: 20px;
            background-color: #fff;
            transform: translateX(-50%);
        }
        @include media-breakpoint-up(lg) {
            font-size: 50px;
            line-height: 1;
        }
    }
    &__statistic-text {
        font-size: 12px;
        font-weight: 700;
        line-height: 2;
        text-transform: uppercase;
        @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__slider {
        position: relative;
        // width: 100%;
        .swiper-container {
            max-width: 100%;
        }
        @include media-breakpoint-up(lg) {
            width: 100%;
            margin: 0;
            // margin-right: 50px;
            margin-top: auto;
            margin-bottom: 75px;
            padding: 0 35px;
        }
        // @include media-breakpoint-up(xl) {
        //     margin-top: auto;
        // }
    }

    &__slide {
        position: relative;
        width: 73px;
        height: 59px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            max-width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
        }
    }

    &__slider-button {
        position: absolute;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        &:active {
            transform: translateY(-51%);
        }
        &--prev {
            left: -35px;
        }
        &--next {
            right: -35px;
        }

        @include media-breakpoint-up(lg) {
            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }
        }
    }
}
/*Clients section end*/
