/*Features section start*/
.features {
    // transition: all 0.5s ease-in-out;
    .page {
        background-color: #fff;
        &.black {
            color: #fff;
            background-color: $color-text;
        }
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
    .wrap {
        position: static;
        @include media-breakpoint-up(lg) {
            padding-left: 147px;
            margin: 183px 0 auto;
        }
    }
    &__cursor {
        display: none;
        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            z-index: 99999;
            left: -100px;
            top: 50%;
            width: 44px;
            height: 44px;
            background: #fff;
            border-radius: 50%;
            transition: transform 0.3s ease-out;
            transform: translateX(-50%) translateY(-50%) scale(0);
            pointer-events: none;
            mix-blend-mode: exclusion;

            &.hover {
                transform: translateX(-50%) translateY(-50%) scale(1);
            }
        }
    }
    &__trigger-color {
        position: absolute;
        right: 40px;
        bottom: 30px;
        z-index: 2;
        margin: 0;
        width: 78px;
        height: 18px;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
        }
        &::before {
            top: 50%;
            left: 50%;
            width: 60px;
            height: 4px;
            background-color: $color-orange;
            transform: translate(-50%, -50%);
        }
        &::after {
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: $color-text;
            transition: transform 0.5s linear;
        }
        @include media-breakpoint-up(lg) {
            right: 50px;
            bottom: 50px;
        }
    }
    input[type="checkbox"]:checked ~ &__trigger-color {
        &::after {
            background-color: #fff;
            transform: translateX(60px);
        }
    }
    &__slider {
        counter-reset: myCounter;
        margin-top: auto;
        max-width: 100%;
        // opacity: 0;
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: visible;
        }
        .swiper-wrapper {
            position: static;
        }
    }
    &__images {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin: 0;
        margin-bottom: 40px;
        list-style: none;

        &::before,
        &::after {
            position: absolute;
            line-height: 1;
        }

        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            bottom: -45px;
            right: 10px;
            z-index: 2;
            font-size: 90px;
            line-height: 1;
            font-weight: 500;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 80px;
            margin-bottom: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
            transform: translateY(250px);

            &::before {
                right: auto;
                bottom: auto;
                top: -14px;
                left: 37.6666667%;
                font-size: 150px;
            }

            &::after {
                content: attr(data-letter);
                top: 112px;
                left: 68.3333333%;
                z-index: 1;
                font-size: 210px;
                font-weight: 900;
                color: $color-orange;
                mix-blend-mode: multiply;
                transform: scale(1.7, 0.6);
                transform-origin: top center;
                transition: all 0.5s linear;
            }
        }

        @include media-breakpoint-up(xl) {
            padding-top: 117px;

            &::before {
                top: 32px;
                left: 35.9631148%;
                font-size: 180px;
            }

            &::after {
                top: 156px;
                left: 59.0163934%;
                font-size: 300px;
            }
        }
    }

    &__image {
        flex-shrink: 0;
        margin-right: 15px;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            margin-right: 20px;
            transform: scale(0.6, 1.7);
            transform-origin: center top;
            transition: transform 0.5s linear;
        }

        @include media-breakpoint-up(xl) {
            margin-right: 30px;
        }

        &:nth-child(1) {
            width: 100%;

            &::before {
                padding-bottom: 68.3848797%;
            }

            @include media-breakpoint-up(lg) {
                width: 18.6523438vw;
                top: -108px;

                &::before {
                    padding-bottom: 140.837696%;
                }
            }

            @include media-breakpoint-up(xl) {
                width: 18.3333333vw;
                top: -162px;

                &::before {
                    padding-bottom: 152.272727%;
                }
            }
        }

        &:nth-child(2) {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
                width: 18.5546875vw;
                &::before {
                    padding-bottom: 156.315789%;
                }
            }

            @include media-breakpoint-up(xl) {
                width: 18.3333333vw;
                &::before {
                    padding-bottom: 169.318182%;
                }
            }
        }

        &:nth-child(3) {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
                width: 26.8554688vw;
                top: -56px;

                &::before {
                    padding-bottom: 103.272727%;
                }
            }

            @include media-breakpoint-up(xl) {
                width: 28.5416667vw;
                top: -82px;

                &::before {
                    padding-bottom: 103.406326%;
                }
            }
        }
    }

    &__text {
        @include media-breakpoint-up(lg) {
            position: absolute;
            left: 146px;
            bottom: 107px;
            width: 410px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(500px);
            transition: transform 0.5s linear;
        }
    }

    &__slide {
        position: relative;
        padding-right: 30px;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            padding-right: 0;
            padding-top: 33.59375vh;
            padding-left: 41.40625%;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &.show {
                .features {
                    &__images {
                        overflow: visible;
                        opacity: 1;
                        transform: translateY(0);
                        &::after {
                            transform: scale(1, 1);
                        }
                    }
                    &__image {
                        transform: scale(1, 1);
                    }
                    &__text {
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(0);
                    }
                }
            }
        }

        @include media-breakpoint-up(xl) {
            padding-top: 120px;
            padding-left: 30.625%;
        }
    }

    &__slider-thumb {
        margin-bottom: 20px;
        padding-top: 10px;
        overflow: visible;
        // opacity: 0;

        @include media-breakpoint-up(lg) {
            // margin: 183px 0 auto;
            z-index: 2;
            .swiper-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }

    &__link {
        display: inline-block;
        vertical-align: top;
        color: inherit;

        &:hover {
            color: inherit;
            text-decoration: none;
            cursor: none;
        }
    }

    &__slide-thumb {
        width: auto;
        height: auto;
        font-size: 37px;
        font-weight: 700;
        line-height: 1.1;
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;

        &:last-child {
            padding-right: 70px;
        }

        &.swiper-slide-thumb-active {
            opacity: 1;
            font-weight: 800;
        }

        @include media-breakpoint-up(lg) {
            font-size: 47px;
            margin-bottom: 40px;
            &:last-child {
                padding-right: 0;
            }
            &.active {
                opacity: 1;
                font-weight: 800;
            }
        }
    }
    // &.active {
    //     .features {
    //         &__slider {
    //             animation: slideUp;
    //             animation-duration: 0.8s;
    //             animation-delay: 0.7s;
    //             animation-timing-function: ease-in-out;
    //             animation-fill-mode: forwards;
    //         }
    //         &__slider-thumb {
    //             animation: slideDown;
    //             animation-duration: 0.8s;
    //             animation-delay: 0.7s;
    //             animation-timing-function: ease-in-out;
    //             animation-fill-mode: forwards;
    //         }
    //     }
    // }
}
/*Features section end*/
