/*Footer section start*/
.footer {
    .page {
        display: flex;
    }
    .wrap {
        position: static;
        width: 100%;
        margin: auto 0;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding-right: 50px;
        }
        @include media-breakpoint-up(xl) {
            justify-content: flex-start;
            padding-right: 147px;
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        margin-bottom: 85px;
        font-size: 16px;
        line-height: 28px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            max-width: 360px;
        }
        @include media-breakpoint-up(xl) {
            margin-right: 225px;
        }
    }

    &__link {
        position: absolute;
        left: 0;
        bottom: -50px;
        z-index: 1;
        width: 49px;
        height: 28px;
        text-align: right;
        overflow: hidden;

        svg {
            stroke: $color-orange;
        }

        @include media-breakpoint-up(lg) {
            left: auto;
            right: -50px;
            bottom: 0;
            &::before {
                content: "";
                position: absolute;
                top: 13px;
                left: 0;
                width: 20px;
                height: 2px;
                background-color: $color-orange;
                opacity: 0.5;
            }
        }
        @include media-breakpoint-up(xl) {
            &::before {
                top: 13px;
                width: 130px;
            }
        }
    }

    &__copyright {
        position: absolute;
        right: 20px;
        bottom: 20px;
        max-width: 166px;
        font-size: 10px;
        text-align: right;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            max-width: none;
            right: 30px;
            bottom: 50px;
            font-size: 12px;
        }

        @include media-breakpoint-up(xl) {
            right: 50px;
        }
    }

    &__decor {
        display: none;
        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            &--f {
                top: 19.53125%;
                left: 6.4453125%;
                width: 166px;
                height: 389px;
                background-image: url("../img/theme/footer-decor-f.svg");
            }
            &--a {
                top: 59.5052083%;
                left: 21.2890625%;
                width: 137px;
                height: 194px;
                background-image: url("../img/theme/footer-decor-a.svg");
            }
            &--c {
                top: 29.1666667%;
                left: 34.0820312%;
                width: 86px;
                height: 146px;
                background-image: url("../img/theme/footer-decor-c.svg");
            }
            &--e {
                top: 59.5052083%;
                left: 43.0664062%;
                width: 97px;
                height: 137px;
                background-image: url("../img/theme/footer-decor-e.svg");
            }
            &--c2 {
                top: 37.3697917%;
                left: 54.9804688%;
                width: 89px;
                height: 153px;
                background-image: url("../img/theme/footer-decor-c2.svg");
            }
            &--o {
                top: 54.5572917%;
                left: 65.234375%;
                width: 168px;
                height: 238px;
                background-image: url("../img/theme/footer-decor-o.svg");
            }
            &--m {
                top: 25%;
                left: 74.5117188%;
                width: 192px;
                height: 199px;
                background-image: url("../img/theme/footer-decor-m.svg");
            }
        }
        @include media-breakpoint-up(xl) {
            &--f {
                width: 233px;
            }
            &--a {
                width: 193px;
            }
            &--c {
                width: 121px;
            }
            &--e {
                width: 137px;
            }
            &--c2 {
                width: 126px;
            }
            &--o {
                width: 237px;
            }
            &--m {
                width: 271px;
            }
        }
    }
    &__scene {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__layer {
        width: 100%;
        height: 100%;
    }
    &__form {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 360px;
        color: #a6a6a6;
        transition: all 0.3s ease-out;
        transform: translateY(100px);
        opacity: 0;
        visibility: hidden;
        &.show {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        .form-control {
            color: #fff;
            border-bottom: 1px solid #a6a6a6;
            &::placeholder {
                color: #a6a6a6;
            }
        }
        textarea.form-control {
            border-bottom: none;
        }
    }
}
/*Footer section end*/
