/*Job opening section start*/
section.job-opening {
    padding-right: 25px;
    @include media-breakpoint-up(lg) {
        padding-right: 105px;
    }
    @include media-breakpoint-up(xl) {
        padding-right: 147px;
    }
}
.job-opening {
    @include media-breakpoint-up(lg) {
        padding-right: 105px;
        padding-bottom: 50px;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 147px;
    }
    &__title {
        margin-bottom: 20px;
        color: $color-orange;
        @include media-breakpoint-up(lg) {
            margin-bottom: 25px;
            font-size: 40px;
        }
    }
    &__description {
        margin-bottom: 25px;
        counter-reset: myCounter;
        p {
            margin-bottom: 50px;
            font-weight: 500;
            line-height: 24px;
        }
        div {
            position: relative;
            margin-bottom: 15px;
            &::after {
                counter-increment: myCounter;
                content: counter(myCounter, decimal-leading-zero);
                position: absolute;
                top: 0;
                right: 0;
                font-size: 70px;
                font-weight: 700;
                line-height: 1;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px rgba($color-orange, 0.4);
                transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out;
                opacity: 0;
                transform: rotate(-90deg) translateY(100px);
            }
            &.visible {
                &::after {
                    opacity: 1;
                    transform: rotate(-90deg) translateY(0);
                }
            }
            ul {
                list-style: none;
            }
            > ul > li {
                line-height: 28px;
                &::before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background-color: currentColor;
                }
            }
            > ul ul {
                padding-left: 30px;
                > li {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 90px;
            div {
                margin-bottom: 30px;
                &::after {
                    right: -80px;
                }
            }
        }
    }
    &__actions {
        display: flex;
        justify-content: space-between;
    }
    &__respond {
        font-size: 12px;
    }
    &__next {
        font-size: 11px;
        font-weight: 700;
        svg {
            width: 28px;
            margin-left: 8px;
            stroke: currentColor;
        }
        @include media-breakpoint-up(lg) {
            font-size: 12px;
            svg {
                width: auto;
                margin-left: 15px;
            }
        }
    }
    @supports (not (-webkit-text-fill-color: transparent)) and (not (-webkit-text-stroke: 2px rgba($color-orange, 0.4))) {
        &__description {
            div {
                &::after {
                    color: #fff;
                    text-shadow: -1px -1px 0 $color-orange,
                    1px -1px 0 $color-orange,
                    -1px 1px 0 $color-orange,
                    1px 1px 0 $color-orange;
                }
            }
        }
    }
}
/*Job opening section end*/
