/*news section start*/
.news-section {
    .page {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            display: block;
            padding-top: 166px;
        }
    }
    .wrap {
        position: static;
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            padding-left: 105px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 147px;
        }
    }

    &__title {
        margin-bottom: 25px;
        padding: 0 40px;
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        pointer-events: none;

        @include media-breakpoint-up(lg) {
            position: relative;
            z-index: 3;
            margin-bottom: 50px;
            padding: 0;
            font-size: 96px;
            line-height: 1;
        }
    }

    &__slider {
        margin-bottom: 50px;
        padding: 0 40px;
        max-width: 100%;
        flex-grow: 1;
        @include media-breakpoint-up(lg) {
            margin: 0;
            padding: 0;
            overflow: visible;
        }
    }

    &__slide {
        position: relative;
        padding-top: 173px;
        @include media-breakpoint-up(lg) {
            padding-top: 109px;
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
        @include media-breakpoint-up(xl) {
            padding-top: 147px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        overflow: hidden;
        img {
            transition: transform 0.8s linear;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-orange;
            opacity: 0.65;
            @supports (mix-blend-mode: multiply) {
                opacity: 1;
                mix-blend-mode: multiply
            }
        }
        @include media-breakpoint-up(lg) {
            &::before {
                padding-bottom: 0;
            }
        }
    }

    &__sub-title {
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 30px;
        text-transform: uppercase;
    }

    @include media-breakpoint-up(lg) {
        &__slide {
            visibility: hidden;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;

            &:nth-child(4n-3) {
                padding-top: 13.9322917vh;
                width: 22.6332971%;
                transform: translate3d(0, -100%, 0);

                .news-section {
                    &__img {
                        height: 22.1354167vh;
                    }

                    &__sub-title {
                        font-size: 22px;
                        line-height: 30px;
                    }
                }
            }

            &:nth-child(4n-2) {
                padding-top: 10.8072917vh;
                width: 22.4156692%;
                animation-delay: 0.3s;
                transform: translate3d(0, 100%, 0);

                .news-section {
                    &__img {
                        transform: translateY(-312px);
                        height: 79.296875vh;
                    }

                    &__sub-title {
                        margin-bottom: 30px;
                        font-size: 25px;
                        line-height: 30px;
                    }
                }

            }

            &:nth-child(4n-1) {
                padding-top: 13.5416667vh;
                width: 24.3743199%;
                animation-delay: 0.6s;
                transform: translate3d(0, -100%, 0);

                .news-section {
                    &__img {
                        height: 40.1041667vh;
                        transform: translateY(-173px);
                    }

                    &__sub-title {
                        font-size: 50px;
                        line-height: 51px;
                        font-weight: 800;
                    }
                }

            }

            &:nth-child(4n) {
                padding-top: 18.4895833vh;
                width: 24.0478781%;
                animation-delay: 0.9s;
                transform: translate3d(0, 100%, 0);

                .news-section {
                    &__img {
                        height: 40.3645833vh;
                        transform: translateY(-124px);
                    }

                    &__sub-title {
                        font-size: 26px;
                        line-height: 40px;
                        font-weight: 800;
                    }
                }
            }
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }

    @include media-breakpoint-up(xl) {
        &__slide {
            &:nth-child(4n-3) {
                padding-top: 18.2291667vh;
                width: 20.4176334%;

                .news-section {
                    &__img {
                        height: 27.8645833vh;
                    }

                    &__sub-title {
                        margin-bottom: 30px;
                        font-size: 26px;
                        line-height: 30px;
                    }
                }
            }

            &:nth-child(4n-2) {
                width: 20.4176334%;

                .news-section {
                    &__img {
                        height: 100vh;
                    }
                    &__sub-title {
                        font-size: 33px;
                        line-height: 40px;
                    }
                }
            }

            &:nth-child(4n-1) {
                padding-top: 20.1822917vh;
                width: 20.4176334%;

                .news-section {
                    &__img {
                        height: 47.3958333vh;
                        transform: translateY(-170px);
                    }

                    &__sub-title {
                        font-size: 55px;
                        line-height: 61px;
                    }
                }
            }

            &:nth-child(4n) {
                padding-top: 23.4375vh;
                padding-right: 147px;
                width: 31.7865429%;

                .news-section {
                    &__img {
                        height: 46.09375vh;
                        transform: translateY(-125px);
                    }

                    &__sub-title {
                        font-size: 36px;
                        line-height: 50px;
                    }
                }
            }
        }
    }


    // @include media-breakpoint-up(lg) {
    //     &__slide:nth-child(1) {
    //         width: 22.6332971%;
    //         .news-section__img {
    //             height: 170px;
    //         }
    //     }
    //     &__slide:nth-child(2) {
    //         width: 22.4156692%;
    //         .news-section__img {
    //             height: 609px;
    //             transform: translateY(-295px);
    //         }
    //     }

    //     &__slide:nth-child(3) {
    //         width: 24.3743199%;
    //         .news-section__img {
    //             height: 308px;
    //             transform: translateY(-182px);
    //         }
    //     }

    //     &__slide:nth-child(4) {
    //         width: 24.0478781%;
    //         .news-section__img {
    //             height: 308px;
    //             transform: translateY(-167px);
    //         }
    //     }
    // }

    // @include media-breakpoint-up(xl) {
    //     &__slide:nth-child(1) {
    //         width: 20.4176334%;

    //         .news__img {
    //             height: 214px;
    //         }
    //     }

    //     &__slide:nth-child(2) {
    //         width: 20.4176334%;

    //         .news__img {
    //             height: 100vh;
    //         }
    //     }

    //     &__slide:nth-child(3) {
    //         width: 20.4176334%;

    //         .news__img {
    //             height: 364px;
    //             transform: translateY(-199px);
    //         }
    //     }

    //     &__slide:nth-child(4) {
    //        padding-right: 147px;
    //        width: 31.7865429%;

    //         .news__img {
    //             height: 354px;
    //             transform: translateY(-175px);
    //         }
    //     }
    // }

    &__text {
        font-size: 12px;
        line-height: 20px;
    }

    &__link {
        padding-left: 40px;
        padding-bottom: 40px;
        line-height: 40px;
        color: #fff;
        svg {
            stroke: #fff;
        }

        &--slide {
            padding: 0;
            line-height: 1.2;
            color: inherit;
            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 25px;
            bottom: 50px;
            padding-bottom: 0;
            &--slide {
                position: static;
            }
        }

        @include media-breakpoint-up(xl) {
            right: 50px;
        }
    }
}
/*news section end*/
