/*Numbers section start*/
.numbers {
    .page {
        position: relative;
    }
    .wrap {
        position: static;
        padding-right: 25px;

        @include media-breakpoint-up(xl) {
            padding-right: 147px;
        }
    }
    .fp-prev,
    .fp-next {
        display: none;
    }
    &__decor {
        position: absolute;
        top: 50px;
        right: -180px;
        width: 372px;
        height: 612px;
        background-image: url("../img/theme/fb-bg.svg");
        background-repeat: no-repeat;
        background-size: contain;
        @include media-breakpoint-up(lg) {
            top: 0;
            right: -110px;
            width: 502px;
            height: 825px;
        }
        @include media-breakpoint-up(xl) {
            right: 87px;
        }
    }
    &__title {
        position: relative;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 80px;
        }
    }
    p {
        position: relative;
        margin: 0;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            max-width: 700px;
            margin-bottom: 105px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 655px;
        }
    }
    &__list {
        margin: 0 -10px;
        list-style: none;
    }
    &__item {
        margin-bottom: 35px;
        padding: 0 10px;
        line-height: 20px;
        font-weight: 500;
        b {
            display: block;
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
        }
    }
    &__link {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-right: 60px;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        color: $color-orange;
        svg {
            position: absolute;
            top: 50%;
            right: 0;
            stroke: $color-orange;
            transform: translateY(-50%);
        }
    }
}
/*Numbers section end*/
