/*Partners section start*/
.partners {
    .page {
        @include media-breakpoint-up(lg) {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 53.6132812%;
                height: 100%;
                background-color: $color-red;
            }
        }
        @include media-breakpoint-up(xl) {
            &::after {
                width: 42.1527778%;
            }
        }
    }
    .wrap {
        padding-right: 25px;

        @include media-breakpoint-up(lg) {
            padding-right: 40px;
        }

        @include media-breakpoint-up(xl) {
            padding-right: 147px;
        }
    }
    .breadcrumbs {
        position: relative;
        z-index: 3;
        &__item {
            color: #fff;
        }
    }
    &__title {
        position: relative;
        z-index: 3;
    }
    &__left {
        position: relative;
        z-index: 2;
        padding-bottom: 15px;

        color: #fff;
        &::after {
            content: "";
            position: absolute;
            left: -25px;
            bottom: 0;
            z-index: -1;
            width: 100vw;
            height: 1500px;
            background-color: $color-red;
        }
        b {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 20px;
            font-size: 50px;
            font-weight: 700;
            line-height: 1;

            @include media-breakpoint-up(lg) {
                margin-bottom: 45px;
                font-size: 63px;
            }
        }
        p {
            margin-bottom: 20px;
            font-weight: 500;
            line-height: 24px;
        }
        @include media-breakpoint-up(lg) {
            &::after {
                display: none;
            }
        }
        @include media-breakpoint-up(xl) {
            padding-right: 60px;
        }
    }
    &__right {
        padding-top: 30px;
        span {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
            @include media-breakpoint-up(xl) {
                margin-bottom: 50px;
            }
        }
        ul {
            margin-bottom: 15px;
            list-style: none;
            @include media-breakpoint-up(lg) {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: -45px;
                    width: 15px;
                    height: 15px;
                    background-color: $color-red;
                }
            }
            @include media-breakpoint-up(xl) {
                margin-bottom: 50px;
            }
        }
        li {
            font-weight: 500;
            line-height: 26px;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 35px;
            padding-left: 70px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 130px;
        }
    }
}
/*Partners section end*/
