/*Projects section start*/
.projects {
    .page {
        @include media-breakpoint-up(lg) {
            padding-top: 160px;
        }

        @include media-breakpoint-up(xl) {
            padding-top: 120px;
        }
    }

    .wrap {
        position: static;
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            padding-left: 99px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 147px;
        }
    }

    &__title {
        padding: 0 40px;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $color-orange;

        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 161px;
            left: 31.703125%;
            z-index: 2;
            padding: 0;
            width: 400px;
            font-size: 60px;
            line-height: 1;
            text-align: right;
            transform: rotate(-90deg);
            pointer-events: none;
            mix-blend-mode: multiply;
        }

        @include media-breakpoint-up(xl) {
            left: 24.0972222%;
        }
    }

    &__thumb-slider {
        margin: 0 auto;
        padding: 15px 30px;
        max-width: 375px;
        counter-reset: myCounter;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 2px;
            height: 15px;
            background-color: $color-orange;
            transform: translateX(-50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            left: 29.2734375%;
            bottom: 0;
            z-index: 2;
            padding: 0;
            padding-bottom: 30px;
            max-width: 455px;
            mix-blend-mode: multiply;
            &::before {
                display: none;
            }
            &::after {
                width: 4px;
                height: 170px;
                background-color: $color-text;
                z-index: 1;
            }
            .swiper-wrapper {
                margin-left: 72px;
            }
        }

        @include media-breakpoint-up(xl) {
            left: 23.611111%;
        }
    }

    &__thumb-slide {
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            display: inline-block;
            vertical-align: top;
            font-size: 60px;
            font-weight: 800;
            line-height: 1;
            transition: all 0.3s ease-in-out;
            color: #fff;
            transform: scale(0.3);
        }
        &.swiper-slide-thumb-active {
            &::before {
                color: $color-orange;
                transform: scale(1);
            }
        }
        &.swiper-slide-thumb-active + & {
            &::before {
                transform: scale(0.5);
            }
        }
        @include media-breakpoint-up(lg) {
            &::before {
                font-size: 200px;
                line-height: 256px;
                color: #000;
                transform: translate(0, 50%) rotate(-90deg) scale(0.15);
                transform-origin: left center;
                mix-blend-mode: normal;
            }
            &.swiper-slide-thumb-active {
                &::before {
                    transform: translate(0, 50%) rotate(-90deg) scale(1);
                    mix-blend-mode: multiply;
                }
            }
            &.swiper-slide-thumb-active+& {
                &::before {
                    transform: translate(0, 50%) rotate(-90deg) scale(0.3);
                    mix-blend-mode: normal;
                }
            }
        }
    }

    &__slider {
        max-width: 100%;
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    &__slide {
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
        }
    }

    &__sub-title {
        padding: 0 40px;
        text-transform: uppercase;
        @include media-breakpoint-up(lg) {
            margin-bottom: -5px;
            padding: 0;
            padding-left: 47px;
            order: -2;
        }
        @include media-breakpoint-up(xl) {
            position: absolute;
            top: 40px;
            left: 0;
            margin-bottom: 0;
            padding-left: 0;
            text-transform: initial;
        }
    }

    &__text {
        margin-bottom: 20px;
        padding: 0 40px;
        @include media-breakpoint-up(lg) {
            margin: 0;
            margin-top: -50px;
            padding: 0;
            width: 264px;
        }
    }

    &__gallery {
        padding: 0 40px;
        max-width: 100%;

        @include media-breakpoint-up(lg) {
            order: -1;
            margin: 0;
            // margin-bottom: 10px;
            padding: 0;
            overflow: visible;

            .swiper-wrapper {
                display: -ms-grid;
                display: grid;
                grid-template-columns: repeat(185, 1fr);
                grid-template-rows: repeat(91, 0.65104167vh);
            }
        }

        @include media-breakpoint-up(xl) {
            .swiper-wrapper {
                grid-template-columns: repeat(215, 1fr);
                grid-template-rows: repeat(88, 0.78125vh);
            }
        }
    }

    &__gallery-item {
        @include media-breakpoint-up(lg) {
            width: inherit !important;

            &:nth-child(1) {
                -ms-grid-row: 13 !important;
                grid-row-start: 13;
                -ms-grid-column: 1 !important;
                grid-column-start: 1;
                -ms-grid-row-span: 62 !important;
                grid-row-end: 75;
                -ms-grid-column-span: 98 !important;
                grid-column-end: 99;
            }

            &:nth-child(2) {
                -ms-grid-row: 1 !important;
                grid-row-start: 1;
                -ms-grid-column: 103 !important;
                grid-column-start: 103;
                -ms-grid-row-span: 34 !important;
                grid-row-end: 35;
                -ms-grid-column-span: 41 !important;
                grid-column-end: 144;
            }

            &:nth-child(3) {
                -ms-grid-row: 39 !important;
                grid-row-start: 39;
                -ms-grid-column: 103 !important;
                grid-column-start: 103;
                -ms-grid-row-span: 53 !important;
                grid-row-end: 92;
                -ms-grid-column-span: 41 !important;
                grid-column-end: 144;
            }

            &:nth-child(4) {
                -ms-grid-row: 13 !important;
                grid-row-start: 13;
                -ms-grid-column: 148 !important;
                grid-column-start: 148;
                -ms-grid-row-span: 36 !important;
                grid-row-end: 49;
                -ms-grid-column-span: 38 !important;
                grid-column-end: 186;
            }

            &:nth-child(5) {
                -ms-grid-row: 53 !important;
                grid-row-start: 53;
                -ms-grid-column: 148 !important;
                grid-column-start: 148;
                -ms-grid-row-span: 29 !important;
                grid-row-end: 82;
                -ms-grid-column-span: 38 !important;
                grid-column-end: 186;
            }
        }

        @include media-breakpoint-up(xl) {
            &:nth-child(1) {
                -ms-grid-row: 12 !important;
                grid-row-start: 12;
                -ms-grid-column: 1 !important;
                grid-column-start: 1;
                -ms-grid-row-span: 59 !important;
                grid-row-end: 71;
                -ms-grid-column-span: 93 !important;
                grid-column-end: 94;
            }

            &:nth-child(2) {
                -ms-grid-row: 1 !important;
                grid-row-start: 1;
                -ms-grid-column: 99 !important;
                grid-column-start: 99;
                -ms-grid-row-span: 33 !important;
                grid-row-end: 34;
                -ms-grid-column-span: 44 !important;
                grid-column-end: 143;
            }

            &:nth-child(3) {
                -ms-grid-row: 39 !important;
                grid-row-start: 39;
                -ms-grid-column: 99 !important;
                grid-column-start: 99;
                -ms-grid-row-span: 50 !important;
                grid-row-end: 89;
                -ms-grid-column-span: 44 !important;
                grid-column-end: 143;
            }

            &:nth-child(4) {
                -ms-grid-row: 12 !important;
                grid-row-start: 12;
                -ms-grid-column: 148 !important;
                grid-column-start: 148;
                -ms-grid-row-span: 34 !important;
                grid-row-end: 46;
                -ms-grid-column-span: 69 !important;
                grid-column-end: 217;
            }

            &:nth-child(5) {
                -ms-grid-row: 51 !important;
                grid-row-start: 51;
                -ms-grid-column: 148 !important;
                grid-column-start: 148;
                -ms-grid-row-span: 28 !important;
                grid-row-end: 79;
                -ms-grid-column-span: 44 !important;
                grid-column-end: 192;
            }
        }
    }

    &__image {
        overflow: hidden;
        transition: filter 0.2s ease-in-out;
        &::before {
            padding-bottom: 113.636364%;
        }
        @include media-breakpoint-up(lg) {
            height: 100%;
            &::before {
                padding-bottom: 0;
            }
        }
    }

    &__link {
        position: relative;
        display: block;
        height: 100%;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: $color-orange;
            opacity: 0.5;
            transform: translateY(-101%);
            transition: transform 0.3s 0.2s ease-in;
        }

        &:hover {
            &::after {
                transform: translateY(0);
            }
            .projects {
                &__placeholder {
                    opacity: 1;
                    visibility: visible;
                }
                &__image {
                    filter: grayscale(1);
                }
            }
        }
    }

    @supports (mix-blend-mode: multiply) {
        &__link {
            &::after {
                mix-blend-mode: multiply;
                opacity: 1;
            }
        }
    }

    &__placeholder {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 25px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        z-index: 2;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        transition: all 0.2s 0.3s ease-out;
        opacity: 0;
        visibility: hidden;
    }

    &__actions {
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            margin: 0;
            position: absolute;
            z-index: 2;
            right: 30px;
            bottom: 50px;
        }
        @include media-breakpoint-up(xl) {
            right: 50px;
        }
    }

    &__prev,
    &__next {
        display: none;
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &__button-order {
        margin-left: 50px;
        margin-right: 30px;
        font-size: 14px;
        line-height: 24px;
        color: $color-text;
        @include media-breakpoint-up(xl) {
            margin-left: 270px;
            margin-right: 190px;
        }
    }
}
/*Projects section end*/
