/*Reviews section start*/
.reviews {
    .page {
        @include media-breakpoint-up(lg) {
            padding-top: 165px;
        }
    }
    .wrap {
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            position: static;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 105px;
            padding-right: 50px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 147px;
            padding-right: 147px;
        }
    }

    &__title {
        margin-bottom: 20px;
        padding: 0 40px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
            padding: 0;
            width: 395px;
        }
    }

    &__text {
        margin-bottom: 20px;
        padding: 0 40px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
            padding: 0;
            width: 430px;
        }
        @include media-breakpoint-up(xl) {
            width: 656px;
        }
    }
    
    &__slider {
        padding: 0 40px;
        max-width: 100%;
        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }
    
    &__img {
        margin-bottom: 25px;
        &::before {
            padding-bottom: 60.9375%;
        }
    }
    
    &__slide {
        @include media-breakpoint-up(md) {
            &:nth-child(4n-3) {
                .reviews__img {
                    &::before {
                        padding-bottom: 59.0909091%;
                    }
                }
            }
            &:nth-child(4n-2) {
                .reviews__img {
                    &::before {
                        padding-bottom: 75%;
                    }
                }
            }
            &:nth-child(4n-1) {
                .reviews__img {
                    &::before {
                        padding-bottom: 53.030303%;
                    }
                }
            }
            &:nth-child(4n) {
                .reviews__img {
                    &::before {
                        padding-bottom: 66.2878788%;
                    }
                }
            }
        }
    }
    
    &__link {
        color: inherit;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
    
    &__review {
        position: relative;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 18px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 40px;
            height: 3px;
            background-color: $color-orange;
        }
    }
    
    &__client {
        font-weight: 600;
    }
    
    &__slider-actions {
        display: none;
        @include media-breakpoint-up(lg) {
            position: absolute;
            right: 25px;
            bottom: 50px;
            z-index: 5;
            width: 355px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .btn {
                svg {
                    stroke: #000;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            right: 50px;
            width: 755px;
        }
    }
    
    &__slide-number {
        position: absolute;
        top: 25px;
        left: 155px;
        display: inline-block;
        vertical-align: top;
        width: auto;
        font-size: 75px;
        font-weight: 800;
        line-height: 1;
        color: $color-orange;
        transform: rotate(-90deg);
    }
}
/*Reviews section end*/
