/*Services section start*/
.services {
    .wrap {
        position: static;
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            padding-left: 107px;
        }
    }
    &__title {
        margin-bottom: 15px;
        padding-left: 40px;
        width: 230px;
        font-size: 23px;
        @include media-breakpoint-up(lg) {
            margin-top: 56px;
            margin-bottom: 35px;
            padding-left: 0;
            width: 305px;
            font-size: 33px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 40px;
        }
    }
    &__wrapper {
        position: relative;
        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
    &__counter {
        position: absolute;
        top: 120px;
        right: -31px;
        bottom: auto;
        left: auto;
        z-index: 2;
        width: 166px;
        font-size: 80px;
        font-weight: 800;
        line-height: 1;
        color: $color-orange;
        transform: rotate(-90deg);
        mix-blend-mode: multiply;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1000px;
            background-color: $color-orange;
        }
        &::before {
            left: 71%;
        }
        &::after {
            right: 84%;
            z-index: 3;
            mix-blend-mode: multiply;
        }
        @include media-breakpoint-up(lg) {
            top: 112px;
            right: 89px;
            width: 259px;
            font-size: 170px;
            &::before,
            &::after {
                top: 2px;
                bottom: 2px;
            }
            &::before {
                left: 95%;
            }
            &::after {
                right: 80.6%;
            }
        }
        @include media-breakpoint-up(xl) {
            right: 200px;
            &::before {
                left: 95%;
            }
        }
    }
    &__slider {
        margin-bottom: 25px;
        margin-left: 40px;
        @include media-breakpoint-up(lg) {
            margin-left:  -7.41548528%;
            margin-bottom: 0;
            width: 60.087241%;
        }
        @include media-breakpoint-up(xl) {
            margin-left: -5.02625656%;
            margin-right: 0;
            width: 67.5168792%;
        }
    }
    &__slide {
        &::before {
            padding-bottom: 69.2857143%;
            @include media-breakpoint-up(lg) {
                padding-bottom: 47.5260417vh;
            }
        }
    }
    &__thumb-slider {
        z-index: 2;
        padding-right: 40px;
        height: 120px;
        @include media-breakpoint-up(lg) {
            order: -1;
            padding-right: 0;
            width: 47.3282443%;
            height: auto;
        }
        @include media-breakpoint-up(xl) {
            width: 37.5093773%;
        }
    }
    &__thumb-slide {
        position: relative;
        padding: 0 40px;
        width: auto;
        height: auto;
        line-height: 30px;
        white-space: nowrap;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            height: 100%;
            background-color: $color-orange;
            transition: transform 0.5s ease-in-out;
            box-shadow: 0 0 0 2px #fff;
            transform: translateX(-100%);
        }

        &.swiper-slide-thumb-active {
            font-size: 17px;
            font-weight: 700;
            color: #fff;
            &::after {
                transform: translateX(0);
            }
        }
        @include media-breakpoint-up(lg) {
            margin: auto 0;
            max-width: none;

            &::after {
                box-shadow: none;
            }

            &.swiper-slide-thumb-active {
                font-size: 20px;
            }
        }
    }

    &__link {
        display: block;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    &__button {
        position: absolute;
        right: 17px;
        bottom: 40px;
        z-index: 2;
        font-size: 13px;
        font-weight: 700;
        @include media-breakpoint-up(lg) {
            right: 180px;
            bottom: 45px;
            font-size: 14px;
        }
        @include media-breakpoint-up(xl) {
            right: 292px;
        }
    }
}
/*Services section end*/
