/*Skils section start*/
.skills {
    .wrap {
        padding-right: 40px;
        @include media-breakpoint-up(lg) {
            padding-right: 105px;
        }
        @include media-breakpoint-up(xl) {
            padding-right: 147px;
        }
    }

    &__title {
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
    }
    &__list {
        list-style: none;
        counter-reset: myCounter;
    }

    &__skill {
        margin-bottom: 20px;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 800;
            line-height: 22px;
        }
        p {
            margin: 0;
        }

        // @include media-breakpoint-up(lg) {
        //     margin-bottom: 55px;
        // }
        // @include media-breakpoint-up(xl) {
        //     margin-bottom: 35px;
        // }
    }
}
/*Skills section end*/
