/*Team section start*/
.team {
    .wrap {
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 105px;
            padding-right: 30px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 147px;
            padding-right: 147px;
        }
    }

    &__wrapper {
        @include media-breakpoint-up(lg) {
            width: 57.367829%;
        }

        @include media-breakpoint-up(xl) {
            width: 48.8656195%;
        }
    }

    &__title {
        margin-bottom: 20px;
        padding: 0 40px;
        font-weight: 800;
        text-transform: uppercase;
        color: $color-orange;

        @include media-breakpoint-up(md) {
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 50px;
            line-height: 60px;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
            width: 395px;
        }
    }

    &__text {
        margin-bottom: 10px;
        padding: 0 40px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
            padding: 0;
            width: 460px;
        }
    }

    &__thumb-slider {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        counter-reset: myCounter;

        @include media-breakpoint-up(lg) {
            position: relative;
            clip: auto;
            padding-right: 26.4705882%;
            padding-bottom: 25px;
            width: auto;
            height: auto;
            margin: 0;

            &::after {
                content: "";
                position: absolute;
                bottom: 25px;
                left: 36.6666667%;
                width: 2px;
                height: 75px;
                background-color: $color-orange;
            }

            .swiper-wrapper {
                padding-bottom: 75px;
            }
        }

        @include media-breakpoint-up(xl) {
            padding-bottom: 0;
            &::after {
                bottom: 0;
                height: 80px;
            }
            .swiper-wrapper {
                padding-bottom: 80px;
            }
        }
    }

    &__thumb-slide {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: -50px;
            right: -30px;
            width: 30px;
            height: 30px;
            background-color: #fff;
        }

        &::after {
            display: block;
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            position: absolute;
            left: 0;
            bottom: -50px;
            width: 100%;
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            text-align: center;
            background-color: #fff;
        }
    }

    &__button {
        position: absolute;
        z-index: 2;
        bottom: 0;
        svg {
            stroke: #000;
        }

        &--prev {
            left: 0;
        }
        &--next {
            right: 0;
        }
    }

    &__slider-wrapper {
        @include media-breakpoint-up(lg) {
            position: relative;
            margin-top: 106px;
            margin-left: 1.953125%;
            width: 37.7952756%;
        }
        @include media-breakpoint-up(xl) {
            margin-top: 49px;
            width: 40.1396161%;
        }
    }

    &__slider {
        margin: 0;
        padding: 135px 38.3333333% 0 20%;
        max-width: 100%;
        counter-reset: slideList;

        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }

    &__slide {
        padding-top: 6px;
        &::after {
            counter-increment: slideList;
            content: counter(slideList, decimal-leading-zero);
            position: absolute;
            left: 0;
            bottom: 20px;
            width: 100%;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
            color: #898989;
            text-align: center;
            transition: opacity 0.3s ease-in-out;
        }
        .team {
            &__img {
                position: relative;
                transition: all 0.3s 0.3s ease-in-out;
                transform: scale(0.5);

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    box-shadow: 0 0 0 3px #fff, 0 0 0 6px $color-orange;
                    transition: all 0.3s 0.3s ease-in-out;
                    transform: scale(0.4);
                }
            }
        }
        &.swiper-slide-active {
            &::after {
                opacity: 0;
            }
            .team {
                &__img,
                &__img::after {
                    transform: scale(1);
                }

                &__name,
                &__surname,
                &__position {
                    animation-name: fadeEffect, slideUp;
                    animation-duration: 0.4s, 0.4s;
                    animation-delay: 0.4s, 0.4s;
                    animation-timing-function: ease-in-out, ease-in-out;
                    animation-fill-mode: forwards, forwards;
                }

                &__position {
                    animation-delay: 0.6s, 0.6s;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 10px 10px 0;
            &::after {
                display: inline-block;
                vertical-align: top;
                bottom: auto;
                top: 39.5800416%;
                left: auto;
                right: 0;
                z-index: 1;
                width: auto;
                font-size: 170px;
                line-height: 1;
                font-weight: 800;
                color: $color-orange;
                mix-blend-mode: multiply;
                transition: opacity 0.4s 0.4s ease-in-out;
                opacity: 0;
            }
            .team {
                &__description {
                    position: static;
                }
                &__img {
                    order: -1;
                    margin-bottom: 65px;
                    &::after {
                        box-shadow: 0 0 0 7px #fff,0 0 0 10px $color-orange;
                    }
                }
            }
            &.swiper-slide-active {
                &::after {
                    opacity: 1;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            padding: 12px 12px 0;
            &::after {
                top: 46.0405157%;
                font-size: 210px;
            }
            .team {
                &__img {
                    width: 84.7826087%;

                    &::after {
                        box-shadow: 0 0 0 9px #fff, 0 0 0 12px $color-orange;
                    }
                }
            }
        }
    }

    &__img {
        .responsive-img {
            border-radius: 50%;
            overflow: hidden;
        }
        &--big {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            &--big {
                margin-bottom: 0;
            }
        }
    }

    &__description {
        position: absolute;
        top: -125px;
        left: -10px;
    }

    &__name,
    &__surname {
        margin: 0 -20px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        opacity: 0;
        @include media-breakpoint-up(lg) {
            margin: 0;
            padding-left: 20px;
        }
    }

    &__surname {
        text-transform: uppercase;
        @include media-breakpoint-up(lg) {
            margin-bottom: 35px;
        }
    }

    &__position {
        margin: 0 -20px;
        font-size: 14px;
        line-height: 20px;
        opacity: 0;
        @include media-breakpoint-up(lg) {
            margin: 0;
            padding-left: 20px;
        }
    }
}
/*Team section end*/
