/*Work section start*/
.work {
    .page {
        @include media-breakpoint-up(lg) {
            padding-top: 120px;
        }
    }
    .wrap {
        padding-left: 0;
        @include media-breakpoint-up(lg) {
            padding-left: 34.6679688%;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 30.625%;
        }
    }

    &__decor {
        position: absolute;
        top: -111px;
        left: -20px;
        z-index: 1;
        width: 213px;
        height: 349px;
        svg {
            width: 100%;
            height: 100%;
        }
        @include media-breakpoint-up(lg) {
            top: -120px;
            left: -25px;
            width: 560px;
            height: 825px;
        }
    }

    &__title {
        position: relative;
        z-index: 3;
        margin-bottom: 20px;
        padding: 0 40px;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            position: absolute;
            top: -50px;
            left: 93px;
            margin: 0;
            padding: 0;
            font-size: 50px;
            font-weight: 800;
            transform: rotate(90deg);
            transform-origin: left bottom;
        }
        @include media-breakpoint-up(xl) {
            top: 62px;
            left: 139px;
        }
    }

    &__img {
        position: relative;
        z-index: 2;
        margin-left: 40px;
        margin-bottom: -24.4444444%;
        &::before {
            padding-bottom: 89.375%;
        }
        // img {
        //     z-index: -1;
        // }
        @include media-breakpoint-up(lg) {
            margin-left: 0;
            margin-bottom: -14.5703125%;
            &::before {
                padding-bottom: 63.338301%;
            }
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: -9.80555556%;
            &::before {
                padding-bottom: 42.5425425%;
            }
        }
    }

    &__text {
        position: relative;
        z-index: 2;
        p {
            padding: 20px 20px 20px 40px;
            background-color: #fff;

            span {
                display: block;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }

            &:first-of-type {
                color: #fff;
                background-color: $color-orange;
            }
            &:last-of-type {
                margin-bottom: 20px;
            }
            @include media-breakpoint-up(lg) {
                padding: 9px 16px;
            }
        }

        @include media-breakpoint-up(lg) {
            margin-left: 116px;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 196px;
            width: 560px;
        }
    }

    &__link {
        position: relative;
        display: block;
        // margin-bottom: 30px;
        padding-right: 20px;
        line-height: 20px;
        text-align: right;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 40px;
            width: 40px;
            height: 3px;
            background-color: $color-orange;
            transform: translateY(-50%);
        }

        @include media-breakpoint-up(lg) {
            padding-right: 30px;
            &::before {
                left: 295px;
            }
        }

        @include media-breakpoint-up(xl) {
            padding-right: 50px;
            &::before {
                left: 212px;
            }
        }
    }
}
/*Work section end*/
