@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/grid";

// @import "bootstrap/scss/utilities/align";
// @import "bootstrap/scss/utilities/background";
// @import "bootstrap/scss/utilities/borders";
@import "bootstrap/scss/utilities/clearfix";
@import "bootstrap/scss/utilities/display";
// @import "bootstrap/scss/utilities/embed";
@import "bootstrap/scss/utilities/flex";
// @import "bootstrap/scss/utilities/float";
@import "bootstrap/scss/utilities/position";
// @import "bootstrap/scss/utilities/screenreaders";
// @import "bootstrap/scss/utilities/shadows";
@import "bootstrap/scss/utilities/sizing";
@import "bootstrap/scss/utilities/spacing";
@import "bootstrap/scss/utilities/text";
// @import "bootstrap/scss/utilities/visibility";
