/*Archive page start*/
.archive {
    padding-bottom: 0;
    @include media-breakpoint-up(lg) {
        padding-top: 107px;
    }
    .back {
        margin-bottom: 35px;
        @include media-breakpoint-up(lg) {
            margin-right: 42px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 0;
        }
    }
    &__title {
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
    }
    &__slider {
        max-width: 100%;
        margin-bottom: 10px;
        @include media-breakpoint-up(xl) {
            margin-right: 147px;
        }
    }
    &__list {
        list-style: none;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }
    &__item {
        margin-bottom: 10px;
    }
    &__link {
        line-height: 17px;
        font-weight: 500;
        &:hover,
        &:focus {
            color: currentColor;
        }
    }
    &__actions {
        margin-right: 20px;
        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 0;
            right: 50px;
            margin: 0;
        }
        @include media-breakpoint-up(xl) {
            left: 147px;
        }
    }
    &__prev,
    &__next {
        svg {
            stroke: #fff;
        }
    }
    &__next {
        @include media-breakpoint-up(lg) {
            margin-left: 150px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 350px;
        }
    }
    &__slide-number {
        width: 130px;
        height: 60px;
        font-size: 75px;
        line-height: 1;
        font-weight: 800;
        transform: rotate(-90deg) translateX(20px);
        @include media-breakpoint-up(lg) {
            margin-left: 480px;
        }

        @include media-breakpoint-up(xl) {
            margin-left: auto;
        }
    }
}
/*Archive page end*/