/*Blog page start*/
.blog {
    &__title {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 40px;
        font-weight: 800;
        color: $color-text;
        text-shadow: -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 1px #fff) {
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #fff;
        }
        @include media-breakpoint-up(lg) {
            position: relative;
            z-index: 2;
            margin-bottom: 50px;
            font-size: 96px;
            line-height: 100px;
        }
    }
    &__slider {
        margin-bottom: 50px;
        padding: 0 40px;
        max-width: 100%;
        overflow: visible;
        @include media-breakpoint-up(lg) {
            padding: 0;
            margin-bottom: 0;
            margin-left: 105px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 147px;
        }
    }
    &__slide {
        position: relative;
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        a {
            &:hover,
            &:focus {
                color: currentColor;
            }
        }
    }
    &__img {
        overflow: hidden;
        img {
            transition: transform 0.8s linear;
        }
        &::before {
            padding-bottom: 129.927007%;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-orange;
            opacity: 0.65;
            @supports (mix-blend-mode: multiply) {
                opacity: 1;
                mix-blend-mode: multiply
            }
        }
        @include media-breakpoint-up(lg) {
            &::before {
                padding-bottom: 0;
            }
        }
    }
    &__text {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        @include media-breakpoint-up(lg) {
            position: relative;
        }
    }
    &__sub-title {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
        @include media-breakpoint-up(lg) {
            margin-bottom: 10px;
        }
    }
    &__actions {
        padding: 0 40px;
        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 50px;
            right: 50px;
            z-index: 1;
            padding: 0;
        }
    }
    &__prev,
    &__next {
        font-size: 12px;
        line-height: 24px;
        color: #fff;
        &:hover {
            color: #fff;
        }
        svg {
            stroke: currentColor;
        }
    }
    &__next {
        font-weight: 700;
        text-transform: uppercase;
        svg {
            margin-left: 15px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 90px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 295px;
        }
    }
    &__archive {
        font-size: 12px;
        line-height: 24px;
        &::after {
            background-color: $color-orange;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 372px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 580px;
        }
    }
    @include media-breakpoint-up(lg) {
        padding-top: 107px;
        &__slide {
            visibility: hidden;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            &:nth-child(4n-3) {
                padding-top: 13.9322917vh;
                width: 21.8715996%;
                transform: translate3d(0, -100%, 0);
                .blog {
                    &__img {
                        height: 21.2239583vh;
                    }
                    &__sub-title {
                        font-size: 24px;
                    }
                }
            }
            &:nth-child(4n-2) {
                padding-top: 23.6979167vh;
                width: 23.9390642%;
                animation-delay: 0.3s;
                transform: translate3d(0, 100%, 0);
                .blog {
                    &__img {
                        transform: translateY(-320px);
                        height: 100vh;
                    }
                    &__sub-title {
                        margin-bottom: 30px;
                    }
                }

            }
            &:nth-child(4n-1) {
                padding-top: 22.0052083vh;
                width: 21.4363439%;
                animation-delay: 0.6s;
                transform: translate3d(0, -100%, 0);
                .blog {
                    &__img {
                        height: 35.4166667vh;
                        transform: translateY(-77px);
                    }
                    &__sub-title {
                        font-size: 40px;
                        line-height: 46px;
                        font-weight: 800;
                    }
                }

            }
            &:nth-child(4n) {
                padding-top: 14.453125vh;
                width: 26.2241567%;
                animation-delay: 0.9s;
                transform: translate3d(0, 100%, 0);
                .blog {
                    &__img {
                        height: 31.25vh;
                        transform: translateY(-93px);
                    }
                    &__sub-title {
                        font-size: 25px;
                        font-weight: 800;
                    }
                }
            }
        }
        &__img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
    @include media-breakpoint-up(xl) {
        &__slide {
            &:nth-child(4n-3) {
                padding-top: 18.2291667vh;
                width: 20.4176334%;
                .blog {
                    &__img {
                        height: 27.8645833vh;
                    }
                    &__sub-title {
                        margin-bottom: 30px;
                        font-size: 26px;
                    }
                }
            }
            &:nth-child(4n-2) {
                width: 20.4176334%;
                .blog {
                    &__sub-title {
                        font-size: 33px;
                    }
                }
            }
            &:nth-child(4n-1) {
                padding-top: 20.1822917vh;
                width: 20.4176334%;
                .blog {
                    &__img {
                        height: 47.3958333vh;
                        transform: translateY(-170px);
                    }
                    &__sub-title {
                        font-size: 55px;
                        line-height: 61px;
                    }
                }
            }
            &:nth-child(4n) {
                padding-top: 23.4375vh;
                padding-right: 147px;
                width: 31.7865429%;
                .blog {
                    &__img {
                        height: 46.09375vh;
                        transform: translateY(-125px);
                    }
                    &__sub-title {
                        font-size: 36px;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}
/*Blog page end 1293*/
