/*Cases page start*/
.cases {
    display: block;
    .wrap {
        position: static;
        padding-right: 30px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 170px;
        left: 0;
        width: 13px;
        height: 122px;
    }
    &--slider {
        .breadcrumbs {
            padding-left: 40px;
        }
        .wrap {
            padding-right: 0;
            padding-left: 0;
        }
    }
    &--orange {
        &::before {
            background-color: $color-orange;
        }
    }
    &--d-blue {
        &::before {
            background-color: $color-page-d-blue;
        }
    }
    &--l-blue {
        &::before {
            background-color: $color-page-l-blue;
        }
    }
    &--d-green {
        &::before {
            background-color: $color-page-d-green;
        }
    }
    &--l-green {
        &::before {
            background-color: $color-page-l-green;
        }
    }
    &--red {
        &::before {
            background-color: $color-page-red;
        }
    }
    &--purple {
        &::before {
            background-color: $color-page-purple;
        }
    }
    &--aqua {
        &::before {
            background-color: $color-page-aqua;
        }
    }
    @include media-breakpoint-up(lg) {
        padding-top: 107px;
        &::before {
            top: 195px;
            width: 27px;
        }
        .breadcrumbs {
            margin-bottom: 50px;
        }
        .back {
            position: relative;
            z-index: 1;
            margin-bottom: 60px;
        }
        &--slider {
            .breadcrumbs {
                padding-left: 0;
            }
            padding-bottom: 0;
            .wrap {
                padding-left: 105px;
            }
        }
        &--web {
            display: flex;
            flex-direction: column;
        }
        .tabs {
            margin-top: 105px;
        }
    }
    @include media-breakpoint-up(xl) {
        padding-right: 147px;
        &--slider {
            padding-right: 0;
            .wrap {
                padding-left: 147px;
            }
        }
    }
    &__number {
        position: absolute;
        top: 60px;
        right: -10px;
        font-size: 100px;
        line-height: 1;
        font-weight: 800;
        color: #fff;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1),
            1px -1px 0 rgba(0, 0, 0, 0.1),
            -1px 1px 0 rgba(0, 0, 0, 0.1),
            1px 1px 0 rgba(0, 0, 0, 0.1);
        transform: rotate(-90deg);
        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px rgba(0, 0, 0, 0.1)) {
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px rgba(0, 0, 0, 0.1);
        }
        @include media-breakpoint-up(lg) {
            top: 60px;
            right: -65px;
            font-size: 300px;
        }
        @include media-breakpoint-up(xl) {
            top: 30px;
            right: -255px;
            font-size: 350px;
        }
    }
    &__decor {
        &--rect {
            position: absolute;
            top: 0;
            right: 0.069284%;
            width: 120.277778vw;
            height: 176.944444vw;

            @include media-breakpoint-up(lg) {
                right: auto;
                left: -22.1535088%;
                width: 89.0625vw;
                height: 100vh;
            }

            @include media-breakpoint-up(xl) {
                left: -16.8215768%;
                width: 64.5833333vw;
            }
        }
        &--black {
            svg {
                fill: #181818;
            }
        }
    }
    &__slider {
        max-width: 100%;
        &--target {
            padding: 65px 50px 0;
            height: 125vw;
            counter-reset: myCounter;
            .cases {
                &__slide {
                    transform: scale(0.5);
                    transition: transform 0.5s ease-in-out;
                    &::before {
                        counter-increment: myCounter;
                        content: counter(myCounter, decimal-leading-zero);
                        position: absolute;
                        top: -39px;
                        right: -10px;
                        z-index: 1;
                        width: 135px;
                        height: 90px;
                        font-size: 90px;
                        line-height: 1;
                        font-weight: 800;
                        color: #fff;
                        text-shadow: -1px -1px 0 $color-orange,
                            1px -1px 0 $color-orange,
                            -1px 1px 0 $color-orange,
                            1px 1px 0 $color-orange;
                        transition: transform 0.3s ease-in;
                        transform: scale(0) rotate(-90deg);
                    }
                    @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px $color-orange) {
                        &::before {
                            text-shadow: none;
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke: 2px $color-orange;
                        }
                    }
                    &.swiper-slide-prev {
                        transform-origin: right center;
                    }

                    &.swiper-slide-next {
                        transform-origin: left center;
                    }

                    &.swiper-slide-active {
                        transform: scale(1);
                        &::before {
                            transform: scale(1) rotate(-90deg);
                        }
                    }
                }
                &__img {
                    height: 100%;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $color-page-red;
                        opacity: 0.7;
                        @supports (mix-blend-mode: multiply) {
                            opacity: 1;
                            mix-blend-mode: multiply;
                        }
                    }
                }
                &__name {
                    display: block;
                    position: absolute;
                    top: 115px;
                    left: -30px;
                    font-size: 50px;
                    line-height: 60px;
                    font-weight: 700;
                    color: #fff;
                    transform: rotate(-90deg);
                }
            }
            @include media-breakpoint-up(lg) {
                margin-top: -98px;
                padding: 0;
                padding-top: 64px;
                height: 100%;
                .cases {
                    &__slide {
                        transform: scale(1);
                        &.swiper-slide-active::before,
                        &::before {
                            transform: scale(1);
                        }
                        &:nth-child(3n-2) {
                            width: 38.0848749%;
                            height: 29.0364583vh;
                            transform: translateY(94px);
                            &::before {
                                top: -45px;
                                left: 40%;
                            }
                            .cases__name {
                                top: auto;
                                bottom: 10px;
                                left: 20px;
                                font-size: 40px;
                                line-height: 49px;
                                text-transform: uppercase;
                                transform: rotate(0);
                            }
                        }
                        &:nth-child(3n-1) {
                            width: 27.5299238%;
                            height: 74.7395833vh;
                            &::before {
                                top: -56px;
                                left: 10%;
                                transform: rotate(-90deg);
                            }
                            .cases__name {
                                top: 170px;
                                left: -95px;
                                font-size: 90px;
                            }
                        }
                        &:nth-child(3n) {
                            width: 28.5092492%;
                            height: 35.15625vh;
                            transform: translateY(56px);
                            &::before {
                                top: auto;
                                bottom: -53px;
                                left: 10%;
                            }
                            .cases__name {
                                top: 88px;
                                left: 17px;
                                font-size: 50px;
                                line-height: 45px;
                                transform: rotate(0);
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-up(xl) {
                margin-top: -188px;
                padding-top: 90px;
                .cases {
                    &__slide {
                        &:nth-child(3n-2) {
                            width: 43.1554524%;
                            height: 40.3645833vh;
                            transform: translateY(176px);
                        }
                        &:nth-child(3n-1) {
                            width: 20.4176334%;
                            height: 83.0729167vh;
                            &::before {
                                top: -81px;
                                left: -6%;
                            }
                        }
                        &:nth-child(3n) {
                            width: 31.7865429%;
                            height: 55.3358417vh;
                            transform: translateY(61px);
                            &::before {
                                bottom: -45px;
                                left: 40%;
                            }
                        }
                    }
                    &__prev,
                    &__next {
                        position: absolute;
                        z-index: 1;
                        bottom: 50px;
                    }
                    &__prev {
                        left: 0;
                    }
                    &__next {
                        right: 50px;
                    }
                }
            }
        }
    }

    &__title {
        margin-bottom: 30px;
        max-width: 600px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 45px;
        }
        &--ready {
            margin-left: 40px;
            margin-bottom: 45px;
            font-size: 24px;
            font-weight: 800;
            text-transform: uppercase;
            pointer-events: none;
            span {
                display: block;
                font-size: 36px;
            }
            @include media-breakpoint-up(lg) {
                margin: 0;
                position: relative;
                z-index: 2;
                margin-bottom: -85px;
                font-size: 40px;
                span {
                    font-size: 50px;
                }
            }
        }
    }

    &__content {
        position: static;
        margin-bottom: 40px;
        p,
        ul {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 60px;
        }
    }

    &__images {
        margin-bottom: 60px;
        margin-left: -40px;
        margin-right: -30px;
        list-style: none;
        counter-reset: myCounter;
        @include media-breakpoint-up(lg) {
            margin-left: 20px;
            margin-right: 105px;
            margin-bottom: 70px;
        }
    }

    &__image {
        position: relative;
        padding-top: 90px;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            position: absolute;
            top: 43px;
            left: 40px;
            font-size: 80px;
            font-weight: 900;
            line-height: 1;
            color: #079D32;
            transform: rotate(-90deg);
        }
        img {
            max-width: 100%;
            height: auto;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 110px;
            &::before {
                top: 58px;
                left: 71px;
            }
        }
    }
}

.style-slider {
    .wrap {
        position: relative;
        padding: 0;
        @include media-breakpoint-up(lg) {
            position: static;
            padding-left: 105px;
            padding-right: 65px;
            padding-bottom: 50px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 147px;
            padding-right: 0;
        }
    }
    &__thumb-slider {
        position: absolute;
        top: 45px;
        left: 50%;
        z-index: 2;
        margin: 0 auto;
        padding: 15px 30px;
        width: 100%;
        max-width: 375px;
        counter-reset: myCounter;
        transform: translateX(-50%);
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 2px;
            height: 15px;
            background-color: $color-orange;
            transform: translateX(-50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            top: auto;
            left: 41.2734375%;
            bottom: 0;
            z-index: 2;
            padding: 0;
            padding-bottom: 30px;
            width: auto;
            max-width: 450px;
            &::before {
                display: none;
            }
            &::after {
                width: 4px;
                height: 170px;
                background-color: $color-orange;
                z-index: 1;
            }
            .swiper-wrapper {
                margin-left: 72px;
            }
        }

        @include media-breakpoint-up(xl) {
            left: 35.611111%;
        }
    }
    &__slider-button {
        position: absolute;
        bottom: 50px;
        z-index: 1;
        &--prev {
            left: 105px;
        }
        &--next {
            right: 50px;
        }
        svg {
            stroke: currentColor;
        }
        @include media-breakpoint-up(xl) {
            &--prev {
                left: 147px;
            }
        }
    }
    &__thumb-slide {
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            display: inline-block;
            vertical-align: top;
            font-size: 60px;
            font-weight: 800;
            line-height: 1;
            transition: all 0.3s ease-in-out;
            color: #fff;
            transform: scale(0.3);
        }
        &.swiper-slide-thumb-active {
            &::before {
                color: $color-orange;
                transform: scale(1);
            }
        }
        &.swiper-slide-thumb-active + & {
            &::before {
                transform: scale(0.5);
            }
        }
        @include media-breakpoint-up(lg) {
            &::before {
                font-size: 200px;
                line-height: 256px;
                color: rgba(255, 255, 255, 0.1);
                transform: translate(0, 50%) rotate(-90deg) scale(0.15);
                transform-origin: left center;
            }
            &.swiper-slide-thumb-active {
                &::before {
                    color: $color-text;
                    text-shadow: -1px -1px 0 #fff,
                            1px -1px 0 #fff,
                            -1px 1px 0 #fff,
                            1px 1px 0 #fff;
                    transform: translate(0, 50%) rotate(-90deg) scale(1);
                    @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px #fff) {
                        text-shadow: none;
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke: 2px #fff;
                    }
                }
            }
            &.swiper-slide-thumb-active+& {
                &::before {
                    transform: translate(0, 50%) rotate(-90deg) scale(0.3);
                }
            }
        }
    }
    &__slider {
        max-width: 100%;
        counter-reset: myCounter;
    }
    &__slide {
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
        }
    }
    &__name {
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 40px;
        margin-bottom: 155px;
        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }
    &__gallery {
        padding: 0 40px;
        @include media-breakpoint-up(lg) {
            padding: 0;
            margin-bottom: 60px;
            width: 100%;
            order: -1;
        }
    }
    &__image {
        position: relative;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            position: absolute;
            top: 50%;
            right: 20px;
            z-index: 1;
            font-size: 12px;
            line-height: 16px;
            font-weight: 800;
            color: $color-text;
            transform: translateY(-50%);
        }
        .responsive-img {
            &::before {
                padding-bottom: 120.996441%;
            }
        }
        @include media-breakpoint-up(lg) {
            &:nth-child(1) {
                width: 44.4964871%;
                .responsive-img {
                    &::before {
                        padding-bottom: 84.2105263%;
                    }
                }
            }
            &:nth-child(2) {
                width: 25.175644%;
                .responsive-img {
                    &::before {
                        padding-bottom: 148.837209%;
                    }
                }
            }
            &:nth-child(3) {
                width: 26.4637002%;
                .responsive-img {
                    &::before {
                        padding-bottom: 141.59292%;
                    }
                }
            }
        }
        @include media-breakpoint-up(xl) {
            &::before {
                top: 50px;
                right: 30px;
            }
            &:nth-child(1) {
                width: 43.1554524%;
                .responsive-img {
                    &::before {
                        padding-bottom: 57.3476703%;
                    }
                }
            }
            &:nth-child(2) {
                width: 20.4176334%;
                .responsive-img {
                    &::before {
                        padding-bottom: 121.212121%;
                    }
                }
            }
            &:nth-child(3) {
                width: 31.7865429%;
                &::before {
                    right: 147px;
                }
                .responsive-img {
                    &::before {
                        padding-bottom: 77.8588808%;
                    }
                }
            }
        }
    }
}
/*Cases page end*/
