/*Classic PR page start*/
.classic-pr {
    padding-bottom: 0;
    &--case {
        padding-bottom: 50px;
    }
    .wrap {
        padding-right: 30px;
    }
    .back {
        @include media-breakpoint-up(lg) {
            margin-left: 42px;
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 0;
        }
    }
    &__title {
        margin: 0;
        &--small {
            max-width: 530px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 42px;
            margin-bottom: 55px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 0;
        }
    }
    &__description {
        padding-bottom: 35px;
        .wrap {
            padding-right: 25px;
        }
        p {
            position: relative;
            margin-top: 55px;
            font-weight: 300;
            line-height: 22px;
            &::before {
                content: "";
                position: absolute;
                top: -25px;
                left: 0;
                width: 70px;
                height: 5px;
                background-color: $color-orange;
            }
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 145px;
            .wrap {
                padding-right: 55px;
            }
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 250px;
            .wrap {
                padding-right: 147px;
            }
        }
    }
    &__decor {
        position: absolute;
        background-repeat: no-repeat;
        opacity: 0;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        &--p {
            top: 13px;
            left: 34px;
            width: 209px;
            height: 232px;
            background-image: url("../img/theme/pr-p.svg");
            animation-delay: 0.2s;
        }
        &--r {
            top: 209px;
            left: 129px;
            width: 201px;
            height: 220px;
            background-image: url("../img/theme/pr-r.svg");
        }
        @include media-breakpoint-up(lg) {
            &--p {
                top: -35px;
                left: 75px;
                width: 260px;
                height: 291px;
            }
            &--r {
                top: 208px;
                left: 190px;
                z-index: 1;
                width: 250px;
                height: 275px;
            }
            &--cases {
                top: 0;
                left: 0;
                font-size: 150px;
                font-weight: 800;
                color: $color-orange;
                text-transform: uppercase;
                text-shadow: -1px -1px 0 #FD8238,
                1px -1px 0 #FD8238,
                -1px 1px 0 #FD8238,
                1px 1px 0 #FD8238;
                transform: rotate(-90deg);

                @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 3px #FD8238) {
                    text-shadow: none;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 3px #FD8238;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            &--p {
                left: 147px;
            }
            &--r {
                left: 265px;
            }
        }
    }
    &__features {
        position: relative;
        padding-top: 40px;
        padding-bottom: 60px;
        color: #fff;
        background-color: $color-text;
        .wrap {
            position: relative;
            z-index: 1;
        }
        p {
            margin-bottom: 10px;
            line-height: 20px;
            font-weight: 500;
            &:last-of-type {
                margin-bottom: 40px;
            }
        }
        @include media-breakpoint-up(lg) {
            padding-top: 95px;
            padding-bottom: 65px;
            .wrap {
                padding-left: 51.4648439%;
            }
            p {
                margin-bottom: 25px;
                &:last-of-type {
                    margin-bottom: 20px;
                }
                &:first-of-type {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: -45px;
                        width: 15px;
                        height: 15px;
                        background-color: $color-orange;
                    }
                }
            }
        }
        @include media-breakpoint-up(xl) {
            .wrap {
                padding-left: 37.4305556%;
                padding-right: 280px;
            }
            P {
                margin-bottom: 15px;
                &:last-of-type {
                    margin-bottom: 70px;
                }
            }
        }
    }
    &__order {
        font-size: 12px;
        line-height: 24px;
        &::after {
            background-color: $color-orange;
        }
    }
    &__cases-link {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        svg {
            margin-left: 15px;
            stroke: currentColor;
        }
        @include media-breakpoint-up(xl) {
            position: absolute;
            bottom: 0;
            right: 50px;
        }
    }
    &__cases {
        padding-top: 40px;
        padding-bottom: 50px;
        color: #fff;
        background-color: $color-orange;
        @include media-breakpoint-up(lg) {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 750px;
            .wrap {
                margin: auto 0;
                padding-left: 52.6367188%;
            }
        }
    }
    &__sub-title {
        margin-bottom: 20px;
        text-transform: uppercase;
        // @include media-breakpoint-up(lg) {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     font-size: 150px;
        //     font-weight: 800;
        //     color: $color-orange;
        //     text-shadow: -1px -1px 0 #FD8238,
        //         1px -1px 0 #FD8238,
        //         -1px 1px 0 #FD8238,
        //         1px 1px 0 #FD8238;
        //     transform: rotate(-90deg);
        //     @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 3px #FD8238) {
        //         text-shadow: none;
        //         -webkit-text-fill-color: transparent;
        //         -webkit-text-stroke: 3px #FD8238;
        //     }
        // }
    }
    &__cases-list {
        list-style: none;
    }
    &__cases-item {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        a {
            &:hover,
            &:focus {
                color: currentColor;
            }
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 15px;
        }
    }
    &__content {
        padding-top: 30px;
        .content-style {
            padding-bottom: 30px;
            p,
            ul,
            ol {
                margin-bottom: 20px;
            }
        }
        @include media-breakpoint-up(lg) {
            .wrap {
                padding-left: 147px;
                padding-right: 105px;
            }
        }
        @include media-breakpoint-up(xl) {
            .wrap {
                padding-right: 147px;
            }
        }
    }
    &__images {
        margin-bottom: 70px;
        padding: 0 20px;
        list-style: none;
        @include media-breakpoint-up(lg) {
            position: relative;
            margin-bottom: 35px;
            padding: 0;
            counter-reset: myCounter;
            &::after {
                content: "";
                position: absolute;
                bottom: -1170px;
                left: 98px;
                width: 68px;
                height: 1250px;
                background-color: $color-orange;
            }
        }
    }
    &__image {
        margin-bottom: 30px;
        .responsive-img {
            &::before {
                padding-bottom: 78.125%;
            }
        }
        @include media-breakpoint-up(lg) {
            position: relative;
            &::before {
                counter-increment: myCounter;
                content: counter(myCounter, decimal-leading-zero);
                position: absolute;
                top: -45px;
                left: 98px;
                z-index: 1;
                padding: 30px 0;
                width: 68px;
                font-size: 30px;
                line-height: 1;
                font-weight: 800;
                color: #fff;
                text-align: center;
                background-color: $color-orange;
            }
            .responsive-img {
                &::before {
                    padding-bottom: 77.1604938%;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            .responsive-img {
                &::before {
                    padding-bottom: 100%;
                }
            }
        }
    }
}
/*Classic PR page end*/