/*Contacts page start*/
.contacts {
    padding-top: 0;
    padding-bottom: 40px;
    @include media-breakpoint-up(lg) {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 61.8164062%;
            height: 100%;
            background-color: $color-text;
        }
    }
    .wrap {
        padding: 133px 40px 135px;
        color: #fff;
        background-color: $color-text;
        @include media-breakpoint-up(lg) {
            flex-grow: 1;
            position: relative;
            z-index: 1;
            padding: 165px 63.8671875% 0 105px;
            background-color: transparent;
        }
        @include media-breakpoint-up(xl) {
            padding: 165px 68% 0 147px;
        }
    }
    p {
        line-height: 22px;
    }
    b {
        font-weight: 600;
    }
    &__title {
        margin-bottom: 30px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 35px;
        }
    }
    &__sub-title {
        margin: 0;
        font-size: 16px;
        line-height: 28px;
    }
    &__address,
    &__connection {
        margin-bottom: 15px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
        }
    }
    &__map {
        position: relative;
        margin: -115px 10px 45px;
        padding: 20px 10px;
        border: 2px solid $color-orange;
        #map {
            width: 100%;
            height: 480px;
        }
        .responsive-img {
            &::before {
                padding-bottom: 151.898734%;
            }
        }
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 149px;
            left: 41.9921875%;
            z-index: 1;
            margin: 0;
            padding: 20px 25px;
            width: 950px;
            height: 525px;
            #map {
                height: 480px;
            }
            .responsive-img {
                &::before {
                    padding-bottom: 54.732041%;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            left: 37.5%;
        }
    }
    &__copyright {
        padding: 0 15px;
        font-size: 11px;
        line-height: 16px;
        text-transform: uppercase;
        text-align: right;
        @include media-breakpoint-up(lg) {
            padding: 0;
            padding-right: 50px;
            font-size: 12px;
        }
    }
}
/*Contacts page end*/