.ev-marketing {
    display: flex;
    flex-direction: column;
    &__decor {
        position: absolute;
        top: 330px;
        left: -125px;
        z-index: 1;
        width: 755px;
        height: 108px;
        font-size: 140px;
        line-height: 108px;
        font-weight: 800;
        color: $color-text;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        text-shadow: -1px -1px 0 $color-orange,
            1px -1px 0 $color-orange,
            -1px 1px 0 $color-orange,
            1px 1px 0 $color-orange;
        opacity: 0.3;
        transform: rotate(-90deg);
        visibility: hidden;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 3px $color-orange) {
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 3px $color-orange;
        }
        @include media-breakpoint-up(xl) {
            left: 25px;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            padding-bottom: 0;
            height: 100%;
            background: linear-gradient(0deg, #250E00 0%, rgba(255, 97, 0, 0) 61.49%);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: #EC6C1E;
            opacity: 0.7;
            @supports (mix-blend-mode: multiply) {
                opacity: 1;
                mix-blend-mode: multiply;
            }
        }
    }
    .wrap {
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        @include media-breakpoint-up(lg) {
            padding-right: 50px;
        }
        @include media-breakpoint-up(xl) {
            padding-right: 147px;
        }
    }
    &__event {
        margin-bottom: 25px;
        width: 81.875%;
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        &::before {
            padding-bottom: 18.7301587%
        }
        @include media-breakpoint-up(lg) {
            margin-top: 150px;
            margin-bottom: 70px;
            width: 812px;
        }
        @include media-breakpoint-up(xl) {
            margin-top: 120px;
            margin-bottom: 40px;
            width: 1146px;
        }
    }
    &__title {
        margin-bottom: 25px;
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
        opacity: 0;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
        animation-timing-function: ease-in-out;
        &--case {
            font-size: 30px;
            text-transform: uppercase;
            color: $color-text;
            opacity: 1;
            text-shadow: -1px -1px 0 $color-orange,
            1px -1px 0 $color-orange,
            -1px 1px 0 $color-orange,
            1px 1px 0 $color-orange;
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px $color-orange) {
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px $color-orange;
            }
        }
        @include media-breakpoint-up(lg) {
            margin-top: -17px;
            font-size: 77px;
            line-height: 1;
            &--case {
                margin-top: 40px;
                margin-bottom: 40px;
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
    &__number {
        position: absolute;
        top: -95px;
        left: 40px;
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
        color: $color-text;
        text-shadow: -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
        opacity: 0;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px #fff) {
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px #fff;
        }
        @include media-breakpoint-up(lg) {
            top: 40px;
            left: 41.9921875%;
        }
    }
    &__text {
        font-weight: 500;
        line-height: 22px;
        opacity: 0;
        animation-duration: 0.5s;
        animation-delay: 1.3s;
        animation-timing-function: ease-in-out;
        @include media-breakpoint-up(lg) {
            width: 39.390642%;
        }
        @include media-breakpoint-up(xl) {
            width: 49.0401396%;
        }
    }
    &__cases {
        position: relative;
        margin-top: auto;
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0;
        animation-duration: 0.3s;
        animation-delay: 1.4s;
        animation-timing-function: ease-in-out;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 70px;
            height: 5px;
            background-color: currentColor;
        }
        @include media-breakpoint-up(lg) {
            align-self: start;
            margin-left: auto;
        }
    }
    &__image {
        margin-top: -145px;
        margin-bottom: 25px;
        &::before {
            padding-bottom: 67.5%;
        }
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 51.4648438%;
            min-height: 100vh;
            margin: 0;
        }
        @include media-breakpoint-up(xl) {
            width: 48.9583333%;
        }
    }
    &__content {
        position: relative;
        p {
            margin-bottom: 20px;
        }
        li {
            margin-bottom: 10px;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 56.4453125%;
            p {
                margin-bottom: 30px;
            }
            li {
                margin-bottom: 15px;
            }
        }
        @include media-breakpoint-up(xl) {
            padding-left: 51.0416667%;
        }
    }
    &__wrapper {
        opacity: 0;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
    }
    .content-style {
        margin-bottom: 40px;
    }
    &__arrows,
    &__actions {
        opacity: 0;
        animation-duration: 0.5s;
        animation-delay: 0.4s;
        animation-timing-function: ease-in-out;
    }
    &__arrows {
        @include media-breakpoint-up(lg) {
            width: 226px;
        }
    }
    &__actions {
        margin-bottom: 50px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            width: 45.5696203%;
        }
        @include media-breakpoint-up(xl) {
            width: 48.6910995%;
        }
    }
    &__order {
        font-size: 12px;
        line-height: 24px;
        &::after {
            background-color: $color-orange;
        }
    }
    &__link {
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        font-weight: 700;
        svg {
            margin-left: 5px;
        }
        @include media-breakpoint-up(xl) {
            margin-right: -93px;
        }
    }
    &__link,
    &__prev,
    &__next {
        svg {
            stroke: currentColor;
        }
    }
    &__next {
        svg {
            transform: rotate(180deg);
        }
    }
}
