/*Influence marketing page start*/
.influence-marketing {
    padding-bottom: 0;
    &::before {
        content: "";
        position: absolute;
        top: 105px;
        right: -5px;
        width: 183px;
        height: 477px;
        background-image: url("../img/theme/inter-decor.svg");
        background-repeat: no-repeat;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 107px;
        &::before {
            top: 13px;
            left: 33.203125%;
            width: 287px;
            height: 750px;
        }
        .back {
            margin-bottom: 40px;
        }
        &__title {
            position: relative;
            margin-bottom: 25px;
            max-width: 270px;
        }
    }
    @include media-breakpoint-up(xl) {
        &::before {
            left: 38.4027778%;
        }
    }
    .wrap {
        position: static;
    }
    &__cases {
        list-style: none;
    }
    &__case {
        visibility: hidden;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        .responsive-img {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(5, 36, 151, 0.8);
                opacity: 0.5;
                @supports (mix-blend-mode: multiply) {
                    opacity: 1;
                    mix-blend-mode: multiply
                }
            }
        }
        &:first-child {
            position: relative;
            margin-bottom: 105px;
            transform: translate3d(0, 100%, 0);
            .responsive-img {
                &::before {
                    padding-bottom: 74.4444444%;
                }
            }
            .influence-marketing__content {
                position: absolute;
                left: 65px;
                top: 188px;
            }
            @include media-breakpoint-up(lg) {
                width: 66.40625%;
                .responsive-img {
                    &::before {
                        padding-bottom: 39.3538913%;
                    }
                }
                .influence-marketing__content {
                    top: 173px;
                    left: 147px;
                }
            }
            @include media-breakpoint-up(xl) {
                width: 53.1944444%;
                .responsive-img {
                    &::before {
                        padding-bottom: 34.8958333%;
                    }
                }
                .influence-marketing__content {
                    top: 179px;
                }
            }
        }
        &:nth-child(2) {
            position: relative;
            transform: translate3d(100%, 0, 0);
            .responsive-img {
                &::before {
                    padding-bottom: 126.388889%;
                }
            }
            .influence-marketing__content {
                position: absolute;
                left: 20px;
                top: 190px;
            }
            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 28.90625%;
                .responsive-img {
                    height: 100%;
                    &::before {
                        padding-bottom: 0;
                    }
                }
                .influence-marketing__content {
                    top: 370px;
                    left: 35px;
                }
            }
            @include media-breakpoint-up(xl) {
                width: 42.1527778%;
            }
        }
    }
    &__content {
        position: relative;
        z-index: 1;
    }
    &__type {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }
    &__name {
        font-size: 50px;
        line-height: 1;
        font-weight: 800;
        &--big {
            font-size: 120px;
        }
        & + span {
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 20px;
            font-size: 60px;
            &--big {
                font-size: 100px;
            }
        }
        @include media-breakpoint-up(xl) {
            &--big {
                font-size: 120px;
            }
        }
    }
}
/*Influence marketing page end*/
