/*Job openings page start*/
.job-openings {
    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }
    .wrap {
        padding-right: 30px;

        @include media-breakpoint-up(lg) {
            padding-right: 0;
        }

        // @include media-breakpoint-up(xl) {
        //     padding-right: 147px;
        // }
    }
    &__title {
        margin-bottom: 60px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            font-size: 50px;
        }
    }
    &__list {
        list-style: none;
        @include media-breakpoint-up(lg) {
            margin-top: 80px;
        }
    }
    &__item {
        margin-bottom: 15px;
        a {
            font-weight: 500;
            line-height: 30px;
            &:hover {
                font-size: 18px;
                font-weight: 700;
                color: currentColor;
            }
            &.active {
                font-size: 18px;
                font-weight: 700;
            }
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 10px;
            a {
                &:hover {
                    font-size: 20px;
                }

                &.active {
                    font-size: 20px;
                }
            }
        }
    }
}
/*Job openings page end*/
