/*News page start*/
.news-list {
    .wrap {
        position: static;
        // @include media-breakpoint-up(lg) {
        //     padding-right: 20px;
        // }

        // @include media-breakpoint-up(xl) {
        //     padding-right: 147px;
        // }
    }
    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-shadow: -1px -1px 0 $color-orange,
            1px -1px 0 $color-orange,
            -1px 1px 0 $color-orange,
            1px 1px 0 $color-orange;
        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px $color-orange) {
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px $color-orange;
        }

        @include media-breakpoint-up(lg) {
            position: relative;
            z-index: 1;
            margin-bottom: 45px;
            font-size: 95px;
            line-height: 99px;
        }
    }
    &__list {
        list-style: none;
    }
    &__item {
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 24px;
        &.active {
            font-size: 20px;
            font-weight: 700;
        }
    }
    &__right {
        position: static;
    }
}

.news {
    &__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 22px;
        @include media-breakpoint-up(lg) {
            position: relative;
            margin-top: 10px;
            margin-bottom: 35px;
            font-size: 14px;
            &::after {
                content: "";
                position: absolute;
                left: -130px;
                bottom: -23px;
                width: 165px;
                height: 3px;
                background-color: $color-orange;
            }
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 50px;
        }
    }
    &__image {
        position: relative;
        margin-bottom: 30px;
        width: 77.7777778vw;
        .responsive-img {
            // width: 77.7777778vw;
            &::before {
                padding-bottom: 74.6428571%;
            }
        }
        @include media-breakpoint-up(lg) {
            // position: static;
            position: absolute;
                top: 0;
                left: 32.1289062vw;
                bottom: 0;
                width: 33.4960938vw;
                height: 100vh;
            margin: 0;
            .responsive-img {
                // position: absolute;
                // top: 0;
                // left: 32.1289062vw;
                // bottom: 0;
                // width: 33.4960938vw;
                // height: 100vh;
                height: 100%;
                &::before {
                    padding-bottom: 0;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            left: 37.4305556vw;
            width: 25.1388889vw;
            .responsive-img {
                // left: 37.4305556vw;
                // width: 25.1388889vw;
            }
        }
    }
    &__number {
        position: absolute;
        top: -30px;
        right: -40px;
        z-index: 1;
        width: 123px;
        height: 78px;
        font-size: 96px;
        line-height: 1;
        font-weight: 700;
        text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        transform: rotate(-90deg);
        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px #000) {
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px #000;
        }
        @include media-breakpoint-up(lg) {
            top: auto;
            right: auto;
            bottom: 110px;
            left: -70px;
        }
        @include media-breakpoint-up(xl) {
            bottom: 80px;
        }
    }
    &__description {
        @include media-breakpoint-up(lg) {
            margin-left: 33.4960938vw;
            padding-right: 20px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 24.1388889vw;
            padding-right: 147px;
        }
    }
    p {
        margin-bottom: 20px;
        font-weight: 300;
        line-height: 22px;
        &:last-of-type {
            margin-bottom: 45px;
        }
    }
    &__back,
    &__next {
        font-size: 11px;
        line-height: 24px;
        font-weight: 700;
        svg {
            stroke: currentColor;
        }
    }

    &__next {
        position: absolute;
        bottom: 50px;
        right: 50px;
        svg {
            margin-left: 10px;
            transform: rotate(180deg);
        }
    }
}

section.news {
    padding-right: 25px;

    @include media-breakpoint-up(lg) {
        padding-right: 105px;
    }

    @include media-breakpoint-up(xl) {
        padding-right: 147px;
    }
    &__title {
        margin-top: 0;
    }
}

/*News page start*/
