/*PR page start*/
.pr {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(lg) {
        padding-top: 107px;
    }
    &__decor {
        position: absolute;
        background-repeat: no-repeat;
        &--publick {
            left: 40px;
            bottom: 47px;
            width: 284px;
            height: 54px;
            background-image: url("../img/theme/public.svg");
            visibility: hidden;
            transform: translate3d(-100%, 0, 0);
            animation-duration: 0.8s;
            animation-delay: 0.2s;
            animation-timing-function: ease-in-out;
        }
        &--relations {
            left: 40px;
            bottom: -3px;
            width: 339px;
            height: 41px;
            background-image: url("../img/theme/relations.svg");
            visibility: hidden;
            transform: translate3d(-100%, 0, 0);
            animation-duration: 0.8s;
            animation-delay: 0.2s;
            animation-timing-function: ease-in-out;
        }
        &--pr {
            top: 20px;
            right: 25px;
            width: 140px;
            height: 70px;
            background-image: url("../img/theme/pr.svg");
            visibility: hidden;
            transform: translate3d(100%, 0, 0);
            animation-duration: 0.8s;
            animation-delay: 0.4s;
            animation-timing-function: ease-in-out;
        }
        @include media-breakpoint-up(lg) {
            &--publick {
                left: 105px;
                bottom: 127px;
                width: 499px;
                height: 94px;
            }
            &--relations {
                left: 105px;
                width: 870px;
                height: 105px;
            }
            &--pr {
                top: 33px;
                right: 176px;
                width: 280px;
                height: 144px;
            }
        }
        @include media-breakpoint-up(xl) {
            &--publick {
                left: 147px;
                bottom: 186px;
                width: 654px;
                height: 123px;
            }

            &--relations {
                left: 147px;
                width: 1304px;
                height: 158px;
            }

            &--pr {
                top: 20px;
                right: 152px;
                width: 455px;
                height: 235px;
            }
        }
    }
    &__top {
        position: relative;
        padding-bottom: 125px;
        .wrap {
            position: relative;
            padding-right: 30px;
            &::before {
                content: "";
                position: absolute;
                right: 0;
                bottom: -20px;
                width: 27px;
                height: 9px;
                background-color: $color-text;
            }
        }
        p {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            padding-bottom: 105px;
            .breadcrumbs {
                margin-bottom: 135px;
            }
            .wrap {
                padding-right: 50px;
                &::before {
                    top: 35px;
                    left: 400px;
                    right: auto;
                    width: 400px;
                    height: 17px;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            flex-grow: 2;
            padding-bottom: 177px;
            .breadcrumbs {
                margin-bottom: 100px;
            }
            .wrap {
                padding-right: 147px;
            }
        }
    }
    &__text {
        opacity: 0;
        animation-duration: 0.5s;
        animation-delay: 1.2s;
        animation-timing-function: ease-in-out;
        @include media-breakpoint-up(lg) {
            padding-left: 62.2911392%;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 59.8603839%;
        }
    }
    &__bottom {
        flex-grow: 1;
        display: flex;
        position: relative;
        color: #fff;
        background-color: $color-text;
        .wrap {
            padding-top: 120px;
            padding-right: 30px;
            padding-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            min-height: 250px;
            .wrap {
                display: flex;
                flex-direction: column;
                padding-top: 85px;
                padding-left: 105px;
            }
        }
        @include media-breakpoint-up(xl) {
            .wrap {
                width: 100%;
                padding-top: 70px;
                padding-left: 147px;
                padding-right: 46.1805556%;
            }
        }
    }
    &__links {
        margin-bottom: 40px;
        list-style: none;
        opacity: 0;
        animation-duration: 0.5s;
        animation-delay: 1.2s;
        animation-timing-function: ease-in-out;
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 0;
        }
    }
    &__links-item {
        margin-bottom: 20px;
        line-height: 17px;
        font-weight: 500;
        color: rgba(#fff, 0.6);
        @include media-breakpoint-up(xl) {
            display: inline-block;
            vertical-align: top;
            margin-right: 60px;
        }
    }
    &__arrows {
        margin: 0 auto;
        width: 226px;
        opacity: 0;
        animation-duration: 0.5s;
        animation-delay: 1.5s;
        animation-timing-function: ease-in-out;
        svg {
            stroke: currentColor;
        }
        @include media-breakpoint-up(lg) {
            margin: 0;
            margin-top: auto;
            margin-left: 42px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 0;
        }
    }
    &__next {
        svg {
            transform: rotate(180deg);
        }
    }
}
/*PR page end*/