/*Research page start*/
.research {
    padding-top: 0;
    padding-bottom: 0;
    p {
        line-height: 22px;
        font-weight: 300;
    }
    &__first-screen {
        padding: 0;
        padding-top: 133px;
        color: #fff;
        background-color: $color-text;
        p {
            margin-bottom: 30px;
        }
        @include media-breakpoint-up(lg) {
            position: relative;
            padding-top: 120px;
            padding-left: 105px;
            min-height: 100vh;
            background-color: transparent;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 69.4335938%;
                height: 100%;
                background-color: $color-text;
            }
            p {
                margin-bottom: 40px;
            }
        }
        @include media-breakpoint-up(xl) {
            padding-left: 147px;
        }
    }
    &__wrapper {
        padding: 0 50px 15px 40px;
        @include media-breakpoint-up(lg) {
            position: relative;
            z-index: 1;
            padding: 0;
            width: 42.9815016%;
            max-width: 460px;
        }
    }
    &__title {
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            margin-top: 45px;
            margin-bottom: 80px;
            font-size: 40px;
            line-height: 50px;
        }
    }
    &__sub-title {
        margin-bottom: 20px;
        &--small {
            font-size: 20px;
            line-height: 50px;
        }
        &--orange {
            color: $color-orange;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
            font-size: 40px;
            line-height: 50px;
            &--small {
                font-size: 26px;
            }
        }
    }
    &__image {
        width: 100%;
        &::before {
            padding-bottom: 57.7777778%;
        }
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 195px;
            left: 55.6640625%;
            width: 705px;
            &::before {
                padding-bottom: 58.1560284%;
            }
        }
        @include media-breakpoint-up(xl) {
            left: 51.0416667%;
        }
    }
    &__type {
        padding: 30px 40px 50px;
        p {
            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {
            padding: 100px 30px 30px 105px;
        }
        @include media-breakpoint-up(xl) {
            padding: 90px 147px 70px;
        }
    }
    &__research-list {
        list-style: none;
        counter-reset: myCounter;
    }
    &__research-item {
        margin-bottom: 20px;
        cursor: pointer;
        span {
            position: relative;
            display: block;
            margin-bottom: 5px;
            padding-left: 65px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            &::before {
                counter-increment: myCounter;
                content: "- " counter(myCounter, decimal-leading-zero);
                position: absolute;
                top: 50%;
                left: 0;
                font-size: 26px;
                line-height: 32px;
                font-weight: 800;
                transform: translateY(-50%);
            }
        }
        p {
            display: none;
            margin-bottom: 0;
        }
        &.active,
        &:hover {
            span {
                font-size: 18px;
                font-weight: 700;
                color: $color-orange;
            }
        }
        @include media-breakpoint-up(lg) {
            padding-left: 100px;
            span {
                padding-left: 0;
                &::before {
                    left: -100px;
                    width: 70px;
                    text-align: right;
                }
            }
            &.active {
                span {
                    font-size: 20px;
                }
            }
        }
    }
    &__services {
        padding: 45px 30px 30px 40px;
        color: #fff;
        background-color: $color-text;
        @include media-breakpoint-up(lg) {
            padding: 95px 35px 100px 105px;
        }
        @include media-breakpoint-up(xl) {
            padding: 95px 147px 100px;
        }
    }
    &__step-list {
        list-style: none;
        counter-reset: myCounter;
        @include media-breakpoint-up(lg) {
            margin-bottom: 110px;
        }
    }
    &__step-item {
        position: relative;
        margin-bottom: 30px;
        padding-left: 65px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        opacity: 0;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            position: absolute;
            top: 10px;
            left: 0;
            width: 52px;
            height: 40px;
            font-size: 40px;
            line-height: 1;
            font-weight: 800;
            text-align: right;
            color: $color-text;
            text-shadow: -1px -1px 0 $color-orange,
                1px -1px 0 $color-orange,
                -1px 1px 0 $color-orange,
                1px 1px 0 $color-orange;
            transform: rotate(-90deg);
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 1px $color-orange) {
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px $color-orange;
            }
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 90px;
            padding-left: 105px;
            &::before {
                top: 2;
                width: 112px;
                height: 68px;
                font-size: 60px;
            }
        }
    }
    &__services-list {
        list-style: none;
    }
    &__services-item {
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    &__result {
        padding: 30px 40px 50px;
        color: #fff;
        background-color: $color-orange;
        @include media-breakpoint-up(lg) {
            padding: 100px 40px 50px 105px;
        }
        @include media-breakpoint-up(xl) {
            padding: 100px 147px 50px;
        }
    }
    &__result-list {
        margin-bottom: 40px;
        list-style: none;
        counter-reset: myCounter;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 25px;
        }
    }
    &__result-item {
        position: relative;
        margin-bottom: 20px;
        padding-left: 55px;
        font-size: 14px;
        line-height: 22px;
        &::before {
            counter-increment: myCounter;
            content: "- " counter(myCounter, decimal-leading-zero);
            position: absolute;
            top: 0;
            left: 0;
            width: 37px;
            height: 22px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            text-align: right;
        }
        @include media-breakpoint-up(lg) {
            padding-left: 60px;
            margin-bottom: 65px;
        }
    }
    &__order {
        font-size: 12px;
        line-height: 24px;
        border-bottom-color: #000;
    }
    &__cases {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        svg {
            margin-left: 15px;
            stroke: currentColor;
        }
    }
    &__decor {
        position: absolute;
        transform: rotate(-90deg);
        visibility: hidden;
        transform: translate3d(0, 100%, 0) rotate(-90deg);
        animation-timing-function: ease-in-out;
        &--big {
            top: -106px;
            right: -665px;
            font-size: 120px;
            line-height: 1;
            font-weight: 700;
            color: $color-orange;
            animation-duration: 0.8s;
        }
        &--small {
            bottom: 23px;
            right: 27%;
            font-size: 60px;
            line-height: 1;
            font-weight: 800;
            color: #fff;
            animation-duration: 1s;
            text-shadow: -1px -1px 0 $color-orange,
                1px -1px 0 $color-orange,
                -1px 1px 0 $color-orange,
                1px 1px 0 $color-orange;
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 1px $color-orange) {
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px $color-orange;
            }
        }
        @include media-breakpoint-up(lg) {
            &--big {
                top: -436px;
                right: -700px;
                font-size: 200px;
            }
            &--small {
                bottom: -54px;
                right: 41%;
            }
        }
        @include media-breakpoint-up(xl) {
            &--big {
                right: -450px;
            }
            &--small {
                right: 26%;
            }
        }
    }
}
/*Research page end*/
