/*Sections page start*/
.sections-page {
    display: flex;
    &--white-black {
        .breadcrumbs {
            color: $color-text;
        }
        .tabs {
            color: $color-text;
        }
        .sections-page {
            &__title,
            &__arrows {
                color: $color-text;
            }
        }
    }
    .wrap {
        position: static;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: 20px;
        @include media-breakpoint-up(xl) {
            padding-right: 147px;
        }
    }
    @include media-breakpoint-up(lg) {
        padding-top: 107px;
        .breadcrumbs {
            margin-bottom: 85px;
        }
    }
    .tabs {
        position: relative;
        z-index: 2;
    }
    &__title {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        max-width: 250px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
            max-width: 440px;
            font-size: 40px;
            line-height: 50px;
            &--small {
                font-size: 36px;
            }
        }
        @include media-breakpoint-up(xl) {
            &--small {
                font-size: 40px;
            }
        }
    }
    &__definition {
        margin-bottom: 30px;
        padding-right: 10px;
        @include media-breakpoint-up(lg) {
            position: relative;
            margin-bottom: 0;
            padding-right: 0;
            &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: -30px;
                width: 15px;
                height: 15px;
                background-color: $color-orange;
            }
        }
    }
    &__number {
        position: absolute;
        top: 200px;
        right: -10px;
        padding-top: 30px;
        width: 67px;
        height: 87px;
        text-align: center;
        background-color: $color-orange;
        visibility: hidden;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;

        span {
            display: block;
            font-size: 30px;
            line-height: 1;
            font-weight: 700;
            color: #fff;
            transform: rotate(-90deg);
            transform-origin: center;
        }

        @include media-breakpoint-up(lg) {
            top: 194px;
            right: -7px;
            padding-left: 45px;
            width: 107px;
            height: 122px;
            span {
                font-size: 50px;
            }
            &--smm {
                width: 215px;
                padding-left: 125px;
            }
            &--marketing {
                width: 169px;
                padding-left: 78px;
            }
            &--visual {
                width: 176px;
                padding-left: 85px;
            }
            &--serm {
                top: 0;
                right: 0;
                bottom: 0;
                padding-top: 240px;
                padding-left: 10px;
                width: 80px;
                min-height: 100vh;
            }
        }
        @include media-breakpoint-up(xl) {
            top: 194px;
            right: 0;
            padding-left: 125px;
            width: 215px;
            &--serm {
                top: 0;
                right: 0;
                bottom: 0;
                padding-top: 240px;
                padding-left: 150px;
                width: 245px;
            }
        }
    }
    &__decor {
        &--serm {
            position: absolute;
            top: 190px;
            right: -171px;
            font-size: 150px;
            line-height: 1;
            font-weight: 800;
            text-transform: uppercase;
            color: $color-text;
            text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.05),
            1px -1px 0 rgba(255, 255, 255, 0.05),
            -1px 1px 0 rgba(255, 255, 255, 0.05),
            1px 1px 0 rgba(255, 255, 255, 0.05);
            transform: rotate(-90deg);
            pointer-events: none;

            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px rgba(255, 255, 255, 0.05)) {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px rgba(255, 255, 255, 0.05);
                text-shadow: none;
            }
        }
        &--serm-orange {
            top: 300px;
            right: -78px;
            font-size: 66px;
            text-shadow: -1px -1px 0 $color-orange,
            1px -1px 0 $color-orange,
            -1px 1px 0 $color-orange,
            1px 1px 0 $color-orange;
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px $color-orange) {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px $color-orange;
                text-shadow: none;
            }
        }
        &--serm,
        &--serm-orange {
            @include media-breakpoint-up(lg) {
                top: 250px;
                right: auto;
                left: 9.1796875%;
                font-size: 238px;
                font-weight: 800;
                letter-spacing: 30px;
            }

            @include media-breakpoint-up(xl) {
                left: 21.1805556%;
            }
        }
        &--marketing {
            position: absolute;
            top: 280px;
            right: -150px;
            font-size: 60px;
            line-height: 1;
            font-weight: 900;
            color: $color-text;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.05),
                1px -1px 0 rgba(255, 255, 255, 0.05),
                -1px 1px 0 rgba(255, 255, 255, 0.05),
                1px 1px 0 rgba(255, 255, 255, 0.05);
            transform: rotate(-90deg);
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px rgba(255, 255, 255, 0.05)) {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px rgba(255, 255, 255, 0.05);
                text-shadow: none;
            }
            @include media-breakpoint-up(lg) {
                top: 22.484375vh;
                left: 54.8984375vw;
                right: auto;
                width: 300px;
                font-size: 110px;
                line-height: 120px;
                letter-spacing: 0.2em;
                text-align: right;
                transform: rotate(0);
                overflow-wrap: break-word;
            }
            @include media-breakpoint-up(xl) {
                width: 355px;
                font-size: 130px;
            }
        }
        &--marketing-white {
            position: absolute;
            top: 610px;
            left: 50%;
            z-index: 2;
            width: 355px;
            font-size: 130px;
            line-height: 120px;
            font-weight: 900;
            color: $color-text;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            text-align: right;
            overflow-wrap: break-word;
            text-shadow: -1px -1px 0 #fff,
                1px -1px 0 #fff,
                -1px 1px 0 #fff,
                1px 1px 0 #fff;
            transform: translateX(-50%);
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px #fff) {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px #fff;
                text-shadow: none;
            }
            @include media-breakpoint-up(lg) {
                top: 22.484375vh;
                left: 64.8984375vw;
                width: 300px;
                font-size: 110px;
            }
            @include media-breakpoint-up(xl) {
                left: 57.4166667vw;
                width: 355px;
                font-size: 130px;
            }
        }
        &--visual-video,
        &--visual-photo {
            position: absolute;
            z-index: 2;
            font-size: 70px;
            line-height: 1;
            font-weight: 900;
            text-transform: uppercase;
            color: $color-text;
            letter-spacing: 0.2em;
            transform: rotate(-90deg);
            opacity: 0;
            animation-duration: 1s;
            animation-timing-function: linear;
            @include media-breakpoint-up(lg) {
                font-size: 130px;
                line-height: 120px;
            }
        }
        &--visual-video {
            top: 300px;
            right: -30px;
            text-shadow: -1px -1px 0 $color-orange,
                1px -1px 0 $color-orange,
                -1px 1px 0 $color-orange,
                1px 1px 0 $color-orange;
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px $color-orange) {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px $color-orange;
                text-shadow: none;
            }
            @include media-breakpoint-up(lg) {
                top: 185px;
                right: -50px;
            }
            @include media-breakpoint-up(xl) {
                right: 385px;
            }
        }
        &--visual-photo {
            top: 450px;
            right: -110px;
            text-shadow: -1px -1px 0 #fff,
                1px -1px 0 #fff,
                -1px 1px 0 #fff,
                1px 1px 0 #fff;
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px #fff) {
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px #fff;
                text-shadow: none;
            }
            @include media-breakpoint-up(lg) {
                top: auto;
                bottom: 250px;
                right: -190px;
            }
            @include media-breakpoint-up(xl) {
                right: 239px;
            }
        }
        &--rect {
            position: absolute;
            top: 0;
            right: 0.069284%;
            width: 120.277778vw;
            height: 176.944444vw;

            @include media-breakpoint-up(lg) {
                right: auto;
                left: -22.1535088%;
                width: 89.0625vw;
                height: 100vh;
            }
            @include media-breakpoint-up(xl) {
                left: -16.8215768%;
                width: 64.5833333vw;
            }
        }
        &--white {
            svg {
                fill: #fff;
            }
        }
        &--orange {
            svg {
                fill: $color-orange;
            }
        }
        &--visual {
            right: auto;
            left: 0;
            @include media-breakpoint-up(lg) {
                left: -270px;
            }

            @include media-breakpoint-up(xl) {
                left: 0;
            }
        }
    }

    &__content {
        padding-bottom: 20px;
        div {
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        p {
            margin: 0;
        }
        ul {
            list-style: none;
        }
        div:nth-child(2) > p {
            margin-bottom: 5px;
        }
        div:last-of-type ul {
            li {
                margin-bottom: 10px;
                &>p {
                    line-height: 20px;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-height: 100%;
            div {
                margin-bottom: 25px;
            }
            div:nth-child(2) ul {
                display: inline-block;
                vertical-align: top;
                // width: 50%;
            }
            div:last-of-type ul {
                li:first-child {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: -45px;
                        width: 15px;
                        height: 15px;
                        background-color: $color-orange;
                    }
                }
            }
            &--digital {
                div {
                    &:first-of-type {
                        margin-bottom: 55px;
                        padding-top: 15px;
                        max-width: 360px;
                        min-height: 80px;
                    }

                    // div:last-of-type ul {
                    //     li:first-child {
                    //         position: relative;

                    //         &::before {
                    //             content: "";
                    //             position: absolute;
                    //             top: 5px;
                    //             left: -45px;
                    //             width: 15px;
                    //             height: 15px;
                    //             background-color: $color-orange;
                    //         }
                    //     }
                    // }
                }
            }
        }
        @include media-breakpoint-up(xl) {
            padding-left: 0;
            div {
                margin-bottom: 45px;
            }
        }
    }

    &__actions,
    &__arrows {
        display: flex;
        justify-content: space-between;
    }
    &__actions{
        margin-right: 20px;
        // margin-bottom: 50px;
        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }
    &__arrows {
        position: relative;
        width: 225px;
        margin: 0 auto;
        margin-top: 30px;
        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }
    &__order {
        font-size: 12px;
        color: inherit;
        &::after {
            background-color: $color-orange;
        }
    }

    &__cases {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        svg {
            margin-left: 15px;
            stroke: currentColor;
        }
        @include media-breakpoint-up(xl) {
            position: absolute;
            right: 50px;
            bottom: 50px;
        }
    }

    &__next,
    &__prev {
        svg {
            stroke: currentColor;
        }
    }

    &__next {
        transform: rotate(180deg);
    }

    &--d-blue {
        .sections-page {
            &__number {
                background-color: $color-page-d-blue;
            }
            &__order {
                &::after {
                    background-color: $color-page-d-blue;
                }
            }
            &__content {
                div:last-of-type ul {
                    li:first-child {
                        &::before {
                            background-color: $color-page-d-blue;
                        }
                    }
                }
            }
        }
    }
    &--d-green {
        .sections-page {
            &__number {
                background-color: $color-page-d-green;
            }
            &__order {
                &::after {
                    background-color: $color-page-d-green;
                }
            }
            &__content {
                div:last-of-type ul {
                    li:first-child {
                        &::before {
                            background-color: $color-page-d-green;
                        }
                    }
                }
            }
        }
    }
    &--red {
        .sections-page {
            &__number {
                background-color: $color-page-red;
            }
            &__order {
                &::after {
                    background-color: $color-page-red;
                }
            }
            &__content {
                div:last-of-type ul {
                    li:first-child {
                        &::before {
                            background-color: $color-page-red;
                        }
                    }
                }
            }
        }
    }
    &--purple {
        .sections-page {
            &__number {
                background-color: $color-page-purple;
            }
            &__order {
                &::after {
                    background-color: $color-page-purple;
                }
            }
            &__content {
                div:last-of-type ul {
                    li:first-child {
                        &::before {
                            background-color: $color-page-purple;
                        }
                    }
                }
            }
        }
    }
    &--l-blue {
        .sections-page {
            &__number {
                background-color: $color-page-l-blue;
            }
            &__order {
                &::after {
                    background-color: $color-page-l-blue;
                }
            }
            &__content {
                div:last-of-type ul {
                    li:first-child {
                        &::before {
                            background-color: $color-page-l-blue;
                        }
                    }
                }
            }
        }
    }
    &--l-green {
        .sections-page {
            &__number {
                background-color: $color-page-l-green;
            }
            &__order {
                &::after {
                    background-color: $color-page-l-green;
                }
            }
            &__content {
                div:last-of-type ul {
                    li:first-child {
                        &::before {
                            background-color: $color-page-l-green;
                        }
                    }
                }
            }
        }
    }
    &--aqua {
        .sections-page {
            &__number {
                background-color: $color-page-aqua;
            }
            &__order {
                &::after {
                    background-color: $color-page-aqua;
                }
            }
            &__content {
                div:last-of-type ul {
                    li:first-child {
                        &::before {
                            background-color: $color-page-aqua;
                        }
                    }
                }
            }
        }
    }
    &--style {
        .breadcrumbs {
            color: #fff;
        }

        .sections-page {
            &__title {
                max-width: 200px;
                color: #fff;
            }

            &__content {
                p {
                    margin-bottom: 20px;
                    &:first-of-type {
                        b {
                            font-weight: 700;
                        }
                    }
                }
                ul {
                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        @include media-breakpoint-up(lg) {
            .breadcrumbs {
                margin-bottom: 40px;
            }
            .wrap {
                padding-right: 50px;
            }
            .sections-page {
                &__title {
                    font-size: 33px;
                    line-height: 40px;
                }

                &__content {
                    padding-top: 50px;
                    p {
                        &:first-of-type {
                            margin-bottom: 50px;
                        }
                    }
                    ul {
                        li {
                            margin-bottom: 0;
                            // &:first-child {
                            //     position: relative;

                            //     &::before {
                            //         content: "";
                            //         position: absolute;
                            //         top: 3px;
                            //         left: -45px;
                            //         width: 15px;
                            //         height: 15px;
                            //         background-color: $color-orange;
                            //     }
                            // }
                        }
                    }
                }
            }
        }
        @include media-breakpoint-up(xl) {
            .wrap {
                padding-right: 147px;
            }
            .sections-page {
                &__content {
                    p {
                        margin-bottom: 50px;
                    }
                    ul {
                        li {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
    &--style-index {
        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: -250px;
        //     left: -110.555556vw;
        //     // left: -398px;
        //     width: 150%;
        //     height: 1000px;
        //     background-color: #fff;
        //     transform: rotate(38deg);
        // }
        .breadcrumbs {
            color: $color-text;
        }
        .sections-page {
            &__title {
                color: $color-text;
            }
        }
        @include media-breakpoint-up(lg) {
            // &::before {
            //     content: "";
            //     position: absolute;
            //     top: -356px;
            //     left: -390px;
            //     width: 768px;
            //     height: 1500px;
            //     background-color: #fff;
            //     transform: rotate(35deg);
            // }
            .wrap {
                padding-right: 50px;
            }
            p {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -25px;
                    width: 68px;
                    height: 5px;
                    background-color: #fff;
                }
            }
            .sections-page {
                &__arrows {
                    color: $color-text;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            .wrap {
                padding-right: 147px;
            }
        }
    }
}
/*Sections page end*/
