/*Serm case page start*/
.serm-case {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 100%;
        background-color: $color-orange;
    }
    &::after {
        content: "";
        position: absolute;
        top: 225px;
        right: 20px;
        width: 77px;
        height: 340px;
        background-image: url("../img/theme/serm-case-dec.svg");
        background-repeat: no-repeat;
    }
    @include media-breakpoint-up(lg) {
        &::before {
            width: 120px;
        }
        &::after {
            top: 0;
            left: 50%;
            width: 178px;
            height: 785px;
            transform: translateX(-50%);
        }
    }
    @include media-breakpoint-up(xl) {
        .case-actions__next {
            position: absolute;
            bottom: 0;
            right: 50px;
        }
    }
    .back {
        margin-bottom: 45px;
    }
    .wrap {
        padding-right: 40px;
        @include media-breakpoint-up(lg) {
            padding-left: 147px;
            padding-right: 35px;
        }
        @include media-breakpoint-up(xl) {
            padding-right: 147px;
        }
    }
    .breadcrumbs {
        @include media-breakpoint-up(lg) {
            &__list {
                padding: 0;
            }
        }
    }
    &__title {
        margin-bottom: 35px;
        max-width: 625px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
    }
    &__content {
        p,
        ul {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            p,
            ul {
                margin-bottom: 30px;
            }
        }
    }
    &__middle {
        position: relative;
        padding: 40px 0;
        background-color: #EFEFEF;
        @include media-breakpoint-up(lg) {
            position: static;
            padding: 70px 0;
        }
    }
    &__bottom {
        padding: 40px 0;
        @include media-breakpoint-up(lg) {
            padding: 55px 0 50px;
        }
    }
}
.diagram {
    svg {
        margin: 15px auto;
        width: 239px;
        height: 239px;

        fill: transparent;
        border-radius: 50%;
        transform: rotate(-90deg);
        @include media-breakpoint-up(lg) {
            margin: 0;
            margin-bottom: 50px;
            width: 328px;
            height: 328px;
        }
    }
    &__circle {
        stroke: $color-text;
        stroke-width: 18px;
        stroke-dasharray: 100 100;
        &--process {
            stroke: $color-orange;
            stroke-dasharray: 0 100;
            transition: stroke-dasharray 1.3s linear;
        }
    }
    &__list {
        margin: 0 auto;
        max-width: 255px;
        @include media-breakpoint-up(lg) {
            margin: 0;
            margin-top: 55px;
        }

    }
    &__item {
        position: relative;
        margin-bottom: 15px;
        padding-left: 35px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            transform: translateY(-50%);
        }
        &--positive::before {
            background-color: $color-orange;
        }
        &--negative::before {
            background-color: $color-text;
        }
        &:last-child {
            margin-bottom: 20px;
        }
    }
    &__amount {
        padding-left: 30px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }
}
/*Serm case page end*/