/*Smm case start*/
.smm-case {
    background-color: transparent;
    padding-top: 0;
    &__top {
        position: relative;
        padding-top: 133px;
        padding-bottom: 50px;
        min-height: 100vh;
        color: #fff;
        @include media-breakpoint-up(lg) {
            padding-top: 120px;
        }
    }
    &__back {
        svg {
            stroke: currentColor;
            transform: rotate(180deg);
        }
        @include media-breakpoint-up(lg) {
            margin-left: 42px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 0;
        }
    }
    &__top-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    &__bottom-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 432px;
        overflow: hidden;
    }
    &__top-bg,
    &__bottom-bg {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #C9272E;
            mix-blend-mode: multiply;
        }

        @supports not (mix-blend-mode: multiply) {
            &::before {
                opacity: 0.7;
            }
        }
    }
    &__case-logo {
        margin-top: 90px;
        margin-bottom: 50px;
        width: 300px;
        height: 54px;
        @include media-breakpoint-up(lg) {
            margin-top: 105px;
            margin-bottom: 70px;
            width: 785px;
            height: 120px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 30px;
            width: 1147px;
            height: 205px;
        }
    }
    &__title {
        font-size: 38px;
        @include media-breakpoint-up(lg) {
            font-size: 60px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 70px;
        }
    }
    &__case-link {
        position: absolute;
        bottom: 50px;
        right: 30px;
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        @include media-breakpoint-up(lg) {
            right: auto;
            left: 105px;
        }
        @include media-breakpoint-up(xl) {
            left: 147px;
        }
    }
    &__content {
        position: relative;
        padding-top: 40px;
        padding-right: 25px;
        .content-style {
            p,
            ul {
                margin-bottom: 20px;
            }
        }
        @include media-breakpoint-up(lg) {
            position: relative;
            padding-top: 80px;
            padding-bottom: 30px;
            .content-style {
                width: 44.966443%;
                max-width: 460px;
            }
        }
    }
    &__phones {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        &--inst {
            justify-content: center;
            padding-bottom: 75px;
        }
        &--vk {
            justify-content: flex-start;
            flex-shrink: 0;
            width: 36.4179104%;
        }
        @include media-breakpoint-up(lg) {
            &--inst {
                position: absolute;
                top: -110px;
                right: 25px;
                z-index: 1;
                width: 375px;
            }
            &--vk {
                width: 49.0947817%;
            }
        }
        @include media-breakpoint-up(xl) {
            &--inst {
                width: 558px;
                top: -360px;
                right: 147px;
            }
            &--vk {
                width: 558px;
            }
        }
    }
    &__phone {
        max-width: 264px;
        overflow: hidden;
        &--inst {
            margin-right: 6.53594771%;
            margin-bottom: 10px;
            width: 46.7320261%;
            &::before {
                padding-bottom: 204.195804%;
            }

            &:nth-child(2n) {
                margin-right: 0;
                transform: translateY(50px);
            }
        }
        &--vk {
            width: 100%;
            transform: translateY(140px);
            &::before {
                padding-bottom: 204.918033%;
            }
        }
        img {
            max-width: 100%;
            height: auto;
        }
        @include media-breakpoint-up(lg) {
            &--inst {
                margin-right: 1.33333333%;
                margin-bottom: 20px;
                width: 49.3333333%;

                &:nth-child(2n) {
                    transform: translateY(100px);
                }
            }
            &--vk {
                margin-right: 3.2537961%;
                width: 48.373102%;
                transform: translateY(-57px);
                &::before {
                    padding-bottom: 204.035874%;
                }
                &:nth-child(2n) {
                    margin-right: 0;
                    transform: translateY(-157px);
                }
            }
        }
        @include media-breakpoint-up(xl) {
            &--inst {
                margin-right: 5.37634409%;
                width: 47.311828%;

                &:nth-child(2n) {
                    transform: translateY(170px);
                }
            }
            &--vk {
                margin-right: 5.37634409%;
                width: 47.311828%;
                transform: translateY(-39px);
                &:nth-child(2n) {
                    transform: translateY(-182px);
                }
            }
        }
    }
    &__total {
        position: relative;
        padding: 40px 30px 40px 40px;
        color: #fff;
        background-color: #585858;
        @include media-breakpoint-up(lg) {
            padding-left: 105px;
            .content-style {
                width: 47.2440945%;
                max-width: 460px;
            }
        }
        @include media-breakpoint-up(xl) {
            padding-left: 147px;
        }
    }
    &__layout {
        background-color: #C9272E;
        overflow: hidden;
        .responsive-img {
            height: 463px;
            transform: translateY(-7px);
        }
        @include media-breakpoint-up(lg) {
            .responsive-img {
                height: 896px;
            }
        }
    }
    &__bottom {
        position: relative;
    }
    &__wrapper {
        margin-top: -11px;
        margin-bottom: 405px;
        padding-left: 15px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include media-breakpoint-up(lg) {
            margin-top: -187px;
            margin-bottom: 267px;
            padding-left: 65px;
            padding-right: 20px;
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 110px;
            padding-left: 147px;
            padding-right: 147px;
        }
    }
    &__vk-image {
        flex-shrink: 0;
        width: 62.0895522%;
        max-width: 460px;
        &::before {
            padding-bottom: 144.230769%;
        }
        @include media-breakpoint-up(lg) {
            width: 36.2087327%;
            &::before {
                padding-bottom: 144.411765%;
            }
        }
        @include media-breakpoint-up(xl) {
            &::before {
                padding-bottom: 144.347826%;
            }
        }
    }
    &__decor {
        position: absolute;
        z-index: 1;
        font-size: 50px;
        line-height: 1;
        font-weight: 800;
        -webkit-text-fill-color: transparent;
        transform: rotate(-90deg);
        transition: all 0.5s ease-in-out;
        opacity: 0;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        &--inst {
            top: 180px;
            right: -111px;
            -webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
        }
        &--vk {
            top: -96px;
            right: -90px;
            -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
        }
        @include media-breakpoint-up(lg) {
            font-size: 90px;
            &--inst {
                top: 305px;
                right: 224px;
            }
            &--vk {
                top: 121px;
                right: 306px;
            }
        }
        @include media-breakpoint-up(xl) {
            font-size: 100px;
            &--inst {
                top: 355px;
                right: 495px;
            }
            &--vk {
                top: 135px;
                right: 520px;
            }
        }
    }
    @supports (not (-webkit-text-fill-color: transparent)) and (not (-webkit-text-stroke: 2px rgba(0, 0, 0, 0.2))) {
        &__decor--inst {
            color: transparent;
            text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2),
                1px -1px 0 rgba(0, 0, 0, 0.2),
                -1px 1px 0 rgba(0, 0, 0, 0.2),
                1px 1px 0 rgba(0, 0, 0, 0.2);
        }
    }
    @supports (not (-webkit-text-fill-color: transparent)) and (not (-webkit-text-stroke: 2px rgba(0, 0, 0, 0.5))) {
        &__decor--vk {
            color: transparent;
            text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),
                1px -1px 0 rgba(0, 0, 0, 0.5),
                -1px 1px 0 rgba(0, 0, 0, 0.5),
                1px 1px 0 rgba(0, 0, 0, 0.5);
        }
    }
    .case-actions {
        padding-left: 40px;
        padding-right: 30px;
        @include media-breakpoint-up(lg) {
            padding-left: 105px;
            padding-right: 50px;
        }
        @include media-breakpoint-up(xl) {
            padding-left: 147px;
        }
    }
}
/*Smm case end*/
