/*Target case page start*/
.target-case {
    .back {
        margin-bottom: 30px;
    }
    &__title {
        margin-bottom: 30px;
        padding-right: 30px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 35px;
            padding-right: 0;
            max-width: 796px;
        }
    }
    &__content {
        position: relative;
        margin-bottom: 65px;
        padding-right: 30px;
        p {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 130px;
            padding-right: 65px;
            p {
                margin-bottom: 25px;
            }
        }
        @include media-breakpoint-up(xl) {
            margin-bottom: 90px;
            padding-right: 147px;
            div:nth-child(3) {
                b {
                    display: block;
                }
                ul {
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;
                }
            }
        }
    }
    &__decor {
        position: absolute;
        &--info {
            bottom: 45px;
            right: -63px;
            font-size: 100px;
            line-height: 1;
            font-weight: 800;
            opacity: 0.3;
            color: #fff;
            text-shadow: -1px -1px 0 rgba(196, 196, 196, 0.7),
            1px -1px 0 rgba(196, 196, 196, 0.7),
            -1px 1px 0 rgba(196, 196, 196, 0.7),
            1px 1px 0 rgba(196, 196, 196, 0.7);
            transform: rotate(-90deg);

            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px rgba(196, 196, 196, 0.7)) {
                text-shadow: none;
                opacity: 1;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px rgba(196, 196, 196, 0.7);
            }
        }
        &--visual {
            bottom: 13px;
            left: 50%;
            font-size: 100px;
            line-height: 1;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            visibility: hidden;
            transform: translate3d(-2000px, 0, 0);
            animation-duration: 2s;
            animation-timing-function: linear;
        }
        @include media-breakpoint-up(lg) {
            &--info {
                bottom: 130px;
                right: -130px;
                font-size: 300px;
            }
            &--visual {
                bottom: 31px;
                font-size: 260px;
            }
        }
        @include media-breakpoint-up(xl) {
            &--info {
                bottom: -115px;
                right: -55px;
                z-index: 1;
            }
            &--visual {
                bottom: -21px;
                font-size: 310px;
            }
        }
    }
    &__accomod {
        position: relative;
        display: block;
        margin-bottom: 50px;
        padding-right: 30px;
        font-weight: 500;
        line-height: 22px;
        &::before {
            content: "";
            position: absolute;
            top: -33px;
            left: 0;
            width: 55px;
            height: 3px;
            background-color: $color-text;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 80px;
        }
    }
    &__list {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
        margin-bottom: 60px;
        counter-reset: myCounter;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 100vw;
            height: 250px;
            transform: translateX(-50%);
        }
        &--gray {
            &::before {
                background-color: #ededed;
            }
            .target-case__decor--visual {
                color: #ededed;
            }
        }
        &--blue {
            &::before {
                background-color: #008BD9;
            }
            .target-case__decor--visual {
                color: #008BD9;
            }
        }
        &--yellow {
            &::before {
                background-color: #FFBA00;
            }
            .target-case__decor--visual {
                color: #FFBA00;
            }
        }
        @include media-breakpoint-up(lg) {
            justify-content: flex-start;
            margin: 0 135px 145px;
        }
        @include media-breakpoint-up(xl) {
            margin: 0 147px 125px;
        }
    }
    &__item {
        flex-shrink: 0;
        position: relative;
        padding-top: 80px;
        width: 100%;
        max-width: 362px;
        &::before {
            counter-increment: myCounter;
            content: counter(myCounter, decimal-leading-zero);
            position: absolute;
            top: 25px;
            left: 65px;
            z-index: 1;
            font-size: 30px;
            line-height: 1;
            font-weight: 800;
        }
        .responsive-img {
            &::before {
                padding-bottom: 80.6629834%;
            }
        }
        &:first-child {
            margin: 0;
            width: 100%;
            max-width: none;
            height: 345px;
            // &::after {
            //     content: attr(data-text);
            //     position: absolute;
            //     bottom: 13px;
            //     left: 50%;
            //     display: block;
            //     font-size: 100px;
            //     line-height: 1;
            //     font-weight: 900;
            //     text-transform: uppercase;
            //     text-align: center;
            //     transform: translateX(-50%);
            // }
        }
        @include media-breakpoint-up(lg) {
            margin-right: 3.97877984%;
            width: 48.0106101%;
            max-width: none;
            &::before {
                left: 0;
            }
            &:nth-child(2n+1) {
                margin-right: 0;
            }
            &:first-child {
                height: 490px;
                &::before {
                    top: 83px;
                }
                // &::after {
                //     bottom: 31px;
                //     font-size: 260px;
                // }
            }
        }
        @include media-breakpoint-up(xl) {
            margin-right: 2.61780105%;
            width: 31.5881326%;
            max-width: none;
            &:nth-child(2n+1) {
                margin-right: 2.61780105%;
            }
            &:nth-child(3n+1) {
                margin-right: 0;
            }
            // &:first-child {
            //     &::after {
            //         bottom: -21px;
            //         font-size: 310px;
            //     }
            // }
        }
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        width: 73.4375vw;
        max-width: 350px;
        transform: translate(-50%, -50%);
        &::before {
            padding-bottom: 94.893617%;
        }
        img {
            top: 50%;
            left: 50%;
            width: auto;
            max-width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
        }
        @include media-breakpoint-up(lg) {
            top: -100px;
            width: 635px;
            max-width: none;
            transform: translateX(-50%);
            &::before {
                padding-bottom: 96.5354331%;
            }
        }
    }
    .case-actions {
        padding-right: 30px;
    }
    &__back {
        svg {
            stroke: currentColor;
        }
    }
}
/*Target case page end*/
