.web-case {
    padding-top: 0;
    padding-bottom: 0;
    &__first-screen {
        display: flex;
        flex-direction: column;
        padding-top: 133px;
        padding-bottom: 50px;
        min-height: 100vh;
        @include media-breakpoint-up(lg) {
            padding-top: 120px;
        }
        @include media-breakpoint-up(xl) {
            padding-right: 147px;
        }
    }
    .breadcrumbs {
        align-self: flex-start;
    }
    .back {
        position: relative;
        z-index: 1;
        margin-bottom: 25px;
        align-self: flex-start;
        @include media-breakpoint-up(xl) {
            margin-bottom: 10px;
        }
    }
    &__honeycomb {
        position: absolute;
        z-index: 1;
        transition: transform 0.8s ease-in-out;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 92vh;
        background-color: #F9AA1A;
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: -28vh;
            right: -185px;
            width: 1104px;
            height: 400px;
            background-image: url("../img/theme/honey.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        @include media-breakpoint-up(lg) {
            height: 65.4947917vh;
            // height: 503px;
            &::after {
                left: 0;
                right: auto;
                bottom: -465px;
                width: 1440px;
                height: 558px;
                left: 0;
            }
            .web-case__honeycomb {
                z-index: 2;
                &:nth-child(1) {
                    top: 180px;
                    left: 320px;
                    svg {
                        width: 298px;
                        height: 263px;
                        transform: matrix(-0.45, 1.09, -0.66, -0.59, 0, 0);
                    }
                }
                &:nth-child(2) {
                    bottom: -163px;
                    right: 42px;

                    svg {
                        width: 144px;
                        height: 121px;
                    }
                }
                &:nth-child(3) {
                    left: 373px;
                    bottom: -228px;
                    svg {
                        width: 87px;
                        height: 65px;
                    }
                }
            }
        }
        @include media-breakpoint-up(xl) {
            &::after {
                width: 100%;
                height: 38.75vw;
                bottom: -55.8489583vh;
                // bottom: -475px;
                background-position: bottom center;
            }
            .web-case__honeycomb {
                &:nth-child(1) {
                    top: 80px;
                    left: 400px;
                    svg {
                        width: 472px;
                        height: 407px;
                    }
                }
                &:nth-child(2) {
                    bottom: -231px;
                    right: 59px;
                    svg {
                        width: 202px;
                        height: 190px;
                    }
                }
                &:nth-child(3) {
                    bottom: -229px;
                    left: 525px;
                    svg {
                        width: 122px;
                        height: 114px;
                    }
                }
            }
        }
    }
    &__wrapper {
        position: relative;
        z-index: 2;
        padding-right: 25px;
        @include media-breakpoint-up(lg) {
            padding-top: 25px;
            padding-right: 0;
            width: 42.437432%;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 55px;
        }
    }
    &__title {
        margin-bottom: 15px;
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
        span {
            display: block;
            font-size: 24px;
            font-size: 30px;
        }
        small {
            display: block;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
        }
        &--small {
            font-size: 50px;
            line-height: 55px;
        }
        &--medium {
            font-size: 45px;
            line-height: 50px;
            span {
                font-size: 35px;
                font-size: 40px;
            }
        }
        &--large {
            font-size: 50px;
            line-height: 55px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 55px;
            font-size: 70px;
            line-height: 80px;
            span {
                font-size: 35px;
                line-height: 40px;
            }
            small {
                font-size: 20px;
                line-height: 30px;
            }
            &--small {
                span {
                    margin-bottom: 20px;
                    font-size: 30px;
                }
            }
            &--medium {
                font-size: 60px;
                line-height: 65px;
                span {
                    font-size: 40px;
                    line-height: 55px;
                }
            }
            &--large {
                font-size: 80px;
                line-height: 85px;
            }
        }
        @include media-breakpoint-up(xl) {
            font-size: 80px;
            line-height: 100px;
            span {
                font-size: 45px;
                line-height: 50px;
            }
            small {
                line-height: 40px;
            }
            &--small {
                font-size: 100px;
                span {
                    margin-bottom: 30px;
                    font-size: 33px;
                    line-height: 40px;
                }
            }
            &--medium {
                font-size: 75px;
                line-height: 80px;
                span {
                    font-size: 60px;
                    line-height: 65px;
                }
            }
            &--large {
                font-size: 100px;
            }
        }
    }
    &__type {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 40px;
        font-weight: 700;
        &--black {
            text-shadow: -1px -1px 0 $color-text,
                1px -1px 0 $color-text,
                -1px 1px 0 $color-text,
                1px 1px 0 $color-text;
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px $color-text) {
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px $color-text;
            }
        }
        &--white {
            text-shadow: -1px -1px 0 #fff,
                1px -1px 0 #fff,
                -1px 1px 0 #fff,
                1px 1px 0 #fff;

            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px #fff) {
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px #fff;
            }
        }
        &--red {
            text-shadow: -1px -1px 0 #CD463F,
                1px -1px 0 #CD463F,
                -1px 1px 0 #CD463F,
                1px 1px 0 #CD463F;

            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px #CD463F) {
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px #CD463F;
            }
        }
        @include media-breakpoint-up(lg) {
            font-size: 33px;
        }
    }
    &__screen {
        z-index: 2;
        width: 85.8333333vw;
        max-width: 499px;
        box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.35);
        &::before {
            padding-bottom: 56.25%;
        }
        @include media-breakpoint-up(lg) {
            flex-shrink: 0;
            width: 54.2981502%;
            max-width: 656px;
            &::before {
                padding-bottom: 57.1142285%;
            }
        }
        @include media-breakpoint-up(xl) {
            width: 57.2425829%;
            max-width: none;
            &::before {
                padding-bottom: 57.1646341%;
            }
        }
    }
    &__link {
        position: relative;
        z-index: 1;
        align-self: flex-end;
        padding-right: 25px;
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 50px;
            right: 30px;
            padding-right: 0;
        }
        @include media-breakpoint-up(xl) {
            right: 147px;
        }
    }
    &__text {
        padding-right: 25px;
        padding-top: 25px;
        padding-bottom: 225px;
        background-color: #EFEFEF;
        .web-case__honeycomb {
            &:nth-child(1) {
                top: 25px;
                left: 70px;
                svg {
                    width: 135px;
                    height: 103px;
                    fill: rgba(255, 255, 255, 0.05);
                }
            }
            &:nth-child(2) {
                top: 322px;
                left: 200px;
                svg {
                    width: 34px;
                    height: 27px;
                    fill: rgba(255, 255, 255, 0.05);
                }
            }
            &:nth-child(3) {
                top: 322px;
                left: 240px;

                svg {
                    width: 113px;
                    height: 85px;
                    fill: rgba(255, 255, 255, 0.05);
                }
            }
        }
        @include media-breakpoint-up(lg) {
            padding-right: 30px;
            padding-bottom: 100px;
            background-color: transparent;
            .web-case__honeycomb {
                &:nth-child(1) {
                    top: 20px;
                    left: 104px;
                    svg {
                        width: 199px;
                        height: 164px;
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        @include media-breakpoint-up(xl) {
            padding-top: 75px;
            padding-right: 147px;
            padding-bottom: 157px;
            .web-case__honeycomb {
                &:nth-child(1) {
                    top: -48px;
                    left: 146px;
                    svg {
                        width: 280px;
                        height: 249px;
                    }
                }
                &:nth-child(2) {
                    display: block;
                    top: auto;
                    left: 509px;
                    bottom: 58px;
                    svg {
                        width: 55px;
                        height: 51px;
                    }
                }
                &:nth-child(3) {
                    display: block;
                    top: auto;
                    left: 674px;
                    bottom: -91px;
                    svg {
                        width: 196px;
                        height: 182px;
                    }
                }
                &:nth-child(4) {
                    right: 464px;
                    top: 140px;
                    svg {
                        width: 50px;
                        height: 47px;
                        fill: rgba(252, 196, 31, 0.3);
                    }
                }
                &:nth-child(5) {
                    right: 275px;
                    top: 100px;
                    svg {
                        width: 174px;
                        height: 218px;
                    }
                }
            }
        }
    }
    &__content {
        p {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            position: relative;
            p {
                margin-bottom: 25px;
            }
        }
    }
    &__example {
        position: relative;
        z-index: 1;
        margin-top: -190px;
        padding: 0 15px 50px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            height: 125px;
        }
        @include media-breakpoint-up(lg) {
            position: relative;
            margin-top: 0;
            padding: 120px 135px 50px;
            background-color: #EFEFEF;
            &::after {
                left: auto;
                width: 67.8710938%;
                height: 773px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 650px;
                left: 0;
                right: 0;
                z-index: -1;
                width: 100%;
                height: 360px;
                background-color: #fff;
            }
        }
        @include media-breakpoint-up(xl) {
            padding: 125px 147px 50px;
        }
    }
    &__image {
        margin-bottom: 110px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
        img {
            width: 100%;
            height: auto;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 140px;
        }
        @include media-breakpoint-up(xl) {
            margin: 0 148px 140px;
        }
    }
    &__first-screen,
    &__text {
        @include media-breakpoint-up(lg) {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 60.4492188%;
                height: 100%;
            }
        }
        @include media-breakpoint-up(xl) {
            &::before {
                width: 62.5%;
            }
        }
    }
    .case-actions {
        padding-left: 50px;
        @include media-breakpoint-up(lg) {
            padding-left: 0;
            &__next {
                position: absolute;
                right: 30px;
                bottom: 50px;
            }
        }
        @include media-breakpoint-up(xl) {
            &__next {
                right: 50px;
            }
        }
    }
    &__decor {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        list-style: none;
    }

    &__layer {
        width: 100%;
        height: 100%;
        svg {
            position: absolute;
            z-index: 1;
        }
        &--figures {
            @include media-breakpoint-up(lg) {
                &:nth-child(1) {
                    svg {
                        top: 24.8697917vh;
                        left: 54.3945312vw;
                    }
                }

                &:nth-child(3) {
                    svg {
                        top: 83.59375vh;
                        left: 96.2890625vw;
                    }
                }

                &:nth-child(4) {
                    svg {
                        top: 155.0625vh;
                        left: 24.1210938vw;
                    }
                }
            }
            @include media-breakpoint-up(xl) {
                &:nth-child(1) {
                    svg {
                        left: 38.6805556vw;
                    }
                }
                &:nth-child(2) {
                    svg {
                        top: 45.4427083vh;
                        right: 3.47222222vw;
                    }
                }
                &:nth-child(3) {
                    svg {
                        left: 77.5vw;
                    }
                }
                &:nth-child(4) {
                    svg {
                        left: 17.1527778vw;
                    }
                }
            }
        }
        &--honey {
            &:nth-child(1) {
                svg {
                    top: 204px;
                    right: 7.22222222vh;
                    width: 128px;
                    height: 114px;
                }
            }
            &:nth-child(2) {
                svg {
                    top: 182px;
                    right: 10vh;
                    width: 28px;
                    height: 29px;
                    fill: $color-text;
                }
            }
            &:nth-child(3) {
                svg {
                    top: 437px;
                    right: 2.77777778vw;
                    width: 32px;
                    height: 32px;
                    fill: $color-text;
                }
            }
            &:nth-child(4) {
                svg {
                    top: 609px;
                    right: 35vw;
                    width: 42px;
                    height: 42px;
                    transform: scaleX(-1);
                    fill: $color-text;
                }
            }
            &:nth-child(5) {
                svg {
                    top: 1024px;
                    right: 4.16666667vw;
                    width: 52px;
                    height: 52px;
                    fill: #FFD452;
                }
            }
            @include media-breakpoint-up(lg) {
                &:nth-child(1) {
                    svg {
                        top: 31.7708333vh;
                        right: 40.9179488vw;
                        width: 319px;
                        height: 287px;
                    }
                }
                &:nth-child(2) {
                    svg {
                        top: 34.375vh;
                        right: 56.4453125vw;
                        width: 52px;
                        height: 52px;
                    }
                }
                &:nth-child(3) {
                    svg {
                        display: none;
                    }
                }
                &:nth-child(4) {
                    svg {
                        top: 84.6354167vh;
                        right: 37.7929688vw;
                    }
                }
                &:nth-child(5) {
                    svg {
                        display: none;
                    }
                }
            }
            @include media-breakpoint-up(xl) {
                &:nth-child(1) {
                    svg {
                        right: 51.0416667vw;
                    }
                }
                &:nth-child(2) {
                    svg {
                        right: 62.0833333vw;
                    }
                }
                &:nth-child(3) {
                    svg {
                        display: block;
                        top: 60.0260417vh;
                        right: 9.09722222vw;
                    }
                }
                &:nth-child(4) {
                    svg {
                        right: 55.7638889vw;
                    }
                }
                &:nth-child(5) {
                    svg {
                        display: block;
                        top: 112.630208vh;
                        right: 39.5833333vw;
                    }
                }
            }
        }
    }
    &--yellow {
        .web-case {
            &__first-screen {
                background-color: #EDD712;
            }
            &__type {
                color: #EDD712;
            }
            &__example {
                &::after {
                    background-color: #EDD712;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            .web-case {
                &__first-screen {
                    background-color: transparent;
                }
                &__first-screen,
                &__text {
                    &::before {
                        background-color: #EDD712;
                    }
                }
            }
        }
    }

    &--black {
        .web-case {
            &__first-screen {
                color: #fff;
                background-color: $color-text;
            }
            &__type {
                color: $color-text;
            }
            &__example {
                &::after {
                    background-color: $color-text;
                }
            }
        }
        .case-actions {
            color: #fff;
        }
        @include media-breakpoint-up(lg) {
            .web-case {
                &__first-screen {
                    background-color: transparent;
                }
                &__first-screen,
                &__text {
                    &::before {
                        background-color: $color-text;
                    }
                }
                &__link {
                    color: $color-text;
                }
                &__content {
                    color: #fff;
                }
                &__total {
                    color: $color-text;
                }
            }
            .case-actions {
                &__prev {
                    color: $color-text;
                }
            }
        }
    }

    &--red {
        .web-case {
            &__first-screen {
                color: #fff;
                background-color: $color-text;
            }

            &__example {
                &::after {
                    background-color: #D21F34;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            .web-case {
                &__first-screen {
                    background-color: transparent;
                }
                &__link {
                    color: $color-text;
                }
                &__first-screen,
                &__text {
                    &::before {
                        background-color: $color-text;
                    }
                }
                &__content {
                    color: #fff;
                }
                &__total {
                    color: $color-text;
                }
            }
        }
    }

    &--beige {
        .web-case {
            &__first-screen {
                background-color: #FDEFDC;
            }
            &__type {
                color: #FDEFDC;
            }
            &__example {
                &::after {
                    background-color: #FDEFDC;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            .web-case {
                &__first-screen {
                    background-color: transparent;
                }
                &__first-screen,
                &__text {
                    &::before {
                        background-color: #FDEFDC;
                    }
                }
            }
        }
    }

    &--d-yellow {
        .web-case {
            &__first-screen {
                background-color: $color-text;
            }
            &__title {
                color: #fff;
            }
            &__text {
                background-color: $color-text;
            }

            &__content {
                color: #fff;
            }
            &__example {
                &::after {
                    background-color: $color-text;
                }
            }
        }
        .case-actions {
            color: #fff;
        }
        @include media-breakpoint-up(lg) {
            .web-case {
                &__first-screen,
                &__text {
                    background-color: transparent;
                    &::before {
                        background-color: $color-text;
                    }
                }
                &__content {
                    color: #fff;
                }
                &__total {
                    color: $color-text;
                }
            }
            .case-actions {
                &__prev {
                    color: $color-text;
                }
            }
        }
    }
}