include common/_breadcrumbs.pug
include common/_case-actions.pug
//- include common/_checkbox.pug
//- include common/_pagination.pug

include layout/_header.pug
//- include layout/_footer.pug
include common/_sidebar.pug
include sections/_cases-slider.pug
include common/_back-link.pug

mixin random(num1, num2)
	- var num = Math.floor(Math.random() * (num1 - num2) + num2)
	span=num

mixin br(count)
	div(style="height:"+count+"px;")
		if block
			block

mixin svg(id)
	svg(role="img" width="1em" height="1em")&attributes(attributes)
		use(xlink:href='#si-'+id)

mixin link(text, mod)
	a.link(elem="link" href="#")=text
		+svg("next")(width="50px" height="14px")