extends _layout-modal
block vars
  - const modalMod = 'respond';
block modal-content
  div(elem="text")
    h2(elem="title") Хотите попасть в команду?
    span Оставьте свои контактные данные и прикрепите резюме
  .d-none.d-lg-block(elem="arrow")
    +svg("next")(width="70px" height="20px")
  form(elem="form" method="" action="")
    .form-group.form-group--file
      label.form-file(for="file")
        +svg("file")(width="44px" height="55px")
        div.js-preview(elem="preview") Прикрепить документ
      input.visuallyhidden.js-file(type="file" id="file" name="file" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document")
    .form-group
      label.visuallyhidden(for="name") Имя
      input.form-control(type="text" id="name" name="name" placeholder="Имя")
    .form-group
      label.visuallyhidden(for="surname") Фамилия
      input.form-control(type="text" id="surname" name="surname" placeholder="Фамилия")
    .form-group
      label.visuallyhidden(for="phone") Телефон
      input.form-control.js-tel(type="tel" id="phone" name="phone" placeholder="Телефон")
    .form-group
      textarea.form-control(name="message" rows="1" placeholder="Расскажите о себе")
    .text-right
      button.btn.btn--submit(type="submit") Отправить
  div.d-none.d-lg-block(elem="decor") facecom<br>team
