extends _layout-modal
block vars
  - const modalMod = 'connect';
block modal-content
  div(elem="text")
    p Хотите, чтобы крутая команда маркетологов, дизайнеров, SMM специалистов работала и создавала для вас впечатления, свяжитесь с нами
  .d-none.d-lg-block(elem="arrow")
    +svg("next")(width="70px" height="20px")
  form(elem="form" method="" action="")
    .form-group
      label.visuallyhidden(for="name") Имя
      input.form-control(type="text" id="name" name="name" placeholder="Имя")
    .form-group
      label.visuallyhidden(for="surname") Фамилия
      input.form-control(type="text" id="surname" name="surname" placeholder="Фамилия")
    .form-group
      label.visuallyhidden(for="phone") Телефон
      input.form-control.js-tel(type="tel" id="phone" name="phone" placeholder="Телефон")
    .text-right
      button.btn.btn--submit(type="submit") Отправить
  div.d-none.d-lg-block(elem="decor") facecom<br>team
