@charset "utf-8";
.breadcrumbs{
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
	@include media-breakpoint-up(lg) {
		margin-bottom: 40px;
	}
	@media print {
		display: none;
	}
	&__list{
		@include media-breakpoint-up(lg) {
			padding-left: 40px;
		}
		@include media-breakpoint-up(xl) {
			padding-left: 0;
		}
	}
	&__item{
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		font-size: 12px;
		line-height: 16px;
		font-weight: 300;
		a{
			@extend %link-clicker;
			display: inline-block;
			transition: color 0.2s;
		}
		span,
		a{
			&:after{
				content: '/';
				display: inline-block;
				vertical-align: middle;
				margin: 0 0.5em 0 0.7em;
			}
		}
		span {
			font-weight: 500;
			&:after {
				font-weight: 300;
			}
		}
	}
}