.btn {
	@extend %link-clicker;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 0;

	border: none;
	border-radius: 0;
	text-align: center;
	background: transparent;

	user-select: none;
	font-family: inherit;
	font-size: 14px;
	letter-spacing: -0.04em;
	color: currentColor;
	cursor: pointer;
	text-decoration: none;

	box-shadow: none;
	transition: background 0.1s, color 0.1s, border 0.1s;
	&:hover{
		text-decoration: none;
		color: currentColor;
	}

	svg{
		display: inline-block;
		vertical-align: middle;
		transition: all 0.1s;
		fill: currentColor;
		stroke: currentColor;
	}

	&--order {
		position: relative;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		&::after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			width: 100%;
			height: 5px;
			background-color: currentColor;
		}
		// border-bottom: 5px solid currentColor;

		&:hover {
			color: currentColor;
		}
	}

	&--slider {
		&:hover,
		&:focus {
			color: currentColor;
		}
	}

	&--respond {
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 5px solid $color-orange;
		&:hover {
			color: currentColor;
		}
	}

	&--slider {
		padding: 10px;
	}

	&--small{
		min-width: 0;
		height: rem(36, 16);
		line-height: rem(33, 16);
	}

	&--submit {
		font-size: 16px;
		font-weight: 600;
		color: inherit;
		&:hover {
			color: $color-orange;
		}
	}

	// &--hollow-white,
	// &--hollow{
	// 	background: none;
	// 	&:hover{
	// 		background: darken($color-blue, 5%);
	// 		color: #fff;
	// 		border-color: rgba(#000, 0);
	// 	}
	// 	&:active{
	// 		background: $color-blue;
	// 		color: #fff;
	// 		border-color: rgba(#000, 0);
	// 	}
	// }
	&--hollow{
		border-color: #DDDDDD;
		svg {
			fill: $color-text;
		}
	}
	&--hollow-white{
		color: #fff;
		border-color: #fff;
	}

	// &--blue{
	// 	background: $color-blue;
	// 	color: #fff;
	// 	svg{ fill: #fff; }
	// 	&:hover{
	// 		background: darken($color-blue, 5%);
	// 		color: #fff;
	// 	}
	// 	&:active{
	// 		background: $color-blue;
	// 		color: #fff;
	// 	}
	// }

	&[disabled] {
		opacity: 0.5;
		cursor: not-allowed;
	}
	&--hover-hollow{
		&:hover{
			background: none;
			border-color: #DDDDDD;
			color: $color-text;
			svg{ fill: $color-text; }
		}
	}

	// &--hover-blue{
	// 	&:hover{
	// 		background: $color-blue;
	// 		border-color: rgba(#fff,0);
	// 		color: #fff;
	// 	}
	// 	&:active{
	// 		background: darken($color-blue, 5%);
	// 	}
	// }
}
