.case-actions {
    &--black {
        color: $color-text;
    }
    &--white {
        color: #fff;
    }
    &__prev,
    &__next {
        svg {
            stroke: currentColor;
        }
    }

    &__next {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;

        svg {
            margin-left: 10px;
        }
    }
}