.images-decor {
    position: relative;
    margin-top: -50px;
    margin-left: -40px;
    margin-bottom: 20px;
    width: 100%;
    height: 83.8888889vw;
    list-style: none;
    &--marketing {
        height: 643px;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.05);
    }
    &::before {
        top: 0;
        left: 14px;
        width: 10.5555556vw;
        height: 10.5555556vw;
    }
    &::after {
        bottom: 0;
        left: 38px;
        width: 14.1666667vw;
        height: 9.16666667vw;
    }
    &--visual {
        height: 66.6666667vw;
        &::before {
            left: auto;
            right: 20px;
            top: -230px;
            width: 48px;
            height: 48px;
        }
    }
    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        &::before {
            top: 22.265625vh;
            left: 38.671875vw;
            width: 5.859375vw;
            height: 5.859375vw;
        }
        &::after {
            left: 42.1875vw;
            bottom: 7.68229167vh;
            width: 7.8125vw;
            height: 5.46875vw;
        }
        &--visual {
            &::before {
                top: 73px;
                left: 350px;
                width: 6.73828125vw;
                height: 8.88671875vw;
            }
        }
    }
    @include media-breakpoint-up(xl) {
        &::before {
            top: 0;
            left: 33.2638889vw;
            width: 6.31944444;
            height: 6.31944444;
        }
        &::after {
            bottom: 0;
            left: 37.0833333vw;
            width: 8.54166667vw;
            height: 5.55555556vw;
        }
        &--visual {
            &::before {
                top: 73px;
                left: 579px;
            }
        }
    }

    &__item {
        position: absolute;
        width: 28.0555556vw;
        &::before,
        &::after {
            content: "";
            position: absolute;
        }
        &--marketing {
            width: 245px;
        }
        @include media-breakpoint-up(lg) {
            width: 15.625vw;
        }
        @include media-breakpoint-up(xl) {
            width: 17.0138889vw;
        }
    }
    &__layer {
        width: 100%;
        height: 100%;
        &:nth-child(1) {
            .images-decor {
                &__item {
                    top: 114px;
                    left: 37px;

                    &::before,
                    &::after {
                        bottom: 0;
                        width: 13.8888889vw;
                        height: 13.8888889vw;
                        background-color: rgba(0, 0, 0, 0.05);
                    }

                    &::before {
                        left: 100%;
                    }

                    &::after {
                        right: 100%;
                    }
                }
                &__img:first-child {
                    &::before {
                        content: "";
                        position: absolute;
                        left: -3.61111111vw;
                        bottom: -3.61111111vw;
                        z-index: 1;
                        width: 7.22222222vw;
                        height: 7.22222222vw;
                        background-color: $color-orange;
                        opacity: 0.5;

                        @supports (mix-blend-mode: multiply) {
                            opacity: 1;
                            mix-blend-mode: multiply;
                        }
                    }
                }
            }
        }
        &:nth-child(2) {
            .images-decor {
                &__item {
                    top: 63px;
                    right: -35px;

                    &::before {
                        bottom: 0;
                        right: 100%;
                        width: 13.8888889vw;
                        height: 13.8888889vw;
                        background-color: $color-orange;
                    }

                    &::after {
                        content: attr(data-letter);
                        position: absolute;
                        bottom: -34px;
                        left: -80px;
                        font-size: 68px;
                        line-height: 1;
                        font-weight: 800;
                        color: #fff;
                        text-shadow: -1px -1px 0 $color-orange,
                            1px -1px 0 $color-orange,
                            -1px 1px 0 $color-orange,
                            1px 1px 0 $color-orange;

                        @supports (-webkit-text-stroke: 2px $color-orange) {
                            text-shadow: none;
                            -webkit-text-stroke: 2px $color-orange;
                        }
                    }
                }
                &__img {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 100%;
                        bottom: 100%;
                        width: 7.22222222vw;
                        height: 7.22222222vw;
                        background-color: $color-orange;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: -41px;
                        left: -42px;
                        width: 9.16666667vw;
                        height: 9.16666667vw;
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
        &:nth-child(3) {
            .images-decor {
                &__item {
                    right: -87px;
                    bottom: 42px;

                    &::before {
                        top: 100%;
                        right: 100%;
                        width: 3.33333333vw;
                        height: 3.33333333vw;
                        background-color: $color-orange;
                    }

                    &::after {
                        top: -30px;
                        right: -20px;
                        width: 7.5vw;
                        height: 3.33333333vw;
                        background-color: $color-orange;
                    }
                }
                &__img {
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 100%;
                        right: 0;
                        width: 13.8888889vw;
                        height: 13.8888889vw;
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
        &--marketing {
            &:nth-child(1) {
                .images-decor {
                    &__item {
                        top: 228px;
                        left: -87px;
                    }
                    &__img:first-child {
                        &::before {
                            left: 102px;
                            bottom: -47px;
                            width: 62px;
                            height: 62px;
                            mix-blend-mode: normal;
                        }
                    }
                }
            }
            &:nth-child(2) {
                .images-decor {
                    &__item {
                        top: 77px;
                        right: -73px;

                        &::before {
                            right: auto;
                            bottom: auto;
                            top: 100%;
                            left: -50px;
                            width: 91px;
                            height: 91px;
                        }
                    }
                    &__img {
                        &::before {
                            left: -117px;
                            top: 50px;
                            bottom: auto;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
            &:nth-child(3) {
                .images-decor {
                    &__item {
                        right: -139px;
                        bottom: 140px;

                        &::before {
                            top: auto;
                            right: auto;
                            left: 30px;
                            bottom: -70px;
                            width: 31px;
                            height: 31px;
                        }

                        &::after {
                            top: 66px;
                            right: auto;
                            left: 57px;
                            width: 53px;
                            height: 15px;
                        }
                    }
                }
            }
        }
        &--visual {
            &:nth-child(1) {
                .images-decor {
                    &__item {
                        top: 40px;
                        left: 12px;
                        width: 39.4444444vw;
                    }
                    &__img:first-child {
                        &::before {
                            left: -12px;
                            bottom: -67px;
                            width: 70px;
                            height: 42px;
                            mix-blend-mode: normal;
                        }
                    }
                }
            }

            &:nth-child(2) {
                .images-decor {
                    &__item {
                        top: 0;
                        right: -38px;
                        width: 55vw;

                        &::before {
                            bottom: auto;
                            right: auto;
                            top: -90px;
                            left: 110px;
                            width: 36px;
                            height: 36px;
                        }
                    }
                    &__img {
                        .responsive-img {
                            &::before {
                                padding-bottom: 67.6767677%;
                            }
                        }
                    }
                }
            }

            &:nth-child(3) {
                .images-decor {
                    &__item {
                        right: 0;
                        bottom: 0;

                        &::before {
                            width: 15px;
                            height: 30px;
                            right: 0;
                            bottom: 20px;
                        }

                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-up(lg) {
            &:nth-child(1) {
                .images-decor {
                    &__item {
                        top: 51.5626vh;
                        left: 42.1875vw;

                        &::before,
                        &::after {
                            width: 7.8125vw;
                            height: 7.8125vw;
                        }
                    }
                    &__img:first-child {
                        &::before {
                            left: -2.00195312vw;
                            bottom: -2.00195312vw;
                            width: 4.00390625vw;
                            height: 4.00390625vw;
                        }
                    }
                }
            }

            &:nth-child(2) {
                .images-decor {
                    &__item {
                        top: 40.3645833vh;
                        right: 10.9275vw;

                        &::before {
                            width: 7.8125vw;
                            height: 7.8125vw;
                        }

                        &::after {
                            left: -110px;
                        }
                    }
                    &__img {
                        &::before {
                            width: 3.90625vw;
                            height: 3.90625vw;
                        }

                        &::after {
                            top: -65px;
                            left: -64px;
                            width: 4.8828125vw;
                            height: 4.8828125vw;
                        }
                    }
                }
            }

            &:nth-child(3) {
                .images-decor {
                    &__item {
                        right: 3.22265625vw;
                        bottom: 14.9739583vh;

                        &::before {
                            width: 1.953125vw;
                            height: 1.953125vw;
                        }

                        &::after {
                            top: -50px;
                            right: -32px;
                            width: 4.1015625vw;
                            height: 2.05078125vw;
                        }
                        &__img {
                            &::before {
                                width: 7.8125vw;
                                height: 7.8125vw;
                            }
                        }
                    }
                }
            }

            &--marketing {
                &:nth-child(1) {
                    .images-decor {
                        &__item {
                            top: 41.796875vh;
                            left: 38.28125vw;
                            width: 17.3828125vw;
                        }
                        &__img {
                            .responsive-img {
                                &::before {
                                    padding-bottom: 137.640449%;
                                }
                            }
                            &:first-child {
                                &::before {
                                    left: -2.00195312vw;
                                    bottom: -2.00195312vw;
                                    width: 4.00390625vw;
                                    height: 4.00390625vw;
                                }
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    .images-decor {
                        &__item {
                            top: 22.1354167vh;
                            right: 10.2539062vw;
                            width: 23.9257812vw;

                            &::before {
                                z-index: 1;
                                top: 174px;
                                left: -52px;
                                width: 10.2539062vw;
                                height: 14.0625vw;
                            }
                        }
                        &__img {
                            &::before {
                                top: 75px;
                                left: -214px;
                                width: 11px;
                                height: 15px;
                            }

                            &::after {
                                top: auto;
                                bottom: 100%;
                                left: 100%;
                                width: 4.39453125vw;
                                height: 6.0546875vw;
                                background-color: $color-orange;
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    .images-decor {
                        &__item {
                            bottom: 20.1822917vh;
                            right: 0.9765625vw;
                            width: 18.75vw;

                            &::before {
                                bottom: -105px;
                                left: -5px;
                                width: 2.1484375vw;
                                height: 2.9296875vw;
                            }

                            &::after {
                                left: auto;
                                top: 30px;
                                right: -30px;
                                width: 4.58984375vw;
                                height: 2.9296875vw;
                            }
                        }
                    }
                }
            }

            &--visual {
                &:nth-child(1) {
                    .images-decor {
                        &__item {
                            top: 41.796875vh;
                            left: 36.2304688vw;
                            width: 18.1640625vw;

                            &::before,
                            &::after {
                                width: 8.984375vw;
                                height: 11.9140625vw;
                            }
                        }
                        &__img {
                            .responsive-img {
                                &::before {
                                    padding-bottom: 131.72043%
                                }
                            }

                            &:first-child {
                                &::before {
                                    left: -2.29492188vw;
                                    bottom: -3.02734375vw;
                                    width: 4.58984375vw;
                                    height: 6.0546875vw;
                                }
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .images-decor {
                        &__item {
                            top: 22.1354167vh;
                            right: 10.8398438vw;
                            width: 26.7578125vw;

                            &::before {
                                top: auto;
                                bottom: -7.03125vw;
                                left: -5.37109375vw;
                                z-index: 1;
                                width: 10.7421875vw;
                                height: 14.0625vw;
                            }
                        }
                        &__img {
                            .responsive-img {
                                &::before {
                                    padding-bottom: 89.4160584%;
                                }
                            }

                            &::before {
                                width: 4.58984375vw;
                                height: 6.0546875vw;
                            }

                            &::after {
                                top: 60px;
                                left: -222px;
                                width: 11px;
                                height: 15px;
                                background-color: $color-orange;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .images-decor {
                        &__item {
                            right: 0;
                            bottom: 0;

                            &::before {
                                bottom: auto;
                                right: 223px;
                                top: -83px;
                                width: 2.24609375vw;
                                height: 2.9296875vw;
                            }

                            &::after {
                                display: block;
                                right: 0;
                                top: -226px;
                                width: 4.78515625vw;
                                height: 2.9296875vw;
                            }
                        }
                    }
                }
            }
        }

        @include media-breakpoint-up(xl) {
            &:nth-child(1) {
                .images-decor {
                    &__item {
                        top: 41.796875vh;
                        left: 37.0833333vw;

                        &::before,
                        &::after {
                            width: 8.47222222vw;
                            height: 8.47222222vw;
                        }
                    }
                    &__img:first-child {
                        &::before {
                            left: -2.15277778vw;
                            bottom: -2.15277778vw;
                            width: 4.30555556vw;
                            height: 4.30555556vw;
                        }
                    }
                }
            }

            &:nth-child(2) {
                .images-decor {
                    &__item {
                        top: 25.9114583vh;
                        right: 11.9444444vw;

                        &::before {
                            width: 8.47222222vw;
                            height: 8.47222222vw;
                        }

                        &::after {
                            left: -149px;
                        }
                    }
                    &__img {
                        &::before {
                            width: 4.30555556vw;
                            height: 4.30555556vw;
                        }

                        &::after {
                            top: -101px;
                            left: -102px;
                            width: 5.55555556vw;
                            height: 5.55555556vw;
                        }
                    }
                }
            }

            &:nth-child(3) {
                .images-decor {
                    &__item {
                        right: 3.47222222vw;
                        bottom: 10.4166667vh;

                        &::before {
                            width: 2.08333333vw;
                            height: 2.08333333vw;
                        }

                        &::after {
                            top: -74px;
                            right: -50px;
                            width: 4.51388889vw;
                            height: 2.08333333vw;
                        }
                    }
                    &__img {
                        &::before {
                            width: 8.47222222vw;
                            height: 8.47222222vw;
                        }
                    }
                }
            }

            &--marketing {
                &:nth-child(1) {
                    .images-decor {
                        &__item {
                            left: 37.4305556vw;
                            width: 17.0138889vw;
                        }
                        &__img {
                            .responsive-img {
                                &::before {
                                    padding-bottom: 100%;
                                }
                            }
                            &:first-child {
                                &::before {
                                    left: -2.15277778vw;
                                    bottom: -2.15277778vw;
                                    width: 4.30555556vw;
                                    height: 4.30555556vw;
                                }
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    .images-decor {
                        &__item {
                            top: 22.1354167vh;
                            right: 10.2083333vw;
                            width: 25.1388889vw;

                            &::before {
                                top: auto;
                                left: -5vw;
                                bottom: -5vw;
                                width: 10vw;
                                height: 10vw;
                            }
                        }

                        &__img {
                            .responsive-img {
                                &::before {
                                    padding-bottom: 62.679558%;
                                }
                            }
                            &::before {
                                top: 45px;
                                left: -295px;
                                width: 15px;
                                height: 15px;
                            }

                            &::after {
                                top: auto;
                                bottom: 100%;
                                left: 100%;
                                width: 4.30555556vw;
                                height: 4.30555556vw;
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    .images-decor {
                        &__item {
                            bottom: 20.1822917vh;
                            right: 3.47222222vw;
                            width: 18.3333333vw;

                            &::before {
                                bottom: -110px;
                                width: 2.08333333vw;
                                height: 2.08333333vw;
                            }

                            &::after {
                                top: 31px;
                                right: -50px;
                                width: 4.51388889vw;
                                height: 2.08333333vw;
                            }
                        }
                    }
                }
            }

            &--visual {
                &:nth-child(1) {
                    .images-decor {
                        &__img {
                            .responsive-img {
                                &::before {
                                    padding-bottom: 100%;
                                }
                            }
                        }
                    }
                }

                &:nth-child(2) {
                     .images-decor {
                        &__item {
                            top: 22.1354167vh;
                            right: 10.2083333vw;
                            width: 25.1388889vw;

                            &::before {
                                left: -5vw;
                                bottom: -5vw;
                                width: 10vw;
                                height: 10vw;
                            }
                        }
                        &__img {
                            .responsive-img {
                                &::before {
                                    padding-bottom: 67.679558%;
                                }
                            }

                            &::after {
                                top: 60px;
                                left: -295px;
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .images-decor {
                        &__item {
                            bottom: 0;
                            right: 0;

                            &::before {
                                right: 325px;
                                top: -80px;
                            }

                            &::after {
                                right: 0;
                                top: -255px;
                            }
                        }
                    }
                }
            }
        }
    }

    &__img {
        position: relative;
        &--squ-small {
            position: absolute;
            left: 100%;
            top: 100%;
            width: 13.8888889vw;
            @include media-breakpoint-up(lg) {
                width: 7.8125vw;
            }
            @include media-breakpoint-up(xl) {
                width: 8.47222222vw;
            }
        }
        &--rect {
            .responsive-img {
                &::before {
                    padding-bottom: 50%;
                }
            }
        }
        &--marketing {
            left: auto;
            right: -45px;
            width: 117px;
            @include media-breakpoint-up(lg) {
                right: auto;
                left: 100%;
                top: 100%;
                width: 8.30078125vw;
            }
        }
        &--visual {
            top: 96px;
            left: 126px;
            width: 117px;
            @include media-breakpoint-up(lg) {
                top: 100%;
                left: 100%;
                width: 8.69140625vw;
                .responsive-img {
                    &::before {
                        padding-bottom: 131.460674%;
                    }
                }
            }
            @include media-breakpoint-up(xl) {
                width: 8.125vw;
                .responsive-img {
                    &::before {
                        padding-bottom: 100%;
                    }
                }
            }
        }
    }
}
