.mfp-bg {
    background-color: #fff;
}
.mfp-fade {
    &.mfp-bg {
        opacity: 0;
        transition: all 0.2s ease-out;

        /* overlay animate in */
        &.mfp-ready {
            opacity: 0.9;
            // &.mfp-bg-dark {
            // 	opacity: 0.8;
            // }
        }

        /* overlay animate out */
        &.mfp-removing {
            opacity: 0;
            // &.mfp-bg-dark {
            // 	opacity: 0;
            // }
        }
    }

    /* content at start */
    &.mfp-wrap {
        .mfp-content {
            opacity: 0;
            transition: all 0.2s ease-out;
        }

        &.mfp-ready {
            .mfp-content {
                opacity: 1;
            }
        }

        &.mfp-removing {
            .mfp-content {
                opacity: 0;
            }
        }
    }
}

.mfp-close {
    .mfp-close-style & {
        width: 18px;
        height: 18px;
        font-size: 0;
        background: none;
        border: none;
        opacity: 1;
        line-height: 0;
        border-radius: 0;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 23px;
            height: 1px;
            background-color: $color-text;
            transition: all 0.3s ease;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:active {
            top: 31px;
            @include media-breakpoint-up(lg) {
                top: 51px;
            }
        }
        @include media-breakpoint-up(lg) {
            width: 23px;
            height: 23px;
            &::before,
            &::after {
                width: 30px;
            }
        }
    }

    .mfp-close-btn-in & {
        top: 30px;
        right: 30px;
        @include media-breakpoint-up(lg) {
            top: 50px;
            right: 50px;
        }
    }
}

.modal {
    position: relative;
    margin: 0 auto;
    width: 90.8333333vw;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(78, 78, 78, 0.25);
    &--respond {
        padding: 50px 20px;
    }
    &--connect {
        padding: 100px 20px 80px;
    }
    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 94.140625vw;
        &--respond {
            padding: 180px 60px 80px;
        }
        &--connect {
            padding: 255px 50px 183px;
        }
    }
    @include media-breakpoint-up(xl) {
        width: 79.5833333vw;
        max-width: 1146px;
        &--respond {
            padding: 180px 100px 80px;
        }
        &--connect {
            padding: 255px 155px 183px 100px;
        }
    }
    &__title {
        margin-bottom: 15px;
        @include media-breakpoint-up(lg) {
            margin-top: 10px;
            margin-bottom: 50px;
        }
    }
    &__text {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 28px;
        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }
    &__arrow {
        position: absolute;
        top: 295px;
        left: 352px;
        svg {
            stroke: $color-orange;
        }
        @include media-breakpoint-up(xl) {
            left: 432px;
        }
    }
    &__form {
        width: 100%;
        max-width: 360px;
        .btn {
            margin-top: 30px;
            color: $color-orange;
            &:hover {
                color: $color-text;
            }
        }
    }
    &__preview {
        margin-left: 20px;
    }
    &__decor {
        position: absolute;
        top: 200px;
        left: 28%;
        font-size: 80px;
        line-height: 1;
        font-weight: 700;
        text-align: right;
        color: #fff;
        text-shadow: -1px -1px 0 rgba(29, 29, 29, 0.05),
            1px -1px 0 rgba(29, 29, 29, 0.05),
            -1px 1px 0 rgba(29, 29, 29, 0.05),
            1px 1px 0 rgba(29, 29, 29, 0.05);
        transform: rotate(-90deg);
        @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px rgba(29, 29, 29, 0.05)) {
            text-shadow: none;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px rgba(29, 29, 29, 0.05);
        }
        @include media-breakpoint-up(xl) {
            left: 31%;
        }
    }
    &--connect {
        .modal {
            &__text {
                max-width: 270px;
            }
        }
    }
    &--respond {
        .modal {
            &__text {
                max-width: 300px;
            }
        }
    }
}
