.sidebar {
    display: none;
    color: $color-text;
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

    &.black {
        color: #fff;
    }
    &.orange {
        color: #fff;
        .sidebar__link--orange {
            svg {
                fill: #fff;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        &.absolute {
            position: absolute;
        }
    }

    &__link {
        margin-bottom: 36px;
        width: 22px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        &:first-child {
            margin-top: 245px;
        }

        &:last-child{
            margin-bottom: 0;
            margin-top: auto;
        }

        svg {
            fill: currentColor;
        }

        &--orange {
            svg {
                fill: $color-orange;
            }
        }
    }
}
