.smm-decor {
    position: relative;
    margin-left: -40px;
    margin-bottom: 80px;
    width: 100%;
    list-style: none;
    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    &__layer {
        width: 100%;
        height: 100%;
        &:nth-child(1) {
            .smm-decor {
                &__item {
                    width: 100vw;
                }
                &__img {
                    .responsive-img {
                        &::before {
                            padding-bottom: 60.2777778%;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            mix-blend-mode: multiply;
            .smm-decor {
                &__item {
                    position: absolute;
                    left: 50vw;
                    bottom: -50px;
                    width: 100vw;
                    transform: translateX(-50%);
                }
            }
        }

        @include media-breakpoint-up(lg) {
            &:nth-child(1) {
                .smm-decor {
                    &__item {
                        position: absolute;
                        top: 40.8854167vh;
                        left: 46.6796875vw;
                        width: 49.7070312vw;
                        &::before {
                            content: "";
                            position: absolute;
                            right: 4px;
                            top: -42px;
                            z-index: 1;
                            width: 52px;
                            height: 52px;
                            background-color: $color-orange;
                            opacity: 0.5;

                            @supports (mix-blend-mode: multiply) {
                                opacity: 1;
                                mix-blend-mode: multiply;
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                .smm-decor {
                    &__item {
                        position: absolute;
                        left: 143px;
                        bottom: 89px;
                        width: auto;
                        transform: translateX(0);
                    }
                }
            }

            &:nth-child(4) {
                .smm-decor {
                    &__item {
                        position: absolute;
                        top: 14.1927083vh;
                        right: 20.8007812vw;
                        width: 87px;
                        height: 87px;
                        background-color: $color-orange;

                        svg {
                            fill: #fff;
                        }
                    }
                }
            }

            &:nth-child(5) {
                .smm-decor {
                    &__item {
                        position: absolute;
                        right: 23.3398438vw;
                        bottom: 11.0677083vh;

                        svg {
                            fill: $color-orange;
                        }
                    }
                }
            }

            &:nth-child(6) {
                .smm-decor {
                    &__item {
                        position: absolute;
                        right: 10.15625vw;
                        bottom: 16.1458333vh;

                        svg {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-up(xl) {
            &:nth-child(1) {
                .smm-decor {
                    &__item {
                        right: 0;
                        left: auto;
                        width: 35.3472222vw;

                        &::before {
                            left: auto;
                            right: 112px;
                            top: -35px;
                            width: 71px;
                            height: 71px;
                        }
                    }
                }
            }

            &:nth-child(2) {
                .smm-decor {
                    &__item {
                        left: auto;
                        bottom: auto;
                        top: 42.7083333vh;
                        left: 37.5vw;
                    }
                }
            }

            &:nth-child(3) {
                .smm-decor {
                    &__item {
                        position: absolute;
                        bottom: 0;
                        left: 51.0416667vw;
                        width: 11.5277778vw;

                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                        }

                        &::before {
                            left: -201px;
                            bottom: 0;
                            width: 123px;
                            height: 80px;
                            background-color: rgba(0, 0, 0, 0.05);
                        }

                        &::after {
                            bottom: 27px;
                            right: -158px;
                            width: 30px;
                            height: 30px;
                            background-color: $color-orange;
                        }
                    }
                    &__img {
                        &::before {
                            content: "";
                            position: absolute;
                            top: -98px;
                            left: -92px;
                            z-index: 1;
                            width: 62px;
                            height: 62px;
                            background-color: $color-orange;
                            opacity: 0.5;

                            @supports (mix-blend-mode: multiply) {
                                opacity: 1;
                                mix-blend-mode: multiply;
                            }
                        }
                    }
                }
            }

            &:nth-child(4) {
                .smm-decor {
                    &__item {
                        top: 15.4947913vh;
                        right: 19.0277778vw;
                        width: 137px;
                        height: 137px;

                        svg {
                            width: 67px;
                            height: 120px;
                        }
                    }
                }
            }

            &:nth-child(5) {
                .smm-decor {
                    &__item {
                        right: 17.0138889vw;
                        bottom: 7.421875vh;
                    }
                }
            }

            &:nth-child(6) {
                .smm-decor {
                    &__item {
                        z-index: 2;
                        right: 28.8888889vw;
                        bottom: 21.484375vh;
                    }
                }
            }
        }
    }
    &__letter-list {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin-top: -50px;
        list-style: none;
        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }
    &__letter {
        &--s {
            width: 23.3333333vw;
            height: 27.2222222vw;
        }
        &--m {
            width: 31.9444444vw;
            height: 19.1666667vw;
        }
        &--multiply {
            opacity: 0.5;
            @supports (mix-blend-mode: multiply) {
                opacity: 1;
                mix-blend-mode: multiply;
            }
        }
        @include media-breakpoint-up(lg) {
            margin-right: 10px;
            &--s {
                width: 12.3046875vw;
                height: 14.2578125vw;
            }
            &--m {
                width: 16.796875vw;
                height: 10.0585938vw;
            }
        }
        @include media-breakpoint-up(xl) {
            margin-right: 30px;
            &--s {
                width: 12.9166667vw;
                height: 15vw;
            }
            &--m {
                width: 17.7083333vw;
                height: 10.4861111vw;
            }
        }
    }
}
