.tabs {
    margin-bottom: 30px;
    list-style: none;
    &__item {
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 10px;
        }
    }

    &__link {
        font-weight: 500;
        line-height: 25px;

        &:hover,
        &.active {
            font-size: 16px;
            font-weight: 700;
            color: inherit;
        }

        &--orange {
            &:hover,
            &:focus,
            &.active {
                color: $color-orange;
            }
        }

        &--d-blue {
            &:hover,
            &:focus,
            &.active {
                color: $color-page-d-blue;
            }
        }

        &--d-green {
            &:hover,
            &:focus,
            &.active {
                color: $color-page-d-green;
            }
        }

        &--red {
            &:hover,
            &:focus,
            &.active {
                color: $color-page-red;
            }
        }

        &--purple {
            &:hover,
            &:focus,
            &.active {
                color: $color-page-purple;
            }
        }

        &--l-blue {
            &:hover,
            &:focus,
            &.active {
                color: $color-page-l-blue;
            }
        }

        &--l-green {
            &:hover,
            &:focus,
            &.active {
                color: $color-page-l-green;
            }
        }

        &--aqua {
            &:hover,
            &:focus,
            &.active {
                color: $color-page-aqua;
            }
        }

        &--big {
            font-size: 50px;
            line-height: 42px;
            font-weight: 800;
            color: #fff;
            text-transform: uppercase;
            text-shadow: -1px -1px 0 $color-text,
                1px -1px 0 $color-text,
                -1px 1px 0 $color-text,
                1px 1px 0 $color-text;
            @supports (-webkit-text-fill-color: transparent) and (-webkit-text-stroke: 2px $color-text) {
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px $color-text;
            }

            &:hover,
            &:focus,
            &.active {
                font-size: 50px;
                font-weight: 800;
                color: $color-text;
                @supports (-webkit-text-fill-color: $color-text) {
                    -webkit-text-fill-color: $color-text;
                }
            }
            @include media-breakpoint-up(lg) {
                font-size: 80px;
                line-height: 40px;
                &:hover,
                &:focus,
                &.active {
                    font-size: 80px;
                }
            }
        }
    }
}