mixin caseActions(color)
  div.d-flex.justify-content-between(block="case-actions" mod=color)
    a(elem="prev" href="#" title="Предыдущий кейс")
      +svg("prev")(width="30px" height="14px")
    a(elem="next" href="#")
      | Следующий кейс
      +svg("next")(width="50px" height="14px")