mixin sidebar(colorSidebar, position)
  aside.js-animated(block="sidebar" class=[colorSidebar, position] data-animation="slideInLeft")
    a(elem="link" href=href)
      +svg('icon_insta')(width="22px" height="22px")
    a(elem="link" href=href)
      +svg('icon_FB')(width="11px" height="20px")
    a(elem="link" href=href)
      +svg('icon_VK')(width="23px" height="13px")
    a(elem="link" href=href)
      +svg('icon_OK')(width="12px" height="20px")
    a(elem="link" mod="orange" href=href)
      +svg('icon_youtube')(width="18px" height="14px")