mixin nav-item(title, url)
	li(elem="item")&attributes(attributes)
		a.js-nav-link(elem="link" href=(url?url:href))=title
		if block
			//- i(elem="item-icon")
			//- 	+svg('angle-down')
			ul(elem="sub-menu")
				block

mixin sub-item(title)
	li(elem="sub-item")&attributes(attributes)
		a.js-nav-link(elem="sub-link" href=href)=title
		if block
			//- i(elem="item-icon")
			//- 	+svg('angle-down')
			block

mixin header(colorHeader, colorMenuBtn, position)
	header.js-animated(block="header" class=[colorHeader, position] data-animation="slideInDown")
		div(elem="top")
			button.btn.js-toggle-menu(elem="menu-btn" mod=colorMenuBtn type="button" aria-label="Меню")

			a(elem="logo" href="index.html")
				+svg('logo')

			div(elem="lang" mod="top")
				span(elem="lang-link" mod="current") ru
				a(elem="lang-link" href=href) en

			div(elem="search")
				input.js-search-field(elem="search-field" type="search" placeholder="Найти")
				button.btn.js-search-btn(elem="search-btn" type="button")
					+svg("search")(width="20px" height="20px")
		div(elem="bottom")
			a(elem="phone" href="tel:88633204489")
					+svg('phone')
					| 8 (863) 320-44-89

			div(elem="lang" mod="bottom")
				a(elem="lang-link" mod="current" href=href) ru
				a(elem="lang-link" href=href) en
		nav.js-menu(block="top-nav")
			div(elem="wrapper")
				//- Menu level 1
				div(elem="menu-container")
					ul.js-aim-menu(elem="level" data-menu="main")
						+nav-item('Главная', 'index.html')(data-submenu="submenu-1")
						+nav-item('О Facecom', 'about-us.html')(data-submenu="submenu-2")
						+nav-item('Услуги')(data-submenu="submenu-3")
						+nav-item('Готовые решения')(data-submenu="submenu-4")
						+nav-item('Кейсы')(data-submenu="submenu-5")
						+nav-item('Блог')(data-submenu="submenu-6")
						+nav-item('SMM-школа')(data-submenu="submenu-7")
						+nav-item('Контакты', "contacts.html")
						+nav-item('Пригласить нас в тендер')(data-submenu="submenu-9")
				//- Menu level 2
				div(elem="menu-container")
					ul.js-aim-menu.js-sub-menu(elem="level" mod="sub" data-menu="submenu-1" data-level="middle")
						li.d-lg-none(elem="item")
							button.btn.btn--back.js-menu-back(type="button" area-label="Назад") Назад
						+nav-item('Digital-маркетинг')(data-submenu="submenu-1-1")
						+nav-item('SMM-родвижение')(data-submenu="submenu-1-2")
						+nav-item('Управление репутацией')(data-submenu="submenu-1-3")
						+nav-item('PR')(data-submenu="submenu-1-4")
					ul.js-aim-menu.js-sub-menu(elem="level" mod="sub" data-menu="submenu-3" data-level="middle")
						li.d-lg-none(elem="item")
							button.btn.btn--back.js-menu-back(type="button" area-label="Назад") Назад
						+nav-item('Digital-маркетинг')(data-submenu="submenu-3-1")
						+nav-item('SMM-родвижение')(data-submenu="submenu-3-2")
						+nav-item('Управление репутацией')(data-submenu="submenu-3-3")
						+nav-item('PR')(data-submenu="submenu-3-4")
				//- Menu level 3
				div(elem="menu-container")
					ul.js-sub-menu(elem="level" mod="sub" data-menu="submenu-1-1" data-level="low")
						li.d-lg-none(elem="item")
							button.btn.btn--back.js-menu-back(type="button" area-label="Назад") Назад
						+nav-item('Web-аудит')
						+nav-item('Brand Lift')

			ul(elem="social-list")
				li(elem="social")
					a(href=href)
						+svg('icon_insta')(width="22px" height="22px")
				li(elem="social")
					a(href=href)
						+svg('icon_FB')(width="11px" height="20px")
				li(elem="social")
					a(href=href)
						+svg('icon_VK')(width="23px" height="13px")
				li(elem="social")
					a(href=href)
						+svg('icon_OK')(width="12px" height="20px")
				li(elem="social")
					a(href=href)
						+svg('icon_youtube')(width="18px" height="14px")
